<div class="container-fluid mt-4 e_page" id="learning_paths_mentors_3" style="">
    <div class="row m-left-15" >
        <div class="col-12">
            <div>
                <div class="m-top-20">
                    <div >
                        <p style="font-size: 22px;color:#505050 ;font-weight: 600;" class="ml-1">Create your learning Path</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
    <div class="col-12">
        <div style=" justify-content: left;position: absolute;top: 35px;">
            <ul style="display: flex;">
                <li class="m-left-50">
                    <div style="display: flex;flex-direction: column;align-items: center;">
                        <img style="z-index: 2" src="img/pagePicture/tic.png" alt="" width="48">
                        <p class="horizontal-mentors"></p>
                        <div class="text-center">
                            <p class="m-top-15" style="font-size: 13px; font-weight: 600">
                                Chose a pre-defined <br>learningpath topic
                            </p>
                        </div>
                    </div>
                </li>
                <li class="m-left-100">
                    <div style="display: flex;flex-direction: column;align-items: center;">
                        <img style="z-index: 2" src="img/pagePicture/tic.png" alt="" width="48">
                        <p class="horizontal-mentors"></p>
                        <div class="text-center">
                            <p class="m-top-15" style="font-size: 13px; font-weight: 600">
                                Chose a pre-defined <br>learningpath topic
                            </p>
                        </div>
                    </div>
                </li>
                <li class="m-left-130">
                    <div style="display: flex;flex-direction: column;align-items: center;">
                        <img style="z-index: 2" src="img/pagePicture/tic.png" alt="" width="48">
                        <p class="horizontal-mentors"></p>
                        <div class="text-center">
                            <p class="m-top-15" style="font-size: 13px; font-weight: 600">
                                Chose a pre-defined <br>learningpath topic
                            </p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
    <div class="row " style="margin-top: 13rem" >
        <div class="container-fluid">
            <div class="row">
                <div class="col-11">
                    <div class="">
                        <h3 class="text-capitalize breadcrumb-title w-100">
                            <span class="ml-30">Your learning paths</span>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-11" style="margin-top: 40px">
            <div class="row m-0 p-0">
                <div class="col-md-6 mb-25">
                    <div class="user-group px-30 pt-30 pb-25 radius-xl bg-white shadow">
                        <div style="padding-top: 19px;" >
                            <div class="media user-group-media d-flex justify-content-between">
                                <div class="media-body d-flex align-items-center">
                                    <img class="mr-20 wh-70 rounded-circle " src="img/ekremnamazci.png" alt="author">
                                    <div>
                                        <div class="m-left-5">
                                            <a href="#learning_paths">
                                                <h6 class="mt-0  fw-600 fs-20">Data & AI</h6>
                                            </a>
                                        </div>
                                        <div class="d-flex">
                                            <p class="fs-13 color-light mb-0"><img src="img/pagePicture/user.png" alt=""><span class="ml-1">Ekrem Namazci</span></p>
                                            <p class="fs-13 color-light mb-0 ml-5"><img src="img/pagePicture/layers.png" alt=""><span class="ml-2">15 Modules</span></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="mt-n15">
                                    <div>
                                        <a class="btn btn-info p-1" href="#learning_path_detail">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right nav-icon" style="color:white;width: 30px;height: 30px;"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>
                                        </a>                                        </div>
                                </div>
                            </div>
                            <div class="user-group-people">
                                <p class="mt-15">The meaning behind common AI terminology, including neural networks, machine learning, deep learning, and data science. </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3  mb-5">
                    <div  class=" p-top-20 p-bottom-20 plus-mentors-2">
                        <span class="plus-mentors"><i class="fas fa-plus" ></i></span>
                        <div class="p-top-10">
                            <p class="mb-0" style="font-weight: 600;color: #444444; font-size: 14px;">Add new learning path</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex" style="align-items: center;margin-top: -30px;">
                <div class="m-left-20">
                    <p style="width: 200px;">
                    <div style="display: flex;align-items: baseline;background: white!important; padding-left: 18px; padding-top: 12px; border-radius: 4px; border: 1px solid  #e3e3e3;">
                        <div>
                            <img src="img/upload/edit.png" alt="" width="20">
                        </div>
                        <div>
                            <p style="padding-top: 3px;" class="p-left-10">Edit masterclass</p>
                        </div>
                    </div>
                    </p>
                </div>
                <div class="m-left-20">
                    <p style="width: 50px;">
                    <div style="display: flex;align-items: baseline;  background: white!important; padding-left: 14px;padding-top: 16px;border-radius: 4px;border: 1px solid #e3e3e3;padding-bottom: 16px;">
                        <div>
                            <img src="img/upload/trash.png" alt="" width="20">
                        </div>
                    </div>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container-fluid">
            <div class="row">
                <div class="col-11">
                    <div class="m-top-100 border-bottom">
                        <h1 class="text-capitalize breadcrumb-title w-100">
                            <span class="ml-30">All learning paths</span>
                        </h1>
                        <p class="fs-14 ml-30">Check all learning paths from our GDEXA mentors</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-11" style="margin-top: 40px">
            <div class="row m-0 p-0">
                <div class="col-md-6 mb-25"><aqq></aqq>
                    <div class="user-group px-30 pt-30 pb-25 radius-xl bg-white shadow">
                        <div style="padding-top: 19px;" >
                            <div class="media user-group-media d-flex justify-content-between">
                                <div class="media-body d-flex align-items-center">
                                    <img class="mr-20 wh-70 rounded-circle " src="img/favicon.png" alt="author">
                                    <div>
                                        <div class="m-left-5">
                                            <a href="#learning_path_detail">
                                                <h6 class="mt-0  fw-600 fs-20">How to prepare for a Mentoring Sessions</h6>
                                            </a>
                                        </div>
                                        <div class="d-flex">
                                            <p class="fs-13 color-light mb-0"><img src="img/pagePicture/user.png" alt=""><span class="ml-1">GDEXA</span></p>
                                            <p class="fs-13 color-light mb-0 ml-5"><img src="img/pagePicture/layers.png" alt=""><span class="ml-2">10 Modules</span></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="mt-n15">
                                    <div>
                                        <a class="btn btn-info p-1" href="#learning_path_detail">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right nav-icon" style="color:white;width: 30px;height: 30px;"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>
                                        </a>                                        </div>
                                </div>
                            </div>
                            <div class="user-group-people">
                                <p class="mt-15">Take the time initially to get to know your mentee as person – career track, family situation, key experiences.  Find some key connection points. </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-25">
                    <div class="user-group px-30 pt-30 pb-25 radius-xl bg-white shadow">
                        <div style="padding-top: 19px;" >
                            <div class="media user-group-media d-flex justify-content-between">
                                <div class="media-body d-flex align-items-center">
                                    <img class="mr-20 wh-70 rounded-circle " src="img/ekremnamazci.png" alt="author">
                                    <div>
                                        <div class="m-left-5">
                                            <a href="#learning_path_detail">
                                                <h6 class="mt-0  fw-600 fs-20">Data & Al</h6>
                                            </a>
                                        </div>
                                        <div class="d-flex">
                                            <p class="fs-13 color-light mb-0"><img src="img/pagePicture/user.png" alt=""><span class="ml-1">Ekrem Namazci</span></p>
                                            <p class="fs-13 color-light mb-0 ml-5"><img src="img/pagePicture/layers.png" alt=""><span class="ml-2">15 Modules</span></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="mt-n15">
                                    <div>
                                        <a class="btn btn-info p-1" href="#learning_path_detail">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right nav-icon" style="color:white;width: 30px;height: 30px;"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="user-group-people">
                                <p class="mt-15">The meaning behind common AI terminology, including neural networks, machine learning, deep learning, and data science. </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-25">
                    <div class="user-group px-30 pt-30 pb-25 radius-xl bg-white shadow">
                        <div style="padding-top: 19px;" >
                            <div class="media user-group-media d-flex justify-content-between">
                                <div class="media-body d-flex align-items-center">
                                    <img class="mr-20 wh-70 rounded-circle " src="img/jasminweimuller.png" alt="author">
                                    <div>
                                        <div class="m-left-5">
                                            <a href="#learning_path_detail">
                                                <h6 class="mt-0  fw-600 fs-20">Data Science</h6>
                                            </a>
                                        </div>
                                        <div class="d-flex">
                                            <p class="fs-13 color-light mb-0"><img src="img/pagePicture/user.png" alt=""><span class="ml-1">Jasmin Wimuller</span></p>
                                            <p class="fs-13 color-light mb-0 ml-5"><img src="img/pagePicture/layers.png" alt=""><span class="ml-2">15 Modules</span></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="mt-n15">
                                    <div>
                                        <button class="btn btn-info p-1">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right nav-icon" style="color:white;width: 30px;height: 30px;"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>
                                        </button>                                        </div>
                                </div>
                            </div>
                            <div class="user-group-people">
                                <p class="mt-15">In this course, we will meet some data science practitioners and we will get an overview of what data science is today. </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-25">
                    <div class="user-group px-30 pt-30 pb-25 radius-xl bg-white shadow">
                        <div style="padding-top: 19px;" >
                            <div class="media user-group-media d-flex justify-content-between">
                                <div class="media-body d-flex align-items-center">
                                    <img class="mr-20 wh-70 rounded-circle " src="img/karansachdeva.png" alt="author">
                                    <div>
                                        <div class="m-left-5">
                                            <a href="#learning_path_detail">
                                                <h6 class="mt-0  fw-600 fs-20">Cyber Security</h6>
                                            </a>
                                        </div>
                                        <div class="d-flex">
                                            <p class="fs-13 color-light mb-0"><img src="img/pagePicture/user.png" alt=""><span class="ml-1">Karan Sachdeva</span></p>
                                            <p class="fs-13 color-light mb-0 ml-5"><img src="img/pagePicture/layers.png" alt=""><span class="ml-2">15 Modules</span></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="mt-n15">
                                    <div>
                                        <button class="btn btn-info p-1">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right nav-icon" style="color:white;width: 30px;height: 30px;"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>
                                        </button>                                        </div>
                                </div>
                            </div>
                            <div class="user-group-people">
                                <p class="mt-15">Cybersecurity is the practice of protecting systems, networks, and programs from digital attacks. </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-25">
                    <div class="user-group px-30 pt-30 pb-25 radius-xl bg-white shadow">
                        <div style="padding-top: 19px;" >
                            <div class="media user-group-media d-flex justify-content-between">
                                <div class="media-body d-flex align-items-center">
                                    <img class="mr-20 wh-70 rounded-circle " src="img/marilyntan.png" alt="author">
                                    <div>
                                        <div class="m-left-5">
                                            <a href="#learning_path_detail">
                                                <h6 class="mt-0  fw-600 fs-20">Start-Up & Enterpreuship</h6>
                                            </a>
                                        </div>
                                        <div class="d-flex">
                                            <p class="fs-13 color-light mb-0"><img src="img/pagePicture/user.png" alt=""><span class="ml-1">Marilyn Tan</span></p>
                                            <p class="fs-13 color-light mb-0 ml-5"><img src="img/pagePicture/layers.png" alt=""><span class="ml-2">15 Modules</span></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="mt-n15">
                                    <div>
                                        <button class="btn btn-info p-1">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right nav-icon" style="color:white;width: 30px;height: 30px;"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>
                                        </button>                                        </div>
                                </div>
                            </div>
                            <div class="user-group-people">
                                <p class="mt-15">The Startup Entrepreneurship specialization focuses on issues of Innovation, Creativity and Entrepreneurship. </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-25">
                    <div class="user-group px-30 pt-30 pb-25 radius-xl bg-white shadow">
                        <div style="padding-top: 19px;" >
                            <div class="media user-group-media d-flex justify-content-between">
                                <div class="media-body d-flex align-items-center">
                                    <img class="mr-20 wh-70 rounded-circle " src="img/sigridrouam.png" alt="author">
                                    <div>
                                        <div class="m-left-5">
                                            <a href="#learning_path_detail">
                                                <h6 class="mt-0  fw-600 fs-20">Sales & Busines Development</h6>
                                            </a>
                                        </div>
                                        <div class="d-flex">
                                            <p class="fs-13 color-light mb-0"><img src="img/pagePicture/user.png" alt=""><span class="ml-1">Dr. Sigrid Rouam</span></p>
                                            <p class="fs-13 color-light mb-0 ml-5"><img src="img/pagePicture/layers.png" alt=""><span class="ml-2">15 modules</span></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="mt-n15">
                                    <div>
                                        <button class="btn btn-info p-1">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right nav-icon" style="color:white;width: 30px;height: 30px;"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>
                                        </button>                                        </div>
                                </div>
                            </div>
                            <div class="user-group-people">
                                <p class="mt-15">Sales development focuses on identifying leads, researching and developing them and moving them along the sales cycle toward a closing. </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-25">
                    <div class="user-group px-30 pt-30 pb-25 radius-xl bg-white shadow">
                        <div style="padding-top: 19px;" >
                            <div class="media user-group-media d-flex justify-content-between">
                                <div class="media-body d-flex align-items-center">
                                    <img class="mr-20 wh-70 rounded-circle " src="img/hennerschliebs.png" alt="author">
                                    <div>
                                        <div class="m-left-5">
                                            <a href="#learning_path_detail">
                                                <h6 class="mt-0  fw-600 fs-20">Python Development</h6>
                                            </a>
                                        </div>
                                        <div class="d-flex">
                                            <p class="fs-13 color-light mb-0"><img src="img/pagePicture/user.png" alt=""><span class="ml-1">Henner Schliebs</span></p>
                                            <p class="fs-13 color-light mb-0 ml-5"><img src="img/pagePicture/layers.png" alt=""><span class="ml-2">15 Modules</span></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="mt-n15">
                                    <div>
                                        <button class="btn btn-info p-1">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right nav-icon" style="color:white;width: 30px;height: 30px;"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>
                                        </button>                                        </div>
                                </div>
                            </div>
                            <div class="user-group-people">
                                <p class="mt-15">Python was conceived in the late 1980s by Guido van Rossum at Centrum Wiskunde & Informatica (CWI) in the Netherlands as a successor to the ABC programming language, which was inspired by SETL, capable of exception handling and interfacing with the Amoeba operating system. Its implementation began in December 1989. </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-25">
                    <div class="user-group px-30 pt-30 pb-25 radius-xl bg-white shadow">
                        <div style="padding-top: 19px;" >
                            <div class="media user-group-media d-flex justify-content-between">
                                <div class="media-body d-flex align-items-center">
                                    <img class="mr-20 wh-70 rounded-circle " src="img/marilyntan.png" alt="author">
                                    <div>
                                        <div class="m-left-5">
                                            <a href="#learning_path_detail">
                                                <h6 class="mt-0  fw-600 fs-20">Java Programing</h6>
                                            </a>
                                        </div>
                                        <div class="d-flex">
                                            <p class="fs-13 color-light mb-0"><img src="img/pagePicture/user.png" alt=""><span class="ml-1">Marilyn Tan</span></p>
                                            <p class="fs-13 color-light mb-0 ml-5"><img src="img/pagePicture/layers.png" alt=""><span class="ml-2">15 Modules</span></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="mt-n15">
                                    <div>
                                        <button class="btn btn-info p-1">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right nav-icon" style="color:white;width: 30px;height: 30px;"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>
                                        </button>                                        </div>
                                </div>
                            </div>
                            <div class="user-group-people">
                                <p class="mt-15">Java is a high-level, class-based, object-oriented programming language that is designed to have as few implementation dependencies as possible. It is a general-purpose programming language intended to let programmers write once, run anywhere (WORA),meaning that compiled Java code can run on all platforms that support Java without the need to recompile. </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-25">
                    <div class="user-group px-30 pt-30 pb-25 radius-xl bg-white shadow">
                        <div style="padding-top: 19px;" >
                            <div class="media user-group-media d-flex justify-content-between">
                                <div class="media-body d-flex align-items-center">
                                    <img class="mr-20 wh-70 rounded-circle " src="img/karansachdeva.png" alt="author">
                                    <div>
                                        <div class="m-left-5">
                                            <a href="#learning_path_detail">
                                                <h6 class="mt-0  fw-600 fs-20">Web Development</h6>
                                            </a>
                                        </div>
                                        <div class="d-flex">
                                            <p class="fs-13 color-light mb-0"><img src="img/pagePicture/user.png" alt=""><span class="ml-1">Karan Sachdeva</span></p>
                                            <p class="fs-13 color-light mb-0 ml-5"><img src="img/pagePicture/layers.png" alt=""><span class="ml-2">15 Modules</span></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="mt-n15">
                                    <div>
                                        <button class="btn btn-info p-1">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right nav-icon" style="color:white;width: 30px;height: 30px;"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>
                                        </button>                                        </div>
                                </div>
                            </div>
                            <div class="user-group-people">
                                <p class="mt-15">Web development is the work involved in developing a website for the Internet (World Wide Web) or an intranet (a private network). </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-25">
                    <div class="user-group px-30 pt-30 pb-25 radius-xl bg-white shadow">
                        <div style="padding-top: 19px;" >
                            <div class="media user-group-media d-flex justify-content-between">
                                <div class="media-body d-flex align-items-center">
                                    <img class="mr-20 wh-70 rounded-circle " src="img/farahsaleh.png" alt="author">
                                    <div>
                                        <div class="m-left-5">
                                            <a href="#learning_path_detail">
                                                <h6 class="mt-0  fw-600 fs-20">Cyber Security</h6>
                                            </a>
                                        </div>
                                        <div class="d-flex">
                                            <p class="fs-13 color-light mb-0"><img src="img/pagePicture/user.png" alt=""><span class="ml-1">Farah Saleh</span></p>
                                            <p class="fs-13 color-light mb-0 ml-5"><img src="img/pagePicture/layers.png" alt=""><span class="ml-2">15 Modules</span></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="mt-n15">
                                    <div>
                                        <button class="btn btn-info p-1">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right nav-icon" style="color:white;width: 30px;height: 30px;"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>
                                        </button>                                        </div>
                                </div>
                            </div>
                            <div class="user-group-people">
                                <p class="mt-15">Cybersecurity is the practice of protecting critical systems and sensitive information from digital attacks. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>