<div class="container-fluid e_page" id="learning_paths_mentors2_2" style="">
    <% current_verify_step_2 = 3; %>
    <%- include('../progress/mentor_verify'); %>
    <div >
        <div class="row">
            <div class="col-lg-10 col-md-12 col-sm-12  col-xs-12 mb-25" style="margin-top: 20px; padding-right: 0">
                <div class="social-overview-wrap " style="margin-top: 3rem">
                    <div class="card border-0">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="card-body">
                                    <div class="tabs-to-dropdown">
                                        <div class="row">
                                            <div class="col-4 p-left-70">
                                                <div style="position: relative;margin-top: -79px;">
                                                    <a href="" class="d-flex">
                                                        <div>
                                                            <img src="img/ekremnamazci.png" width="95" alt="">
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            <div>
                                                <div class="container-fluid">
                                                    <div class="card-body overflow-x-auto py-20 pl-25 pr-sm-20 pr-30">
                                                        <div>
                                                            <h4 style="font-size: 24px; color:#212529c4">Data Analytics Learning Path</h4>
                                                            <form class="form-now m-top-30">
                                                                <div class="form-group col-md-8 p-left-0">
                                                                    <input type="email" class="form-control" id="inputEmail4" placeholder="Add short description here" style="padding:50px">
                                                                </div>
                                                            </form>
                                                        </div>
                                                        <div class="timeline-box--3 timeline-vertical left-middle basic-timeline scroll-timeline">
                                                            <ul class="timeline" style="margin-left: 110px;">
                                                                <li class="timeline-inverted">
                                                                    <div class="info">
                                                                        <span class="atbd-tag tag-secondary sd">MEETING</span>
                                                                    </div>
                                                                    <div class="timeline-single__buble">
                                                                        <button class="timeline-single__buble--svg btn-white" style="border: 4px solid #2c99ff !important;">
                                                                        </button>
                                                                    </div>
                                                                    <div class="timeline-single">
                                                                        <div class="timeline-single__days">
                                                                            <h2>Mentoring Meeting #1 - Discovery Session</h2>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                                <li class="timeline-inverted add-btn mt-30 pt-35">
                                                                    <div class="timeline-single__buble">
                                                                        <button data-toggle="modal" data-target="#AddNewActivity" class="timeline-single__buble--svg  btn-primary shadow">
                                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="#ffffff" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="svg replaced-svg"><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg>
                                                                        </button>
                                                                    </div>
                                                                </li>
                                                                <li class="timeline-inverted">
                                                                    <div class="info">
                                                                        <span class="atbd-tag tag-primary sd">VIDEO</span>
                                                                    </div>
                                                                    <div class="timeline-single__buble">
                                                                        <button class="timeline-single__buble--svg btn-white" style="border: 4px solid #2c99ff !important;">
                                                                        </button>
                                                                    </div>
                                                                    <div class="timeline-single">
                                                                        <div class="timeline-single__days">
                                                                            <h2>Watch Ted Talk about Google Al</h2>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                                <li class="timeline-inverted add-btn mt-30 pt-35">
                                                                    <div class="timeline-single__buble">
                                                                        <button data-toggle="modal" data-target="#AddNewActivity" class="timeline-single__buble--svg  btn-primary shadow">
                                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="#ffffff" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="svg replaced-svg"><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg>
                                                                        </button>
                                                                    </div>
                                                                </li>
                                                                <li class="timeline-inverted">
                                                                    <div class="info">
                                                                        <span class="atbd-tag tag-warning sd">ARTICLE</span>
                                                                    </div>
                                                                    <div class="timeline-single__buble">
                                                                        <button class="timeline-single__buble--svg btn-white" style="border: 4px solid #2c99ff !important;">
                                                                        </button>
                                                                    </div>
                                                                    <div class="timeline-single">
                                                                        <div class="timeline-single__days">
                                                                            <h2>Read HBR Article about IBM Watson</h2>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                                <li class="timeline-inverted add-btn mt-30 pt-35">
                                                                    <div class="timeline-single__buble">
                                                                        <button data-toggle="modal" data-target="#AddNewActivity" class="timeline-single__buble--svg  btn-primary shadow">
                                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="#ffffff" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="svg replaced-svg"><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg>
                                                                        </button>
                                                                    </div>
                                                                </li>
                                                                <li class="timeline-inverted">
                                                                    <div class="info">
                                                                        <span class="atbd-tag tag-secondary tag-danger sd">BLOG</span>
                                                                    </div>
                                                                    <div class="timeline-single__buble">
                                                                        <button class="timeline-single__buble--svg btn-white" style="border: 4px solid #2c99ff !important;">
                                                                        </button>
                                                                    </div>
                                                                    <div class="timeline-single">
                                                                        <div class="timeline-single__days">
                                                                            <h2>Write a blog with your learnings</h2>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                                <li class="timeline-inverted add-btn mt-30 pt-35">
                                                                    <div class="timeline-single__buble">
                                                                        <button data-toggle="modal" data-target="#AddNewActivity" class="timeline-single__buble--svg  btn-primary shadow">
                                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="#ffffff" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="svg replaced-svg"><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg>
                                                                        </button>
                                                                    </div>
                                                                </li>
                                                                <li class="timeline-inverted">
                                                                    <div class="info">
                                                                        <span class="atbd-tag tag-secondary sd">MEETING</span>
                                                                    </div>
                                                                    <div class="timeline-single__buble">
                                                                        <button class="timeline-single__buble--svg btn-white" style="border: 4px solid #2c99ff !important;">
                                                                        </button>
                                                                    </div>
                                                                    <div class="timeline-single">
                                                                        <div class="timeline-single__days">
                                                                            <h2>Mentoring Meeting #2 - Setting Learning Path</h2>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                                <li class="timeline-inverted add-btn mt-30 pt-35">
                                                                    <div data-toggle="modal" data-target="#AddNewActivity" class="timeline-single__buble">
                                                                        <button class="timeline-single__buble--svg  btn-primary shadow">
                                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="#ffffff" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="svg replaced-svg"><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg>
                                                                        </button>
                                                                    </div>
                                                                </li>
                                                                <li class="timeline-inverted">
                                                                    <div class="info">
                                                                        <span class="atbd-tag tag-success sd">HACKATHON</span>
                                                                    </div>
                                                                    <div class="timeline-single__buble">
                                                                        <button class="timeline-single__buble--svg btn-white" style="border: 4px solid #2c99ff !important;">
                                                                        </button>
                                                                    </div>
                                                                    <div class="timeline-single">
                                                                        <div class="timeline-single__days">
                                                                            <h2>Thinkathon or Hack Project</h2>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                                <li class="timeline-inverted add-btn mt-30 pt-35">
                                                                    <div class="timeline-single__buble">
                                                                        <button data-toggle="modal" data-target="#AddNewActivity" class="timeline-single__buble--svg  btn-primary shadow">
                                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="#ffffff" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="svg replaced-svg"><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg>
                                                                        </button>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                            <a href="#learning_paths_mentors2_3">
                                                                <button id="create_learning_path" class="btn btn-info m-left-100">Publish your learning path</button>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>