<div class="container-fluid mt-4 e_page" id="learning_paths_mentors2_1" style="">
    <% current_verify_step_2 = 3; %>
    <%- include('../progress/mentor_verify'); %>
    <div class="row m-left-15" >
        <div class="col-12">
            <div>
                <div class="m-top-20">
                    <div >
                        <p style="font-size: 22px;color:#505050 ;font-weight: 600;" class="ml-1">Create your learning Path</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row m-left-15 m-top-10 m-bottom-40" >
        <div class="col-8">
            <div class="row m-top-20">
                <div class="p-top-10 p-left-20" class="d-flex " >
                    <p class="btn btn-learning d-flex"  style="width: 240px;height: 123px;flex-direction: column;background: #2c99ff !important; color: white!important;">
                        <img src="img/pagePicture/tic.png" width="20">
                        Data Analytics
                    </p>
                </div>
                <div class="p-top-10 p-left-20" >
                    <p class="btn btn-learning"  style="width: 240px;height: 123px;">Data Science</p>
                </div>
                <div class="p-top-10 p-left-20" >
                    <p class="btn btn-learning"  style="width: 240px;height: 123px;">Marketing</p>
                </div>
                <div class="p-top-10 p-left-20" >
                    <p class="btn btn-learning"  style="width: 240px;height: 123px;">Digital  Innovation</p>
                </div>
                <div class="p-top-10 p-left-20" >
                    <p class="btn btn-learning"  style="width: 240px;height: 123px;">Product Managment</p>
                </div>
                <div class="p-top-10 p-left-20" >
                    <p class="btn btn-learning"  style="width: 240px;height: 123px;">UI/UX Design</p>
                </div>
                <div class="p-top-10 p-left-20" >
                    <p class="btn btn-learning"  style="width: 240px;height: 123px;">Sales</p>
                </div>
                <div class="p-top-10 p-left-20" >
                    <p class="btn btn-learning"  style="width: 240px;height: 123px;">Enterpreneuship</p>
                </div>
                <div class="p-top-10 p-left-20" >
                    <p class="btn btn-learning"  style="width: 240px;height: 123px;">E-Commerce</p>
                </div>
                <div class="p-top-10 p-left-20" >
                    <p class="btn btn-learning"  style="width: 240px;height: 123px;">Finanace</p>
                </div>
                <div class="p-top-10 p-left-20" >
                    <p class="btn btn-learning"  style="width: 240px;height: 123px;">Digital Transformation</p>
                </div>
                <div class="p-top-10 p-left-20" >
                    <p class="btn btn-learning"  style="width: 240px;height: 123px;">Leadership</p>
                </div>
                <div class="p-top-10 p-left-20" >
                    <p class="btn btn-learning"  style="width: 240px;height: 123px;">E-commerce</p>
                </div>
                <div class="p-top-10 p-left-20" >
                    <p class="btn btn-learning"  style="width: 240px;height: 123px;">Finanace</p>
                </div>
                <div class="p-top-10 p-left-20" >
                    <p class="btn btn-learning"  style="width: 240px;height: 123px;">Digital Transformation</p>
                </div>
                <div class="p-top-10 p-left-20" >
                    <p class="btn btn-learning"  style="width: 240px;height: 123px;">Leadership</p>
                </div>
            </div>
            <div style="text-align: -webkit-center; margin-top: 30px">
                <a href="#learning_paths_mentors2_2"><button class="btn btn-info">Next step</button>
                </a>
            </div>
        </div>
    </div>
</div>