<div class="container-fluid mt-4 e_page" id="learning_paths_mentors" style="">
    <div class="row m-left-15" >
        <div class="col-12">
            <div>
                <div class="m-top-20">
                    <div >
                        <p style="font-size: 22px;color:#505050 ;font-weight: 600;" class="ml-1">Create your learning Path</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div style=" justify-content: left;position: absolute;top: 35px;">
                <ul style="display: flex;">
                    <li class="m-left-50">
                        <div style="display: flex;flex-direction: column;align-items: center;">
                            <img style="z-index: 2" src="img/pagePicture/tic.png" alt="" width="48">
                            <p class="horizontal-mentors"></p>
                            <div class="text-center">
                                <p class="m-top-15" style="font-size: 13px; font-weight: 600">
                                    Chose a pre-defined <br>learningpath topic
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="m-left-100">
                        <div style="display: flex;flex-direction: column;align-items: center;">
                            <div class="progress-bar-paths">
                                <p class="progress-bar-paths-p" style="padding-left: 21px">1</p>
                            </div>
                            <div class="text-center">
                                <p class="m-top-15" style="font-size: 13px; font-weight: 600">
                                    Customize the pre-defined<br> learning-path
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="m-left-130">
                        <div style="display: flex;flex-direction: column;align-items: center;">
                            <div class="progress-bar-paths">
                                <p class="progress-bar-paths-p">2</p>
                            </div>
                            <div class="text-center">
                                <p class="m-top-15" style="font-size: 13px; font-weight: 600">
                                    Publish it!
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row m-left-15 m-top-150 m-bottom-40" >
        <div class="col-8">
            <div class="row m-top-20">
                <div class="p-top-10 p-left-20" class="d-flex " >
                    <p class="btn btn-learning d-flex"  style="width: 240px;height: 123px;flex-direction: column;background: #2c99ff !important; color: white!important;">
                        <img src="img/pagePicture/tic.png" width="20">
                        Data Analytics
                    </p>
                </div>
                <div class="p-top-10 p-left-20" >
                    <p class="btn btn-learning"  style="width: 240px;height: 123px;">Data Science</p>
                </div>
                <div class="p-top-10 p-left-20" >
                    <p class="btn btn-learning"  style="width: 240px;height: 123px;">Marketing</p>
                </div>
                <div class="p-top-10 p-left-20" >
                    <p class="btn btn-learning"  style="width: 240px;height: 123px;">Digital  Innovation</p>
                </div>
                <div class="p-top-10 p-left-20" >
                    <p class="btn btn-learning"  style="width: 240px;height: 123px;">Product Managment</p>
                </div>
                <div class="p-top-10 p-left-20" >
                    <p class="btn btn-learning"  style="width: 240px;height: 123px;">UI/UX Design</p>
                </div>
                <div class="p-top-10 p-left-20" >
                    <p class="btn btn-learning"  style="width: 240px;height: 123px;">Sales</p>
                </div>
                <div class="p-top-10 p-left-20" >
                    <p class="btn btn-learning"  style="width: 240px;height: 123px;">Enterpreneuship</p>
                </div>
                <div class="p-top-10 p-left-20" >
                    <p class="btn btn-learning"  style="width: 240px;height: 123px;">E-Commerce</p>
                </div>
                <div class="p-top-10 p-left-20" >
                    <p class="btn btn-learning"  style="width: 240px;height: 123px;">Finanace</p>
                </div>
                <div class="p-top-10 p-left-20" >
                    <p class="btn btn-learning"  style="width: 240px;height: 123px;">Digital Transformation</p>
                </div>
                <div class="p-top-10 p-left-20" >
                    <p class="btn btn-learning"  style="width: 240px;height: 123px;">Leadership</p>
                </div>
                <div class="p-top-10 p-left-20" >
                    <p class="btn btn-learning"  style="width: 240px;height: 123px;">E-commerce</p>
                </div>
                <div class="p-top-10 p-left-20" >
                    <p class="btn btn-learning"  style="width: 240px;height: 123px;">Finanace</p>
                </div>
                <div class="p-top-10 p-left-20" >
                    <p class="btn btn-learning"  style="width: 240px;height: 123px;">Digital Transformation</p>
                </div>
                <div class="p-top-10 p-left-20" >
                    <p class="btn btn-learning"  style="width: 240px;height: 123px;">Leadership</p>
                </div>
            </div>
            <div style="text-align: -webkit-center; margin-top: 30px">
                <a href="#learning_paths_mentors_2"><button class="btn btn-info">Next step</button>
                </a>
            </div>
        </div>
    </div>
</div>