<div class="container-fluid e_page" id="masterclass_install_mentor" style="display:none;">
    <h4 style="margin-top: 30px;margin-left: 20px">Masterclass</h4>
    <p style="margin-top: 10px; margin-left: 20px">Upload your masterclass video here</p>
    <div class="row p-top-25" >
        <div class="col-md-7">
            <div class="row p-0 m-0">
                <div class="col-md-12">
                    <div class="card card-default card-md mb-4" style="width: 88.45%">
                        <div class="row">
                            <div class="col-lg-12 m-top-30">
                                <div class="row" style="display:flex; flex-direction: row;align-items: center;">
                                    <div class="col-6">
                                        <div class="" style="text-align: end">
                                            <img src="img/upload/masterclass-upload.png" width="240" alt="">
                                        </div>
                                    </div>
                                    <div class="col-6 m-top-10" >
                                        <div class="d-flex">
                                            <div>
                                                <img src="img/pagePicture/tic.png" alt="" width="20">
                                            </div>
                                            <div class="p-left-10" style="padding-top: 2px">
                                                <p>10 mins personal story</p>
                                            </div>
                                        </div><div class="d-flex">
                                        <div>
                                            <img src="img/pagePicture/tic.png" alt="" width="20">
                                        </div>
                                        <div class="p-left-10" style="padding-top: 2px">
                                            <p>10 mins subject expertise</p>
                                        </div>
                                    </div><div class="d-flex">
                                        <div>
                                            <img src="img/pagePicture/tic.png" alt="" width="20">
                                        </div>
                                        <div class="p-left-10 " style="padding-top: 2px">
                                            <p>10 mins learnings for mentees</p>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                                <p class="m-top-40" style="border-bottom: 1px solid #ededed"></p>
                                <div class="d-flex m-top-40"  style="flex-direction: row;justify-content: center;">
                                    <input style="width: 60%" type="text" class="form-control ih-medium ip-gray radius-xs b-light px-15 text-extra-light" id="formGroupExampleInput" value="Add your Master topic" >
                                </div>
                                <div class="text-center m-top-20">
                                    <img   src="img/upload/masterclass-install-2.png" alt="" width="425" height="250">
                                </div>
                            </div>
                            <div class="container">
                                <div class="row">
                                    <div class="col-12 p-top-40 p-bottom-40">
                                        <div style="text-align: -webkit-center;" >
                                            <a href="#masterclass_upload_mentor" class="btn btn-info"><span style="padding: 4px">Upload your masterclass</span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="row">
            <div class="container-fluid">
                <div class="m-top-70 m-left-10" >
                    <div >
                        <p style="font-size: 26px;color: rgb(0 0 0 / 80%);font-weight: 600;" >Global Mentors & Masterclasses</p>
                        <p  style="margin-top: -15px;font-size: 15px;" >Here you can watch the masterclasses for our Mentors. If you want to access their learning path, you need to be connected to the mentor.</p>
                    </div>

                </div>
            </div>
            <div class="col-md-9 mb-25  px-3" style="margin-top: -14px">
                <div class="row">
                    <div class="col-xs-4  mt-1" style="margin-left: 25px">
                        <div>
                            <div class="profile-card-3">
                                <img draggable="false" src="img/image-2/Mabel.jpg" width="350" height="350" class="img img-responsive ">
                                <div class="profile-play-circle "><i style="width: 100px" class="far fa-play-circle"></i></div>
                                <div class="profile-card-main">
                                    <div class="profile-name-3">Mabel Lu</div>
                                    <div class="profile-username-3 pb-1">Global VP Digital Transformation <i style="margin-left:4px;margin-right: 4px " class="fas fa-map-marker-alt"></i>   Danone</div>
                                    <div class="profile-button">
                                        <button class="profile-button-btn ">Start Up</button>
                                        <button class="profile-button-btn ml-2">Sales</button>
                                        <button class="profile-button-btn ml-2"> Data & Al</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4  mt-1" style="margin-left: 25px">
                        <div>
                            <div class="profile-card-3"><img draggable="false" src="img/image-2/Alexander.jpg" width="350" height="350" class="img img-responsive ">
                                <div class="profile-play-circle"><i style="width: 100px" class="far fa-play-circle"></i></div>
                                <div class="profile-card-main">
                                    <div class="profile-name-3">Alexander Alten-Lorenz</div>
                                    <div class="profile-username-3 pb-1">CEO <i style="margin-left:4px;margin-right: 4px " class="fas fa-map-marker-alt"></i>   Databloom.ai</div>
                                    <div class="profile-button">
                                        <button class="profile-button-btn ">Start Up</button>
                                        <button class="profile-button-btn ml-2">Sales</button>
                                        <button class="profile-button-btn ml-2"> Data & Al</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4  mt-1" style="margin-left: 25px">
                        <div>
                            <div class="profile-card-3"><img draggable="false" src="img/guilia.jpg" width="350" height="350" class="img img-responsive ">
                                <div class="profile-play-circle"><i style="width: 100px" class="far fa-play-circle"></i></div>
                                <div class="profile-card-main">
                                    <div class="profile-name-3">Guilia Böhler</div>
                                    <div class="profile-username-3 pb-1">Partner Manager <i style="margin-left:4px;margin-right: 4px " class="fas fa-map-marker-alt"></i>   Google</div>
                                    <div class="profile-button">
                                        <button class="profile-button-btn ">Start Up</button>
                                        <button class="profile-button-btn ml-2">Sales</button>
                                        <button class="profile-button-btn ml-2"> Data & Al</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
