<div class="container-fluid e_page" id="mentor_masterclass_add_new_2" style="display:none;">
    <% current_verify_step_2 = 3; %>
    <%- include('../progress/mentor_verify'); %>
    <div>
        <div class="row">
            <div class="container-fluid">
                <div class="m-top-30 m-left-10" >
                    <div >
                        <p style="font-size: 26px;color: rgb(0 0 0 / 80%);font-weight: 600;" >Your Masterclass</p>
                        <p  style="margin-top: -15px;font-size: 15px;" >Upload your masterclass Video here</p>
                    </div>
                </div>
            </div>
            <div class="col-md-9 mb-25  px-3 m-top-20" >
                <div class="row">
                    <div class="col-xs-4  mt-1" style="margin-left: 25px">
                        <div>
                            <div class="profile-card-3"><img draggable="false" src="img/pagePicture/ekrem.jpg" width="350" height="350" class="img img-responsive ">
                                <div class="profile-play-circle"><i style="width: 100px" class="far fa-play-circle"></i></div>
                                <div class="profile-card-main">
                                    <div class="profile-name-3 pb-1">Ekrem Namazci</div>
                                    <div class="profile-username-3">Data & AI Lead <i style="margin-left:4px;margin-right: 4px " class="fas fa-map-marker-alt"></i>   Microsoft</div>
                                    <div class="profile-button">
                                        <button class="profile-button-btn ">Start Up</button>
                                        <button class="profile-button-btn ml-2">Sales</button>
                                        <button class="profile-button-btn ml-2"> Data & Al</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4  mb-5 m-top-15 p-left-40">
                        <div  class=" p-top-20 p-bottom-20 plus-masterclass-2">
                            <span class="plus-masterclass"><i class="fas fa-plus" ></i></span>
                            <div class="p-top-10">
                                <p class="mb-0" style="font-weight: 600;color: #444444; font-size: 18px;">Add new masterclass</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex" style="align-items: center; margin-top: -50px">
            <div class="m-left-20">
                <p style="width: 200px;">
                   <div style="display: flex;align-items: baseline;background: white!important; padding-left: 18px; padding-top: 12px; border-radius: 4px; border: 1px solid  #e3e3e3;">
                       <div>
                           <img src="img/upload/edit.png" alt="" width="20">
                       </div>
                       <div>
                           <p style="padding-top: 3px;" class="p-left-10">Edit masterclass</p>
                       </div>
                   </div>
                </p>
            </div>
            <div class="m-left-20">
                <p style="width: 50px;">
                <div style="display: flex;align-items: baseline;  background: white!important; padding-left: 14px;padding-top: 16px;border-radius: 4px;border: 1px solid #e3e3e3;padding-bottom: 16px;">
                    <div>
                        <img src="img/upload/trash.png" alt="" width="20">
                    </div>
                </div>
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container-fluid">
            <div class="m-top-70 m-left-10" >
                <div>
                    <p style="font-size: 26px;color: rgb(0 0 0 / 80%);font-weight: 600;" >Global Mentors & Masterclasses</p>
                    <p  style="margin-top: -15px;font-size: 15px;" >Here you can watch the masterclasses for our Mentors. If you want to access their learning path, you need to be connected to the mentor.</p>
                </div>

            </div>
        </div>
        <div class="col-md-9 mb-25  px-3" style="margin-top: -5px">
            <div class="row">
                <div class="col-xs-4  mt-1" style="margin-left: 25px">
                    <div>
                        <div class="profile-card-3">
                            <img draggable="false" src="img/image-2/Mabel.jpg" width="350" height="350" class="img img-responsive ">
                            <div class="profile-play-circle "><i style="width: 100px" class="far fa-play-circle"></i></div>
                            <div class="profile-card-main">
                                <div class="profile-name-3">Mabel Lu</div>
                                <div class="profile-username-3 pb-1">Global VP Digital Transformation <i style="margin-left:4px;margin-right: 4px " class="fas fa-map-marker-alt"></i>   Danone</div>
                                <div class="profile-button">
                                    <button class="profile-button-btn ">Start Up</button>
                                    <button class="profile-button-btn ml-2">Sales</button>
                                    <button class="profile-button-btn ml-2"> Data & Al</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-4  mt-1" style="margin-left: 25px">
                    <div>
                        <div class="profile-card-3"><img draggable="false" src="img/image-2/Alexander.jpg" width="350" height="350" class="img img-responsive ">
                            <div class="profile-play-circle"><i style="width: 100px" class="far fa-play-circle"></i></div>
                            <div class="profile-card-main">
                                <div class="profile-name-3">Alexander Alten-Lorenz</div>
                                <div class="profile-username-3 pb-1">CEO <i style="margin-left:4px;margin-right: 4px " class="fas fa-map-marker-alt"></i>   Databloom.ai</div>
                                <div class="profile-button">
                                    <button class="profile-button-btn ">Start Up</button>
                                    <button class="profile-button-btn ml-2">Sales</button>
                                    <button class="profile-button-btn ml-2"> Data & Al</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-4  mt-1" style="margin-left: 25px">
                    <div>
                        <div class="profile-card-3"><img draggable="false" src="img/kai-reinhardt.jpg" width="350" height="350" class="img img-responsive ">
                            <div class="profile-play-circle"><i style="width: 100px" class="far fa-play-circle"></i></div>
                            <div class="profile-card-main">
                                <div class="profile-name-3">Kai Reinhardt</div>
                                <div class="profile-username-3 pb-1">Prof of Management <i style="margin-left:4px;margin-right: 4px " class="fas fa-map-marker-alt"></i>   Hochschule</div>
                                <div class="profile-button">
                                    <button class="profile-button-btn ">Start Up</button>
                                    <button class="profile-button-btn ml-2">Sales</button>
                                    <button class="profile-button-btn ml-2"> Data & Al</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-12 p-top-40 p-bottom-40">
                        <div style="text-align: -webkit-center;" >
                            <a href="#learning_paths_mentors2_1" class="btn btn-info"><span style="padding: 4px">Next Step</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>