<div class="container-fluid e_page" id="mentor_masterclass_upload_path" style="display:none;">
    <% current_verify_step_2 = 3; %>
    <%- include('../progress/mentor_verify'); %>
    <div class="row p-top-45" >
        <div class="col-md-7">
            <div class="row p-0 m-0">
                <div class="col-md-12">
                    <div class="card card-default card-md mb-4" style="width: 88.45%">
                        <div class="row">
                            <div class="col-lg-12 m-top-30">
                                <div class="row" style="display:flex; flex-direction: row;align-items: center;">
                                    <div class="col-6">
                                        <div class="" style="text-align: end">
                                            <img src="img/upload/masterclass-upload.png" width="240" alt="">
                                        </div>
                                    </div>
                                    <div class="col-6 m-top-10" >
                                        <div class="d-flex">
                                            <div>
                                                <img src="img/pagePicture/tic.png" alt="" width="20">
                                            </div>
                                            <div class="p-left-10" style="padding-top: 2px">
                                                <p>10 mins personal story</p>
                                            </div>
                                        </div><div class="d-flex">
                                            <div>
                                                <img src="img/pagePicture/tic.png" alt="" width="20">
                                            </div>
                                            <div class="p-left-10" style="padding-top: 2px">
                                                <p>10 mins subject expertise</p>
                                            </div>
                                        </div><div class="d-flex">
                                            <div>
                                                <img src="img/pagePicture/tic.png" alt="" width="20">
                                            </div>
                                            <div class="p-left-10 " style="padding-top: 2px">
                                                <p>10 mins learnings for mentees</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <p class="m-top-40" style="border-bottom: 1px solid #ededed"></p>
                                <div class="d-flex m-top-40"  style="flex-direction: row;justify-content: center;">
                                    <input style="width: 60%" type="text" class="form-control ih-medium ip-gray radius-xs b-light px-15" id="formGroupExampleInput" value="Ashley Smith" >
                                </div>
                                <div class="text-center m-top-20">
                                    <img   src="img/upload/masterclass-install-2.png" alt="" width="425" height="250">
                                </div>
                            </div>
                            <div class="container">
                                <div class="row">
                                    <div class="col-12 p-top-40 p-bottom-40">
                                        <div style="text-align: -webkit-center;" >
                                            <a href="#mentor_masterclass_add_new_2" class="btn btn-info"><span style="padding: 4px">Upload your masterclass</span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
