<div class="container-fluid e_page" id="masterclass_upload_mentor" style="display:none;">
    <h4 style="margin-top: 30px;margin-left: 20px">Masterclass</h4>
    <p style="margin-top: 10px; margin-left: 20px">Upload your masterclass video here</p>
    <div class="row p-top-25" >
        <div class="col-md-7">
            <div class="row p-0 m-0">
                <div class="col-md-12">
                    <div class="card card-default card-md mb-4" style="width: 88.45%">
                        <div class="row">
                            <div class="col-lg-12 m-top-30">
                                <div class="row" style="display:flex; flex-direction: row;align-items: center;">
                                    <div class="col-6">
                                        <div class="" style="text-align: end">
                                            <img src="img/upload/masterclass-upload.png" width="240" alt="">
                                        </div>
                                    </div>
                                    <div class="col-6 m-top-10" >
                                        <div class="d-flex">
                                            <div>
                                                <img src="img/pagePicture/tic.png" alt="" width="20">
                                            </div>
                                            <div class="p-left-10" style="padding-top: 2px">
                                                <p>10 mins personal story</p>
                                            </div>
                                        </div><div class="d-flex">
                                        <div>
                                            <img src="img/pagePicture/tic.png" alt="" width="20">
                                        </div>
                                        <div class="p-left-10" style="padding-top: 2px">
                                            <p>10 mins subject expertise</p>
                                        </div>
                                    </div><div class="d-flex">
                                        <div>
                                            <img src="img/pagePicture/tic.png" alt="" width="20">
                                        </div>
                                        <div class="p-left-10 " style="padding-top: 2px">
                                            <p>10 mins learnings for mentees</p>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                                <p class="m-top-40" style="border-bottom: 1px solid #ededed"></p>
                                <div class="d-flex "  style="flex-direction: row;justify-content: center;">
                                    <div class="p-top-10">
                                        <p style="font-size: 24px; font-weight: 600; color: black;">Storytelling</p>
                                    </div>
                                    <div class="p-left-5 ">
                                        <img src="img/upload/pencil.png" width="40" alt="">
                                    </div>
                                </div>
                                <div class="text-center m-top-15">
                                    <img   src="img/ekrem-namazci-video.png" alt="" width="425" height="250">
                                </div>
                                <div class="m-top-30">
                                    <div class="atbd-upload__button" style=" text-align: -webkit-center;">
                                        <a href="javascript:void(0)" class="btn btn-lg btn-outline-lighten btn-upload" onclick="$('#upload-3').click()"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-upload"><path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path><polyline points="17 8 12 3 7 8"></polyline><line x1="12" y1="3" x2="12" y2="15"></line></svg>Re-Upload</a>
                                    </div>
                                </div>
                                <h5 class="m-top-60 m-left-20 " style="font-size: 16px; color: #2a2a2a !important;"> Create your Masterclass Quiz</h5>
                                <div class="m-top-15">
                                    <p style="border-bottom: 1px solid #ededed"></p>
                                </div>
                                <div class="m-top-40 m-left-20">
                                    <div>
                                        <h4 style="font-size: 16px; color:#212529c4">What are the Top Al Trends ?</h4>
                                        <form class="form-now m-top-30" >
                                            <div class="form-group col-md-8 p-left-0" >
                                                <input type="email" class="form-control" id="inputEmail4" placeholder="Please write your answere here" style="padding:50px">
                                            </div>
                                        </form>
                                    </div>
                                    <div class="m-top-45">
                                        <h4 style="font-size: 16px; color:#212529c4">Select the most demanded skills for a Data & AI expert ?</h4>
                                    </div>
                                    <div class="row d-flex flex-column m-top-35" >
                                        <div class="col-lg-4" >
                                            <div class="checkbox-theme-default custom-checkbox ">
                                                <input class="checkbox" type="checkbox" id="check-grid-1">
                                                <label for="check-grid-1">
                                                    <span class="checkbox-text" style="padding-left: 10px; font-size: 14px;font-weight: 600; color: #a1a4c3d1">Coding</span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 p-top-20">
                                            <div class="checkbox-theme-default custom-checkbox ">
                                                <input class="checkbox" type="checkbox" id="check-grid-2">
                                                <label for="check-grid-2">
                                                    <span class="checkbox-text"style="padding-left: 10px; font-size: 14px;font-weight: 600; color: #a1a4c3d1">Storytelling</span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 p-top-20">
                                            <div class="checkbox-theme-default custom-checkbox ">
                                                <input class="checkbox" type="checkbox" id="check-grid-3">
                                                <label for="check-grid-3">
                                                    <span class="checkbox-text" style="padding-left: 10px; font-size: 14px;font-weight: 600; color: #a1a4c3d1">Global Teamwork</span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 p-top-20">
                                            <div class="checkbox-theme-default custom-checkbox ">
                                                <input class="checkbox" type="checkbox" id="check-grid-4">
                                                <label for="check-grid-4">
                                                    <span class="checkbox-text" style="padding-left: 10px; font-size: 14px;font-weight: 600;color: #a1a4c3d1">PowerPoint</span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 p-top-20">
                                            <div class="checkbox-theme-default custom-checkbox ">
                                                <input class="checkbox" type="checkbox" id="check-grid-5">
                                                <label for="check-grid-5">
                                                    <span class="checkbox-text" style="padding-left: 10px; font-size: 14px ;font-weight: 600; color: #a1a4c3d1">Industry </span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="container">
                                <div class="row">
                                    <div class="col-12 p-top-40 p-bottom-40">
                                        <div style="text-align: -webkit-center;" >
                                            <a href="#masterclass_add_new_mentor" class="btn btn-info"><span style="padding: 4px">Please your masterclass</span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
