<div class="container-fluid mt-4 e_page" id="talents_mentor" style="">
    <div class="row m-left-15" >
        <div class="col-12">
            <div>
                <div class="m-top-20">
                    <div >
                        <p style="font-size: 22px;color: rgb(0 0 0 / 80%);font-weight: 600;" class="ml-1">Welcome to you Mentoring Space</p>
                        <p  style="margin-top: -15px;font-size: 14px;color: #6e6f7085;font-weight: 600;" class="ml-1">Here you can schedule and manage your Mentoring sessions</p>
                    </div>
                </div>
                <p class="m-top-40 m-bottom-20" style="font-weight: 600; color: #404040;">Open Talents Requests</p>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="user-group p-30 radius-xl bg-white shadow " style="min-height: 429px;">
                        <div class="d-flex  justify-content-center pr-3 ">
                            <div class="ap-img d-flex justify-content-center">
                                <img class="ap-img__main bg-opacity-primary  wh-120 rounded-circle mb-3 " src="img/Resim1.jpg" alt="profile">
                                <p class="request-2">82%</p>
                            </div>
                        </div>
                        <div class="text-center mt-2">
                            <h6>Carsten Sthal</h6>
                            <p class="fs-14">Recklinghausen / Germany</p>
                            <h6 class="fs-15 pt-2">Computer Science Student</h6>
                            <hr>
                            <div class="buttons d-flex justify-content-around text-center m-top-10" style="margin: 0 auto; width:150px">
                                <button class="btn btn-o btn-success rounded-circle m-top-20">
                                    <i class="fa fa-check m-0"></i>
                                </button>
                                <button class="btn btn-o btn-light-2 rounded-circle m-top-20">
                                    <i class="fa fa-times m-0"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="user-group p-30 radius-xl bg-white shadow " style="min-height: 429px;">
                        <div class="d-flex  justify-content-center pr-3 ">
                            <div class="ap-img d-flex justify-content-center">
                                <img class="ap-img__main bg-opacity-primary  wh-120 rounded-circle mb-3 " src="img/Resim3.jpg" alt="profile">
                                <p class="request-3">74%</p>
                            </div>
                        </div>
                        <div class="text-center mt-2">
                            <h6>Barbara Schafer</h6>
                            <p class="fs-14">New York / USA</p>
                            <h6 class="fs-15 pt-2">Head of Business Development B2C (m/w/d)</h6>
                            <hr>
                            <div class="buttons d-flex justify-content-around text-center m-top-10" style="margin: 0 auto; width:150px">
                                <button class="btn btn-o btn-success rounded-circle m-top-20">
                                    <i class="fa fa-check m-0"></i>
                                </button>
                                <button class="btn btn-o btn-light-2 rounded-circle m-top-20">
                                    <i class="fa fa-times m-0"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="row d-flex flex-column " >
                    <div class="col-lg-6 mb-15 " style="margin-top: -40px">
                        <div class="social-overview-wrap">
                            <div>
                                <div class="m-top-100">
                                    <div >
                                        <p class="m-top- m-bottom-5" style="font-weight: 600; color: #404040;">Open Talents Requests</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-25 " >
                        <div class="social-overview-wrap">
                            <div class="card border-0">
                                <div class="card-body">
                                    <ul class="socaial-tick">
                                        <li class="">
                                            <div class="m-auto">
                                                <img src="img/ekremnamazci.png" width="102" alt="">
                                            </div>
                                            <div class="m-top-10">
                                                <h6 style="font-weight: 600; font-size: 14px;">Ekrem Namazci</h6>
                                                <p style="font-size: 12px">Data & AI Lead <br> <span class="text-center">Microsoft</span></p>
                                            </div>
                                        </li>
                                        <li class="">
                                            <div class="m-auto">
                                                <img src="img/pagePicture/tic.png" alt="" style="position: absolute;top: -9px;left: 69px;">
                                            </div>
                                            <div class="m-top-10">
                                                <h6 style="  visibility:hidden;font-weight: 600;font-size: 14px;">Ashley Smith</h6>
                                                <p style=" visibility:hidden; font-size: 12px">TU Dortmund<br> <span class="text-center">Recklinghausen</span></p>
                                                <div style="margin-top: 36px;">
                                                    <button class="btn color-white" style="margin-top: -13px; background: #32bea6">
                                                        <a style="color: white" href="#mentor_master_class">Open Mentoring Space</a></button>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="">
                                            <div class="m-auto">
                                                <img src="img/ashleysmith.png" width="102"  alt="">
                                            </div>
                                            <div class="m-top-10">
                                                <h6 style="font-weight: 600; font-size: 14px;">Ashley Smith</h6>
                                                <p style="font-size: 12px">TU Dortmund<br> <span class="text-center">Recklinghausen</span></p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row text-center m-top-20" style="background: #e3e6ef">
        <div class="col-6 m-top-40 m-left-15">
            <div class="d-flex" style="justify-content: space-between;align-items: baseline;">
                <div>
                    <p style="font-weight: 600; font-size: 15px;">Previous talents</p>
                </div>
                <div>
                    <button class="btn btn-info"> Open Community space</button>
                </div>
            </div>
        </div>
        <div class="col-12 m-left-20">
            <div    class="row m-top-20 m-bottom-50" >
                <div class="col-xl-2 col-sm-6 mb-5">
                    <div style="background: #f8f9fb; border-radius: 6px;display: flex;flex-direction: column;align-items: center;" class=" p-top-20 p-bottom-20">
                        <div class="dropdown dropleft">
                            <a href="#" role="button" id="action" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <svg style="position: absolute;top: -16px;left: 76px;color: #7a7a7a;" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-horizontal"><circle cx="12" cy="12" r="1"></circle><circle cx="19" cy="12" r="1"></circle><circle cx="5" cy="12" r="1"></circle></svg>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="action">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </div>
                        <img class="m-top-10" src="img/Resim5.jpg" alt="" width="90">
                        <div class="p-top-15">
                            <p class="mb-0" style="font-weight: 600;color: #444444; font-size: 14px;">Christian Wolters</p>
                            <div class="p-top-15" style="text-align: -webkit-center;">
                                <p class="btn-default btn-squared text-capitalize mb-10 " style="background: #efefef;font-size: 13px;padding-top: 3px;padding-bottom: 3px;width: 98px;border-radius: 4px;">View Profile</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-sm-6 mb-5">
                    <div style="background: #f8f9fb; border-radius: 6px;display: flex;flex-direction: column;align-items: center;" class=" p-top-20 p-bottom-20">
                        <div class="dropdown dropleft">
                            <a href="#" role="button" id="action" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <svg style="position: absolute;top: -16px;left: 76px;color: #7a7a7a;" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-horizontal"><circle cx="12" cy="12" r="1"></circle><circle cx="19" cy="12" r="1"></circle><circle cx="5" cy="12" r="1"></circle></svg>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="action">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </div>
                        <img class="m-top-10" src="img/Resim8.jpg" alt="" width="90">
                        <div class="p-top-15">
                            <p class="mb-0" style="font-weight: 600;color: #444444; font-size: 14px;">Melanie Müller</p>
                            <div class="p-top-15" style="text-align: -webkit-center;">
                                <p class="btn-default btn-squared text-capitalize mb-10 " style="background: #efefef;font-size: 13px;padding-top: 3px;padding-bottom: 3px;width: 98px;border-radius: 4px;">View Profile</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-sm-6 mb-5">
                    <div style="background: #f8f9fb; border-radius: 6px;display: flex;flex-direction: column;align-items: center;" class=" p-top-20 p-bottom-20">
                        <div class="dropdown dropleft">
                            <a href="#" role="button" id="action" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <svg style="position: absolute;top: -16px;left: 76px;color: #7a7a7a;" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-horizontal"><circle cx="12" cy="12" r="1"></circle><circle cx="19" cy="12" r="1"></circle><circle cx="5" cy="12" r="1"></circle></svg>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="action">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </div>
                        <img class="m-top-10" src="img/Resim3.jpg" alt="" width="90">
                        <div class="p-top-15">
                            <p class="mb-0" style="font-weight: 600;color: #444444; font-size: 14px;">Sandra Bobe</p>
                            <div class="p-top-15" style="text-align: -webkit-center;">
                                <p class="btn-default btn-squared text-capitalize mb-10 " style="background: #efefef;font-size: 13px;padding-top: 3px;padding-bottom: 3px;width: 98px;border-radius: 4px;">View Profile</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>