<div class="card card-default card-md">
    <div class="card pt-25">
        <div class="user-info border-bottom">
            <div class="card-header border-0 pt-sm-25 pb-sm-0  px-md-25 px-3">
                <div class="profile-header-title">
                    Contact info
                </div>
            </div>
            <div class="card-body pt-md-1 pt-0">
                <div class="user-content-info">
                    <p class="user-content-info__item">
                        <span data-feather="mail"></span>ashleysmith@googlemail.com
                    </p>
                    <p class="user-content-info__item">
                        <span data-feather="phone"></span>+44 (0161) 347
                        8854
                    </p>
                    <p class="user-content-info__item mb-0">
                        <span data-feather="globe"></span>www.example.com
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>