<div class="card card-default card-md mb-4">
    <div class="card-body card-body pt-5 pb-2">
        <div class="border-bottom">
            <div class="d-flex flex-column align-items-center pb-3">
                <div class="ap-img d-flex justify-content-center">
                    <!-- Profile picture image-->
                    <img class="ap-img__main bg-opacity-primary  wh-120 rounded-circle mb-3 " src="img/ashleysmith.png" alt="profile">
                </div>
                <h4 class="pb-2">Ashley Smith</h4>
                <p class="fs-13 mb-1">Business Development</p>
                <p class="fs-13"><span data-feather="map-pin" class="nav-icon sm"></span> TU München, München</p>
                <button class="btn text-primary" style="background: #efefef;height: 30px;border-radius: 16px;margin:auto; margin-top: 10px ">Level: Rookie</button>
                <div class="w-100 mt-4">
                    <p class="mb-1 float-left progress_bar_value"  style="font-size: .77rem;margin-left: 2.3rem;"><span><b>300 XP</b> </span></p>
                    <p class="mb-1 float-right" style="font-size: .77rem;margin-right: 2.3rem;"><span> <b>700 XP</b> to level up</span></p>
                    <div class="progress rounded" style="height: 5px;width: 80%;margin: auto; ">
                        <div class="progress-bar progress_bar_stick" role="progressbar" style="width: 35%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ps-tab p-20 pb-25">
        <div class="nav flex-column text-left" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="javascript:void(0)" role="tab" aria-controls="v-pills-home" aria-selected="true">
                <span data-feather="user"></span>Edit profile</a>
            <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="javascript:void(0)" role="tab" aria-controls="v-pills-profile" aria-selected="false">
                <span data-feather="settings"></span>Account setting</a>
            <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="javascript:void(0)" role="tab" aria-controls="v-pills-messages" aria-selected="false">
                <span data-feather="key"></span>change password</a>
            <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="javascript:void(0)" role="tab" aria-controls="v-pills-settings" aria-selected="false">
                <span data-feather="users"></span>social profiles</a>
            <a class="nav-link" id="v-pills-notification-tab" data-toggle="pill" href="javascript:void(0)" role="tab" aria-controls="v-pills-notification" aria-selected="false">
                <span data-feather="bell"></span>notification</a>
        </div>
    </div>
</div>