<div class="tab-pane fade" id="ppills-chat" role="tabpanel" aria-labelledby="pills-notes-tab">
    <div class="container-fluid">
        <div class="tab-content" id="ueberTabB">
            <div class="tab-pane fade  show active" id="panel_b_first" role="tabpanel" aria-labelledby="first-tab">
                <div class="chat">
                    <div class="chat-body bg-white radius-xl">
                        <div class="chat-header">
                            <div class="media chat-name align-items-center">
                                <div class="media-body align-self-center ">
                                    <h5 class=" mb-0 fw-500 mb-2">Ekrem Namazci</h5>
                                    <div class="media-body__content d-flex align-items-center">
                                        <span class="badge-dot dot-success mr-1"></span>
                                        <small class="d-flex color-light fs-12 text-capitalize">
                                            active now
                                        </small>
                                    </div>

                                </div>
                            </div>
                            <!-- Chat Options -->
                            <ul class="nav flex-nowrap">
                                <li class="nav-item list-inline-item mr-0">
                                    <div class="dropdown">
                                        <a href="#" role="button" title="Details" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <span data-feather="more-vertical"></span>
                                        </a>

                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item align-items-center d-flex" href="#" data-chat-info-toggle="">
                                                <!-- Default :: Inline SVG -->
                                                <span data-feather="users"></span>
                                                <span>Create new group</span>
                                            </a>

                                            <a class="dropdown-item align-items-center d-flex" href="#">
                                                <!-- Default :: Inline SVG -->
                                                <span data-feather="trash-2"></span>

                                                <span>Delete conversation</span>
                                            </a>
                                            <a class="dropdown-item align-items-center d-flex" href="#">
                                                <!-- Default :: Inline SVG -->
                                                <span data-feather="x-octagon"></span>

                                                <span>Block & report</span>
                                            </a>
                                        </div>
                                    </div>
                                </li>

                            </ul>
                        </div>
                        <div class="chat-box p-xl-30 pl-lg-20 pr-lg-0">
                            <!-- Start: Incomming -->
                            <div class="flex-1 incoming-chat">
                                <div class="chat-text-box">
                                    <div class="media ">
                                        <div class="chat-text-box__photo ">
                                            <img src="img/ekremnamazci.png" class="align-self-start mr-15 wh-46" alt="img">
                                        </div>
                                        <div class="media-body">
                                            <div class="chat-text-box__content">
                                                <div class="chat-text-box__title d-flex align-items-center">
                                                    <h6 class="fs-14">Ekrem Namazci</h6>
                                                    <span class="chat-text-box__time fs-12 color-light fw-400 ml-15">19:46 AM</span>
                                                </div>
                                                <div class="d-flex align-items-center mb-20 mt-10">
                                                    <div class="chat-text-box__subtitle p-20 bg-info">
                                                        <p class="color-white">Hi Ashley, can we shift our mentoring session to another day, please? </p>
                                                    </div>
                                                    <div class="chat-text-box__other d-flex">
                                                        <div class="chat-text-box__reaction px-sm-15 px-2">

                                                            <div class="emotions">
                                                                <div class="dropdown  dropdown-click ">
                                                                    <button class="btn-link border-0 bg-transparent p-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                        <span data-feather="smile"></span> </button>
                                                                    <div class="dropdown-default dropdown-bottomRight dropdown-menu-right dropdown-menu">
                                                                        <ul class="emotions__parent d-flex">
                                                                            <li>
                                                                                <a class="" href="#">
                                                                                    <img src="img/svg/cool.png" alt="emotions">
                                                                                </a>
                                                                            </li>
                                                                            <li><a class="" href="#">
                                                                                    <img src="img/svg/happy2.png" alt="emotions">
                                                                                </a></li>
                                                                            <li><a class="" href="#">
                                                                                    <img src="img/svg/happy.png" alt="emotions">
                                                                                </a></li>
                                                                            <li><a class="" href="#">
                                                                                    <img src="img/svg/shocked.png" alt="emotions">
                                                                                </a></li>
                                                                            <li><a class="" href="#">
                                                                                    <img src="img/svg/like.png" alt="emotions">
                                                                                </a></li>
                                                                            <li><a class="" href="#">
                                                                                    <img src="img/svg/heart.png" alt="emotions">
                                                                                </a></li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>

                                                        <div class="dropdown dropdown-click">
                                                            <button class="btn-link border-0 bg-transparent p-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                <span data-feather="more-horizontal"></span>
                                                            </button>
                                                            <div class="dropdown-default dropdown-bottomRight dropdown-menu-right dropdown-menu" style="">
                                                                <a class="dropdown-item" href="#">Copy</a>
                                                                <a class="dropdown-item" href="#">Quote</a>
                                                                <a class="dropdown-item" href="#">Forward</a>
                                                                <a class="dropdown-item" href="#">Report</a>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End: Incomming -->
                            <p class="social-connector text-center text-capitalize">
                                <span>today</span>
                            </p>
                            <!-- Start: Outgoing -->
                            <div class="flex-1 justify-content-end d-flex outgoing-chat mt-20">
                                <div class="chat-text-box">
                                    <div class="media ">
                                        <div class="media-body">
                                            <div class="chat-text-box__content">
                                                <div class="chat-text-box__title d-flex align-items-center justify-content-end mb-2">
                                                            <span class="chat-text-box__time fs-12 color-light fw-400">8:30
                                                                PM</span>
                                                </div>
                                                <div class="d-flex align-items-center justify-content-end">
                                                    <div class="chat-text-box__other d-flex">
                                                        <div class="px-15">

                                                            <div class="dropdown dropdown-click">
                                                                <button class="btn-link border-0 bg-transparent p-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                    <span data-feather="more-horizontal"></span>
                                                                </button>
                                                                <div class="dropdown-default dropdown-bottomRight dropdown-menu-right dropdown-menu" style="">
                                                                    <a class="dropdown-item" href="#">Copy</a>
                                                                    <a class="dropdown-item" href="#">Quote</a>
                                                                    <a class="dropdown-item" href="#">Forward</a>
                                                                    <a class="dropdown-item" href="#">Report</a>
                                                                    <a class="dropdown-item" href="#">remove</a>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                    <div class="chat-text-box__subtitle p-20 bg-deep">
                                                        <p class="color-gray">Sure, no problem. I'll reschedule it here. See you then   </p>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="flex-1 justify-content-end d-flex outgoing-chat">
                                <div class="chat-text-box">
                                    <div class="media ">
                                        <div class="media-body">
                                            <div class="chat-text-box__content">
                                                <div class="d-flex align-items-center justify-content-end">
                                                    <div class="chat-text-box__other d-flex">
                                                        <div class="px-15">

                                                            <div class="dropdown dropdown-click">
                                                                <button class="btn-link border-0 bg-transparent p-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                    <span data-feather="more-horizontal"></span>
                                                                </button>
                                                                <div class="dropdown-default dropdown-bottomRight dropdown-menu-right dropdown-menu" style="">
                                                                    <a class="dropdown-item" href="#">Copy</a>
                                                                    <a class="dropdown-item" href="#">Quote</a>
                                                                    <a class="dropdown-item" href="#">Forward</a>
                                                                    <a class="dropdown-item" href="#">Report</a>
                                                                    <a class="dropdown-item" href="#">remove</a>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                    <div class="chat-text-box__subtitle p-20 bg-deep">
                                                        <p class="color-gray">Hi Ekrem, I have uploaded my blog to the notes section. You can have a look if you like? </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End: Outgoing  -->
                            <!-- Start: Incomming -->
                            <div class="flex-1 incoming-chat mt-30">
                                <div class="chat-text-box">
                                    <div class="media ">
                                        <div class="chat-text-box__photo ">
                                            <img src="img/ekremnamazci.png" class="align-self-start mr-15 wh-46" alt="img">
                                        </div>
                                        <div class="media-body">
                                            <div class="chat-text-box__content">
                                                <div class="chat-text-box__title d-flex align-items-center">
                                                    <h6 class="fs-14">Ekrem Namazci</h6>
                                                    <span class="chat-text-box__time fs-12 color-light fw-400 ml-15">8:30
                                                                PM</span>
                                                </div>
                                                <div class="d-flex align-items-center mb-20 mt-10">
                                                    <div class="chat-text-box__subtitle p-20 bg-info">
                                                        <p class="color-white">Hi Ashley, your blog post looks good. You may check WEF studies for the skills section. Let's discuss further during next session. </p>
                                                    </div>
                                                    <div class="chat-text-box__other d-flex">
                                                        <div class="chat-text-box__reaction px-sm-15 px-2">

                                                            <div class="emotions">
                                                                <div class="dropdown  dropdown-click ">
                                                                    <button class="btn-link border-0 bg-transparent p-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                        <span data-feather="smile"></span> </button>
                                                                    <div class="dropdown-default dropdown-bottomRight dropdown-menu-right dropdown-menu">
                                                                        <ul class="emotions__parent d-flex">
                                                                            <li>
                                                                                <a class="" href="#">
                                                                                    <img src="img/svg/cool.png" alt="emotions">
                                                                                </a>
                                                                            </li>
                                                                            <li><a class="" href="#">
                                                                                    <img src="img/svg/happy2.png" alt="emotions">
                                                                                </a></li>
                                                                            <li><a class="" href="#">
                                                                                    <img src="img/svg/happy.png" alt="emotions">
                                                                                </a></li>
                                                                            <li><a class="" href="#">
                                                                                    <img src="img/svg/shocked.png" alt="emotions">
                                                                                </a></li>
                                                                            <li><a class="" href="#">
                                                                                    <img src="img/svg/like.png" alt="emotions">
                                                                                </a></li>
                                                                            <li><a class="" href="#">
                                                                                    <img src="img/svg/heart.png" alt="emotions">
                                                                                </a></li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>

                                                        <div class="dropdown dropdown-click">
                                                            <button class="btn-link border-0 bg-transparent p-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                <span data-feather="more-horizontal"></span>
                                                            </button>
                                                            <div class="dropdown-default dropdown-bottomRight dropdown-menu-right dropdown-menu" style="">
                                                                <a class="dropdown-item" href="#">Copy</a>
                                                                <a class="dropdown-item" href="#">Quote</a>
                                                                <a class="dropdown-item" href="#">Forward</a>
                                                                <a class="dropdown-item" href="#">Report</a>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End: Incomming -->
                            <!-- Start: Outgoing -->
                            <div class="flex-1 justify-content-end d-flex outgoing-chat">
                                <div class="chat-text-box">
                                    <div class="media ">
                                        <div class="media-body">

                                            <div class="seen-chat d-flex align-items-center  justify-content-end mb-2 mt-10">
                                                <div class="chat-text-box__title d-flex align-items-center mr-10 ">
                                                                <span class="chat-text-box__time fs-12 color-light fw-400">Seen
                                                                    8:31
                                                                    PM</span>
                                                </div>
                                                <img src="img/ashleysmith.png" alt="img" class="wh-20 rounded-circle">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End: Outgoing  -->
                        <!-- Start: Incomming -->
                        <div class="flex-1 incoming-chat mt-30">
                            <div class="chat-text-box">
                                <div class="media ">
                                    <div class="chat-text-box__photo ">
                                        <img src="img/ekremnamazci.png" class="align-self-start mr-15 wh-46" alt="img">
                                    </div>
                                    <div class="media-body">
                                        <div class="chat-text-box__content">
                                            <div class="d-flex align-items-center ">
                                                <div class="chat-text-box__subtitle typing cbg-light pr-30">
                                                    <p class="color-light text-capitalize">typing...</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End: Incomming -->
                    </div>
                    <div class="chat-footer px-xl-30 px-lg-20 pb-lg-30 pt-1">
                        <div class="chat-type-text">
                            <div class="pt-0 outline-0 pb-0 pr-0 pl-0 rounded-0 position-relative d-flex align-items-center" tabindex="-1">
                                <div class="d-flex justify-content-between align-items-center w-100 flex-wrap">
                                    <div class=" flex-1 d-flex align-items-center chat-type-text__write ml-0">
                                        <a href="#">
                                            <span data-feather="smile"></span></a>
                                        <input class="form-control border-0 bg-transparent box-shadow-none" placeholder="Type your message...">

                                    </div>
                                    <div class="chat-type-text__btn">
                                        <button type="button" class="border-0 btn-deep color-light wh-50 p-10 rounded-circle">
                                            <span data-feather="image"></span></button>
                                        <button type="button" class="border-0 btn-deep color-light wh-50 p-10 rounded-circle">
                                            <span data-feather="paperclip"></span></button>
                                        <button type="button" class="border-0 btn-primary wh-50 p-10 rounded-circle">
                                            <span data-feather="send"></span></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- ends: .chat-->
        </div>
        <div class="tab-pane fade" id="panel_b_second" role="tabpanel" aria-labelledby="second-tab">
            <div class="chat">
                <div class="chat-body bg-white radius-xl">
                    <div class="chat-header bg-white">
                        <div class="media chat-name align-items-center">
                            <div class="media-body align-self-center ">
                                <h5 class=" mb-0 fw-500 text-uppercase">ui/ux group</h5>
                            </div>
                        </div>
                        <div class="image-group">
                            <ul class="d-flex">
                                <li>
                                    <img src="img/ekremnamazci.png" alt="img" class="wh-30 rounded-circle">
                                </li>
                                <li>
                                    <img src="img/ekremnamazci.png" alt="img" class="wh-30 rounded-circle">
                                </li>
                                <li>
                                    <img src="img/ekremnamazci.png" alt="img" class="wh-30 rounded-circle">
                                </li>
                                <li>
                                    <img src="img/ekremnamazci.png" alt="img" class="wh-30 rounded-circle">
                                </li>
                                <li>
                                    <img src="img/ekremnamazci.png" alt="img" class="wh-30 rounded-circle">
                                </li>
                                <li>
                                    <a href="#" class="bg-info rounded-circle wh-30 color-white content-center fs-10 fw-500">20+</a>
                                </li>
                                <li>
                                    <a href="#" class="border rounded-circle wh-30 color-extra-light content-center">
                                        <span data-feather="plus"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div>
                            <!-- Chat Options -->
                            <ul class="nav flex-nowrap">
                                <li class="nav-item list-inline-item d-none d-sm-block mr-0">
                                    <div class="dropdown">
                                        <a href="#" role="button" title="Details" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <span data-feather="more-vertical"></span>
                                        </a>

                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item align-items-center d-flex" href="#" data-chat-info-toggle="">
                                                <!-- Default :: Inline SVG -->
                                                <span data-feather="users"></span>
                                                <span>Create new group</span>
                                            </a>

                                            <a class="dropdown-item align-items-center d-flex" href="#">
                                                <!-- Default :: Inline SVG -->
                                                <span data-feather="trash-2"></span>

                                                <span>Delete conversation</span>
                                            </a>
                                            <a class="dropdown-item align-items-center d-flex" href="#">
                                                <!-- Default :: Inline SVG -->
                                                <span data-feather="x-octagon"></span>

                                                <span>Block & report</span>
                                            </a>
                                        </div>
                                    </div>
                                </li>

                            </ul>
                        </div>
                        <div class="chat-box p-xl-30 pl-lg-20 pr-lg-0">
                            <!-- Start: Incomming -->
                            <div class="flex-1 incoming-chat">
                                <div class="chat-text-box">
                                    <div class="media ">
                                        <div class="chat-text-box__photo ">
                                            <img src="img/ekremnamazci.png" class="align-self-start mr-15 wh-46" alt="img">
                                        </div>
                                        <div class="media-body">
                                            <div class="chat-text-box__content">
                                                <div class="chat-text-box__title d-flex align-items-center">
                                                    <h6 class="fs-14">Ekrem Namazci</h6>
                                                    <span class="chat-text-box__time fs-12 color-light fw-400 ml-15">8:30
                                                                PM</span>
                                                </div>
                                                <div class="d-flex align-items-center mb-20 mt-10">
                                                    <div class="chat-text-box__subtitle p-20 bg-info">
                                                        <p class="color-white">Jam nonumy eirmod tempor invidunt ut
                                                            labore
                                                            et dolore magna aliquyam erat consetetur sadipscing elitr
                                                            sed
                                                            diam nonumy eirmod tempor invidunt ut labore et dolore magna
                                                            aliquyam erat sed diam voluptua..</p>
                                                    </div>
                                                    <div class="chat-text-box__other d-flex">
                                                        <div class="chat-text-box__reaction px-sm-15 px-2">

                                                            <div class="emotions">
                                                                <div class="dropdown  dropdown-click ">
                                                                    <button class="btn-link border-0 bg-transparent p-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                        <span data-feather="smile"></span> </button>
                                                                    <div class="dropdown-default dropdown-bottomRight dropdown-menu-right dropdown-menu">
                                                                        <ul class="emotions__parent d-flex">
                                                                            <li>
                                                                                <a class="" href="#">
                                                                                    <img src="img/svg/cool.png" alt="emotions">
                                                                                </a>
                                                                            </li>
                                                                            <li><a class="" href="#">
                                                                                    <img src="img/svg/happy2.png" alt="emotions">
                                                                                </a></li>
                                                                            <li><a class="" href="#">
                                                                                    <img src="img/svg/happy.png" alt="emotions">
                                                                                </a></li>
                                                                            <li><a class="" href="#">
                                                                                    <img src="img/svg/shocked.png" alt="emotions">
                                                                                </a></li>
                                                                            <li><a class="" href="#">
                                                                                    <img src="img/svg/like.png" alt="emotions">
                                                                                </a></li>
                                                                            <li><a class="" href="#">
                                                                                    <img src="img/svg/heart.png" alt="emotions">
                                                                                </a></li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>

                                                        <div class="dropdown dropdown-click">
                                                            <button class="btn-link border-0 bg-transparent p-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                <span data-feather="more-horizontal"></span>
                                                            </button>
                                                            <div class="dropdown-default dropdown-bottomRight dropdown-menu-right dropdown-menu" style="">
                                                                <a class="dropdown-item" href="#">Copy</a>
                                                                <a class="dropdown-item" href="#">Quote</a>
                                                                <a class="dropdown-item" href="#">Forward</a>
                                                                <a class="dropdown-item" href="#">Report</a>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End: Incomming -->
                            <p class="social-connector text-center text-capitalize">
                                <span>today</span>
                            </p>
                            <!-- Start: Outgoing -->
                            <div class="flex-1 justify-content-end d-flex outgoing-chat mt-20">
                                <div class="chat-text-box">
                                    <div class="media ">
                                        <div class="media-body">
                                            <div class="chat-text-box__content">
                                                <div class="chat-text-box__title d-flex align-items-center justify-content-end mb-2">
                                                            <span class="chat-text-box__time fs-12 color-light fw-400">8:30
                                                                PM</span>
                                                </div>
                                                <div class="d-flex align-items-center justify-content-end">
                                                    <div class="chat-text-box__other d-flex">
                                                        <div class="px-15">

                                                            <div class="dropdown dropdown-click">
                                                                <button class="btn-link border-0 bg-transparent p-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                    <span data-feather="more-horizontal"></span>
                                                                </button>
                                                                <div class="dropdown-default dropdown-bottomRight dropdown-menu-right dropdown-menu" style="">
                                                                    <a class="dropdown-item" href="#">Copy</a>
                                                                    <a class="dropdown-item" href="#">Quote</a>
                                                                    <a class="dropdown-item" href="#">Forward</a>
                                                                    <a class="dropdown-item" href="#">Report</a>
                                                                    <a class="dropdown-item" href="#">remove</a>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                    <div class="chat-text-box__subtitle p-20 bg-deep">
                                                        <p class="color-gray">Jam nonumy eirmod tempor invidunt ut
                                                            labore
                                                            et dolore magna aliquyam erat consetetur sadipscing elitr
                                                            sed
                                                            diam nonumy eirmod tempor invidunt ut labore et dolore magna
                                                            aliquyam erat sed diam voluptua..</p>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="flex-1 justify-content-end d-flex outgoing-chat">
                                <div class="chat-text-box">
                                    <div class="media ">
                                        <div class="media-body">
                                            <div class="chat-text-box__content">
                                                <div class="d-flex align-items-center justify-content-end">
                                                    <div class="chat-text-box__other d-flex">
                                                        <div class="px-15">

                                                            <div class="dropdown dropdown-click">
                                                                <button class="btn-link border-0 bg-transparent p-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                    <span data-feather="more-horizontal"></span>
                                                                </button>
                                                                <div class="dropdown-default dropdown-bottomRight dropdown-menu-right dropdown-menu" style="">
                                                                    <a class="dropdown-item" href="#">Copy</a>
                                                                    <a class="dropdown-item" href="#">Quote</a>
                                                                    <a class="dropdown-item" href="#">Forward</a>
                                                                    <a class="dropdown-item" href="#">Report</a>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                    <div class="chat-text-box__subtitle p-20 bg-deep">
                                                        <p class="color-gray">Jam nonumy eirmod tempor invidunt ut
                                                            labore et
                                                            dolore magna.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End: Outgoing  -->
                            <!-- Start: Incomming -->
                            <div class="flex-1 incoming-chat mt-30">
                                <div class="chat-text-box">
                                    <div class="media ">
                                        <div class="chat-text-box__photo ">
                                            <img src="img/ekremnamazci.png" class="align-self-start mr-15 wh-46" alt="img">
                                        </div>
                                        <div class="media-body">
                                            <div class="chat-text-box__content">
                                                <div class="chat-text-box__title d-flex align-items-center">
                                                    <h6 class="fs-14">Ekrem Namazci</h6>
                                                    <span class="chat-text-box__time fs-12 color-light fw-400 ml-15">8:30
                                                                PM</span>
                                                </div>
                                                <div class="d-flex align-items-center mb-20 mt-10">
                                                    <div class="chat-text-box__subtitle p-20 bg-info">
                                                        <p class="color-white">Jam nonumy eirmod tempor invidunt ut
                                                            labore
                                                            et dolore magna.</p>
                                                    </div>
                                                    <div class="chat-text-box__other d-flex">
                                                        <div class="chat-text-box__reaction px-sm-15 px-2">

                                                            <div class="emotions">
                                                                <div class="dropdown  dropdown-click ">
                                                                    <button class="btn-link border-0 bg-transparent p-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                        <span data-feather="smile"></span> </button>
                                                                    <div class="dropdown-default dropdown-bottomRight dropdown-menu-right dropdown-menu">
                                                                        <ul class="emotions__parent d-flex">
                                                                            <li>
                                                                                <a class="" href="#">
                                                                                    <img src="img/svg/cool.png" alt="emotions">
                                                                                </a>
                                                                            </li>
                                                                            <li><a class="" href="#">
                                                                                    <img src="img/svg/happy2.png" alt="emotions">
                                                                                </a></li>
                                                                            <li><a class="" href="#">
                                                                                    <img src="img/svg/happy.png" alt="emotions">
                                                                                </a></li>
                                                                            <li><a class="" href="#">
                                                                                    <img src="img/svg/shocked.png" alt="emotions">
                                                                                </a></li>
                                                                            <li><a class="" href="#">
                                                                                    <img src="img/svg/like.png" alt="emotions">
                                                                                </a></li>
                                                                            <li><a class="" href="#">
                                                                                    <img src="img/svg/heart.png" alt="emotions">
                                                                                </a></li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>

                                                        <div class="dropdown dropdown-click">
                                                            <button class="btn-link border-0 bg-transparent p-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                <span data-feather="more-horizontal"></span>
                                                            </button>
                                                            <div class="dropdown-default dropdown-bottomRight dropdown-menu-right dropdown-menu" style="">
                                                                <a class="dropdown-item" href="#">Copy</a>
                                                                <a class="dropdown-item" href="#">Quote</a>
                                                                <a class="dropdown-item" href="#">Forward</a>
                                                                <a class="dropdown-item" href="#">Report</a>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End: Incomming -->
                            <!-- Start: Outgoing -->
                            <div class="flex-1 justify-content-end d-flex outgoing-chat">
                                <div class="chat-text-box">
                                    <div class="media ">
                                        <div class="media-body">
                                            <div class="chat-text-box__content">
                                                <div class="chat-text-box__title d-flex align-items-center justify-content-end mb-2">
                                                            <span class="chat-text-box__time fs-12 color-light fw-400">8:30
                                                                PM</span>
                                                </div>
                                                <div class="d-flex align-items-center justify-content-end">
                                                    <div class="chat-text-box__other d-flex">
                                                        <div class="px-15">

                                                            <div class="dropdown dropdown-click">
                                                                <button class="btn-link border-0 bg-transparent p-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                    <span data-feather="more-horizontal"></span>
                                                                </button>
                                                                <div class="dropdown-default dropdown-bottomRight dropdown-menu-right dropdown-menu" style="">
                                                                    <a class="dropdown-item" href="#">Copy</a>
                                                                    <a class="dropdown-item" href="#">Quote</a>
                                                                    <a class="dropdown-item" href="#">Forward</a>
                                                                    <a class="dropdown-item" href="#">Report</a>
                                                                    <a class="dropdown-item" href="#">remove</a>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                    <div class="chat-text-box__subtitle p-20 bg-deep">
                                                        <p class="color-gray">Jam nonumy eirmod tempor invidunt ut
                                                            labore et
                                                            dolore magna.</p>
                                                    </div>
                                                </div>
                                                <div class="seen-chat seen-chat-group  d-flex align-items-center  justify-content-end mb-2 mt-10">
                                                    <ul class="d-flex">
                                                        <li>
                                                            <img src="img/ekremnamazci.png" alt="img" class="wh-20 rounded-circle">
                                                        </li>
                                                        <li>
                                                            <img src="img/author/2.jpg" alt="img" class="wh-20 rounded-circle">
                                                        </li>
                                                        <li>
                                                            <img src="img/author/3.jpg" alt="img" class="wh-20 rounded-circle">
                                                        </li>
                                                        <li>
                                                            <img src="img/author/4.jpg" alt="img" class="wh-20 rounded-circle">
                                                        </li>
                                                        <li>
                                                            <img src="img/ekremnamazci.png" alt="img" class="wh-20 rounded-circle">
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End: Outgoing  -->
                            <!-- Start: Incomming -->
                            <div class="flex-1 incoming-chat mt-30">
                                <div class="chat-text-box">
                                    <div class="media ">
                                        <div class="chat-text-box__photo ">
                                            <img src="img/ekremnamazci.png" class="align-self-start mr-15 wh-46" alt="img">
                                        </div>
                                        <div class="media-body">
                                            <div class="chat-text-box__content">
                                                <div class="d-flex align-items-center ">
                                                    <div class="chat-text-box__subtitle typing cbg-light pr-30">
                                                        <p class="color-light text-capitalize">typing...</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End: Incomming -->
                        <div class="chat-footer px-xl-30 px-lg-20 pb-lg-30 pt-1">
                            <div class="chat-type-text">
                                <div class="pt-0 outline-0 pb-0 pr-0 pl-0 rounded-0 position-relative d-flex align-items-center" tabindex="-1">
                                    <div class="d-flex justify-content-between align-items-center w-100 flex-wrap">
                                        <div class=" flex-1 d-flex align-items-center chat-type-text__write ml-0">
                                            <a href="#">
                                                <span data-feather="smile"></span></a>
                                            <input class="form-control border-0 bg-transparent" placeholder="Type your message...">

                                        </div>
                                        <div class="chat-type-text__btn">
                                            <button type="button" class="border-0 btn-deep color-light wh-50 p-10 rounded-circle">
                                                <span data-feather="image"></span></button>
                                            <button type="button" class="border-0 btn-deep color-light wh-50 p-10 rounded-circle">
                                                <span data-feather="paperclip"></span></button>
                                            <button type="button" class="border-0 btn-primary wh-50 p-10 rounded-circle">
                                                <span data-feather="send"></span></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="panel_b_thrid" role="tabpanel" aria-labelledby="third-tab">
                <div class="chat">
                    <div class="chat-body bg-white radius-xl">
                        <div class="chat-header bg-white">
                            <div class="media chat-name align-items-center">
                                <div class="media-body align-self-center ">
                                    <h5 class=" mb-0 fw-500 mb-2">Ekrem Namazci</h5>
                                    <div class="d-flex align-items-center">
                                        <span class="badge-dot dot-success mr-1"></span>
                                        <small class="d-flex color-light fs-12 text-capitalize">
                                            active now
                                        </small>
                                    </div>

                                </div>
                            </div>

                            <!-- Chat Options -->
                            <ul class="nav flex-nowrap">
                                <li class="nav-item list-inline-item d-none d-sm-block mr-0">
                                    <div class="dropdown">
                                        <a href="#" role="button" title="Details" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <span data-feather="more-vertical"></span>
                                        </a>

                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item align-items-center d-flex" href="#" data-chat-info-toggle="">
                                                <!-- Default :: Inline SVG -->
                                                <span data-feather="users"></span>
                                                <span>Create new group</span>
                                            </a>

                                            <a class="dropdown-item align-items-center d-flex" href="#">
                                                <!-- Default :: Inline SVG -->
                                                <span data-feather="trash-2"></span>

                                                <span>Delete conversation</span>
                                            </a>
                                            <a class="dropdown-item align-items-center d-flex" href="#">
                                                <!-- Default :: Inline SVG -->
                                                <span data-feather="x-octagon"></span>

                                                <span>Block & report</span>
                                            </a>
                                        </div>
                                    </div>
                                </li>

                            </ul>
                        </div>
                        <div class="chat-box p-xl-30 pl-lg-20 pr-lg-0">
                            <!-- Start: Incomming -->
                            <div class="flex-1 incoming-chat">
                                <div class="chat-text-box">
                                    <div class="media ">
                                        <div class="chat-text-box__photo ">
                                            <img src="img/ekremnamazci.png" class="align-self-start mr-15 wh-46" alt="img">
                                        </div>
                                        <div class="media-body">
                                            <div class="chat-text-box__content">
                                                <div class="chat-text-box__title d-flex align-items-center">
                                                    <h6 class="fs-14">Ekrem Namazci</h6>
                                                    <span class="chat-text-box__time fs-12 color-light fw-400 ml-15">8:30
                                                                PM</span>
                                                </div>
                                                <div class="d-flex align-items-center mb-20 mt-10">
                                                    <div class="chat-text-box__subtitle p-20 bg-info">
                                                        <p class="color-white">Jam nonumy eirmod tempor invidunt ut
                                                            labore
                                                            et dolore magna aliquyam erat consetetur sadipscing elitr
                                                            sed
                                                            diam nonumy eirmod tempor invidunt ut labore et dolore magna
                                                            aliquyam erat sed diam voluptua..</p>
                                                    </div>
                                                    <div class="chat-text-box__other d-flex">
                                                        <div class="chat-text-box__reaction px-sm-15 px-2">

                                                            <div class="emotions">
                                                                <div class="dropdown  dropdown-click ">
                                                                    <button class="btn-link border-0 bg-transparent p-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                        <span data-feather="smile"></span> </button>
                                                                    <div class="dropdown-default dropdown-bottomRight dropdown-menu-right dropdown-menu">
                                                                        <ul class="emotions__parent d-flex">
                                                                            <li>
                                                                                <a class="" href="#">
                                                                                    <img src="img/svg/cool.png" alt="emotions">
                                                                                </a>
                                                                            </li>
                                                                            <li><a class="" href="#">
                                                                                    <img src="img/svg/happy2.png" alt="emotions">
                                                                                </a></li>
                                                                            <li><a class="" href="#">
                                                                                    <img src="img/svg/happy.png" alt="emotions">
                                                                                </a></li>
                                                                            <li><a class="" href="#">
                                                                                    <img src="img/svg/shocked.png" alt="emotions">
                                                                                </a></li>
                                                                            <li><a class="" href="#">
                                                                                    <img src="img/svg/like.png" alt="emotions">
                                                                                </a></li>
                                                                            <li><a class="" href="#">
                                                                                    <img src="img/svg/heart.png" alt="emotions">
                                                                                </a></li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>

                                                        <div class="dropdown dropdown-click">
                                                            <button class="btn-link border-0 bg-transparent p-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                <span data-feather="more-horizontal"></span>
                                                            </button>
                                                            <div class="dropdown-default dropdown-bottomRight dropdown-menu-right dropdown-menu" style="">
                                                                <a class="dropdown-item" href="#">Copy</a>
                                                                <a class="dropdown-item" href="#">Quote</a>
                                                                <a class="dropdown-item" href="#">Forward</a>
                                                                <a class="dropdown-item" href="#">Report</a>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End: Incomming -->
                            <p class="social-connector text-center text-capitalize">
                                <span>today</span>
                            </p>
                            <!-- Start: Outgoing -->
                            <div class="flex-1 justify-content-end d-flex outgoing-chat mt-20">
                                <div class="chat-text-box">
                                    <div class="media ">
                                        <div class="media-body">
                                            <div class="chat-text-box__content">
                                                <div class="chat-text-box__title d-flex align-items-center justify-content-end mb-2">
                                                            <span class="chat-text-box__time fs-12 color-light fw-400">8:30
                                                                PM</span>
                                                </div>
                                                <div class="d-flex align-items-center justify-content-end">
                                                    <div class="chat-text-box__other d-flex">
                                                        <div class="px-15">

                                                            <div class="dropdown dropdown-click">
                                                                <button class="btn-link border-0 bg-transparent p-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                    <span data-feather="more-horizontal"></span>
                                                                </button>
                                                                <div class="dropdown-default dropdown-bottomRight dropdown-menu-right dropdown-menu" style="">
                                                                    <a class="dropdown-item" href="#">Copy</a>
                                                                    <a class="dropdown-item" href="#">Quote</a>
                                                                    <a class="dropdown-item" href="#">Forward</a>
                                                                    <a class="dropdown-item" href="#">Report</a>
                                                                    <a class="dropdown-item" href="#">remove</a>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                    <div class="chat-text-box__subtitle p-20 bg-deep">
                                                        <p class="color-gray">Jam nonumy eirmod tempor invidunt ut
                                                            labore
                                                            et dolore magna aliquyam erat consetetur sadipscing elitr
                                                            sed
                                                            diam nonumy eirmod tempor invidunt ut labore et dolore magna
                                                            aliquyam erat sed diam voluptua..</p>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="flex-1 justify-content-end d-flex outgoing-chat">
                                <div class="chat-text-box">
                                    <div class="media ">
                                        <div class="media-body">
                                            <div class="chat-text-box__content">
                                                <div class="d-flex align-items-center justify-content-end">
                                                    <div class="chat-text-box__other d-flex">
                                                        <div class="px-15">

                                                            <div class="dropdown dropdown-click">
                                                                <button class="btn-link border-0 bg-transparent p-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                    <span data-feather="more-horizontal"></span>
                                                                </button>
                                                                <div class="dropdown-default dropdown-bottomRight dropdown-menu-right dropdown-menu" style="">
                                                                    <a class="dropdown-item" href="#">Copy</a>
                                                                    <a class="dropdown-item" href="#">Quote</a>
                                                                    <a class="dropdown-item" href="#">Forward</a>
                                                                    <a class="dropdown-item" href="#">Report</a>
                                                                    <a class="dropdown-item" href="#">remove</a>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                    <div class="chat-text-box__subtitle p-20 bg-deep">
                                                        <p class="color-gray">Jam nonumy eirmod tempor invidunt ut
                                                            labore et
                                                            dolore magna.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End: Outgoing  -->
                            <!-- Start: Incomming -->
                            <div class="flex-1 incoming-chat mt-30">
                                <div class="chat-text-box">
                                    <div class="media ">
                                        <div class="chat-text-box__photo ">
                                            <img src="img/ekremnamazci.png" class="align-self-start mr-15 wh-46" alt="img">
                                        </div>
                                        <div class="media-body">
                                            <div class="chat-text-box__content">
                                                <div class="chat-text-box__title d-flex align-items-center">
                                                    <h6 class="fs-14">Ekrem Namazci</h6>
                                                    <span class="chat-text-box__time fs-12 color-light fw-400 ml-15">8:30
                                                                PM</span>
                                                </div>
                                                <div class="d-flex align-items-center mb-20 mt-10">
                                                    <div class="chat-text-box__subtitle p-20 bg-info">
                                                        <p class="color-white">Jam nonumy eirmod tempor invidunt ut
                                                            labore
                                                            et dolore magna.</p>
                                                    </div>
                                                    <div class="chat-text-box__other d-flex">
                                                        <div class="chat-text-box__reaction px-sm-15 px-2">

                                                            <div class="emotions">
                                                                <div class="dropdown  dropdown-click ">
                                                                    <button class="btn-link border-0 bg-transparent p-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                        <span data-feather="smile"></span> </button>
                                                                    <div class="dropdown-default dropdown-bottomRight dropdown-menu-right dropdown-menu">
                                                                        <ul class="emotions__parent d-flex">
                                                                            <li>
                                                                                <a class="" href="#">
                                                                                    <img src="img/svg/cool.png" alt="emotions">
                                                                                </a>
                                                                            </li>
                                                                            <li><a class="" href="#">
                                                                                    <img src="img/svg/happy2.png" alt="emotions">
                                                                                </a></li>
                                                                            <li><a class="" href="#">
                                                                                    <img src="img/svg/happy.png" alt="emotions">
                                                                                </a></li>
                                                                            <li><a class="" href="#">
                                                                                    <img src="img/svg/shocked.png" alt="emotions">
                                                                                </a></li>
                                                                            <li><a class="" href="#">
                                                                                    <img src="img/svg/like.png" alt="emotions">
                                                                                </a></li>
                                                                            <li><a class="" href="#">
                                                                                    <img src="img/svg/heart.png" alt="emotions">
                                                                                </a></li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>

                                                        <div class="dropdown dropdown-click">
                                                            <button class="btn-link border-0 bg-transparent p-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                <span data-feather="more-horizontal"></span>
                                                            </button>
                                                            <div class="dropdown-default dropdown-bottomRight dropdown-menu-right dropdown-menu" style="">
                                                                <a class="dropdown-item" href="#">Copy</a>
                                                                <a class="dropdown-item" href="#">Quote</a>
                                                                <a class="dropdown-item" href="#">Forward</a>
                                                                <a class="dropdown-item" href="#">Report</a>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End: Incomming -->
                            <!-- Start: Outgoing -->
                            <div class="flex-1 justify-content-end d-flex outgoing-chat">
                                <div class="chat-text-box">
                                    <div class="media ">
                                        <div class="media-body">
                                            <div class="chat-text-box__content">
                                                <div class="chat-text-box__title d-flex align-items-center justify-content-end mb-2">
                                                            <span class="chat-text-box__time fs-12 color-light fw-400">8:30
                                                                PM</span>
                                                </div>
                                                <div class="d-flex align-items-center justify-content-end">
                                                    <div class="chat-text-box__other d-flex">
                                                        <div class="px-15">

                                                            <div class="dropdown dropdown-click">
                                                                <button class="btn-link border-0 bg-transparent p-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                    <span data-feather="more-horizontal"></span>
                                                                </button>
                                                                <div class="dropdown-default dropdown-bottomRight dropdown-menu-right dropdown-menu" style="">
                                                                    <a class="dropdown-item" href="#">Copy</a>
                                                                    <a class="dropdown-item" href="#">Quote</a>
                                                                    <a class="dropdown-item" href="#">Forward</a>
                                                                    <a class="dropdown-item" href="#">Report</a>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                    <div class="chat-text-box__subtitle p-20 bg-deep">
                                                        <p class="color-gray">Jam nonumy eirmod tempor invidunt ut
                                                            labore et
                                                            dolore magna.</p>
                                                    </div>
                                                </div>
                                                <div class="seen-chat d-flex align-items-center  justify-content-end mb-2 mt-10">
                                                    <div class="chat-text-box__title d-flex align-items-center mr-10 ">
                                                                <span class="chat-text-box__time fs-12 color-light fw-400">Seen
                                                                    9:20
                                                                    PM</span>
                                                    </div>
                                                    <img src="img/ekremnamazci.png" alt="img" class="wh-20 rounded-circle">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End: Outgoing  -->
                            <!-- Start: Incomming -->
                            <div class="flex-1 incoming-chat mt-30">
                                <div class="chat-text-box">
                                    <div class="media ">
                                        <div class="chat-text-box__photo ">
                                            <img src="img/ekremnamazci.png" class="align-self-start mr-15 wh-46" alt="img">
                                        </div>
                                        <div class="media-body">
                                            <div class="chat-text-box__content">
                                                <div class="d-flex align-items-center ">
                                                    <div class="chat-text-box__subtitle typing cbg-light pr-30">
                                                        <p class="color-light text-capitalize">typing...</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End: Incomming -->

                        </div>
                        <div class="chat-footer px-xl-30 px-lg-20 pb-lg-30 pt-1">
                            <div class="chat-type-text">
                                <div class="pt-0 outline-0 pb-0 pr-0 pl-0 rounded-0 position-relative d-flex align-items-center" tabindex="-1">
                                    <div class="d-flex justify-content-between align-items-center w-100 flex-wrap">
                                        <div class=" flex-1 d-flex align-items-center chat-type-text__write ml-0">
                                            <a href="#">
                                                <span data-feather="smile"></span></a>
                                            <input class="form-control border-0 bg-transparent box-shadow-none" placeholder="Type your message...">

                                        </div>
                                        <div class="chat-type-text__btn">
                                            <button type="button" class="border-0 btn-deep color-light wh-50 p-10 rounded-circle">
                                                <span data-feather="image"></span></button>
                                            <button type="button" class="border-0 btn-deep color-light wh-50 p-10 rounded-circle">
                                                <span data-feather="paperclip"></span></button>
                                            <button type="button" class="border-0 btn-primary wh-50 p-10 rounded-circle">
                                                <span data-feather="send"></span></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- Ends: .tab-content -->
    </div>
</div>
