<div class="tab-pane fade show active" id="pills-masterclass" role="tabpanel" aria-labelledby="pills-masterclass">
    <div class="container-fluid">
        <div class="row p-top-35 p-right-30">
            <div class="col-4">
                <div class="card-body" >
                    <div style="display: flex!important;  !important;justify-content: space-between;">
                        <p class="mb-1" style="font-size: 0.9rem; font-weight: 600;color: #2695fd">Your Progress</p>
                        <div style="margin-top: -20px; padding-right: 1.8rem;">
                            <button class="mb-1 tabs-profile-progress-bar-btn" >+ 2000 XP</button>
                        </div>
                    </div>
                    <div class="progress-wrap d-flex align-items-center mb-0" style="width: 20rem!important;padding-top:5px; ">
                        <div class="progress" style="height: 6px!important;">
                            <div class="progress-bar bg-info " role="progressbar" style="width:25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <span class="progress-percentage">25%</span>
                    </div>
                    <div class="p-top-20">
                        <h5 style="color:#272b41e0;">Agenda</h5>
                    </div>
                    <div class="p-top-15">
                        <p style="border-bottom: 1px solid #ededed"></p>
                    </div>
                    <div class="timeline-box m-top-15" >
                        <div class="timeline-single d-flex" style="height: 70px!important;">
                            <span class="timeline-line" style="top:41px!important; width: 1.4px;left: 6px!important;"></span>
                            <span class="timeline-single__buble buble-success" id="master_class_agenda_video_select_bubles" style="width:14px!important;height: 14px!important;border: 1px solid #2c99ff; "></span>
                            <div class="timeline-single__content" style="padding-left: 12px;">
                                <p style="margin-bottom: -4px;font-weight: 600;font-size: 14px;" id="master_class_agenda_video_select">Masterclass Video - Ekrem Namazci</p>
                            </div>
                        </div>
                        <div class="timeline-single d-flex" style="top: 25px !important;">
                            <span class="timeline-line" style="height: 0px!important;"></span>
                            <span class="timeline-single__buble buble-danger" id="master_class_agenda_quiz_select_bubles" style="width:14px!important;height: 14px!important;border: 1px solid #2c99ff; "></span>
                            <div class="timeline-single__content" style="padding-left: 12px;">
                                <p class="e_master_class_agenda_quiz_select" style="margin-bottom: -4px;font-weight: 600;font-size: 14px;">Quiz</p>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <div class="col-8" style="padding-left: 0px; padding-right: 0">
                <div class="card " style="flex-direction: row; border-radius: 9px!important;">
                    <img src="img/ekrem-img.png" width="350" height="375" alt="..." style="border-radius: 9px 0px 0px 9px;">
                    <div class="card-body" >
                        <div class="p-left-25">
                            <ul style="display: flex;flex-direction: row;">
                                <li class="d-flex">
                                    <i style="padding-top: 4px;font-size: 18px;" class="far fa-clock">  </i>
                                    <div style="font-size: 12px;padding-top: 3px;padding-left: 7px;">
                                        <span style="font-weight: 600">1 h</span>
                                    </div>
                                </li>
                                <li  class="d-flex" style="padding-left: 40px">
                                    <i style="padding-top: 4px;font-size: 18px;" class="fas fa-layer-group"></i>
                                    <div style="font-size: 12px;padding-top: 3px;padding-left: 7px;">
                                        <span style="font-weight: 600">2 Modules</span>
                                    </div>
                                </li>
                                <li class="d-flex" style="padding-left: 40px">
                                    <i style="padding-top: 4px;font-size: 18px;" class="fas fa-share-alt-square"></i>
                                    <div style="font-size: 12px;padding-top: 3px;padding-left: 7px;">
                                        <span style="font-weight: 600">Share With a friend</span>
                                    </div>
                                </li>
                            </ul>
                            <p style="border-bottom:1px solid #efefef; margin-left: -42px;margin-right: -16px; padding-top: 20px"></p>
                            <div class="m-top-40 ">
                                <div>
                                    <h4 style="color: #4d4e4e;"> Masterclass Ekrem Namazci</h4>
                                    <p class="m-top-15 " style="font-weight: 600;font-size: 11px;color: #b7bcc9;">During this learning experience Ekrem will guide you through trends and developments in data analytics and AI.
                                        You will learn which skills are required to embark on a career in Data & AI and what business use cases are most impactful.
                                        This learning paths contains live Q&A sessions with Ekrem, literature recommendations and research.
                                </div>
                                <div style="padding-top: 72px;">
                                    <div>
                                        <h6 style="color: #4d4e4e;">What you will learn :</h6>
                                    </div>
                                    <div style="display: flex;flex-direction: row;margin-top: 18px;">
                                        <button class="btn border-none tabs-profile-btn">Start Up</button>
                                        <button  class="btn border-none tabs-profile-btn m-left-10"> Sales</button>
                                        <button  class="btn border-none tabs-profile-btn m-left-10"> Data & al</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" id="master_class_video">
                    <div class="col-lg-12">
                        <h5 class="m-top-45">Masterclass Video- Ekrem Namazci</h5>
                        <div class="m-top-15">
                            <p style="border-bottom: 1px solid #ededed"></p>
                        </div>
                        <div class="e_talks">
                            <div class="media py-20  pr-20 bg-white radius-xl users-list ">
                                <img class="w-100" src="img/ekrem-namazci-video.png" alt="video">
                            </div>
                        </div>
                        <div class="e_master_class_agenda_quiz_select d-flex m-top-25">
                            <button class="btn " style="background:#e0f0ff;"><span style="color: #49a7ff">Section Finished? Click Yes to unlock the next section</span></button>
                            <i class="far fa-smile  m-left-50 btn" style="color:#20c997;font-size: 25px; border:2px solid #20c997"><span style="font-size: 16px; padding-left: 10px;">Yes</span></i>
                        </div>
                    </div>
                </div>
                <div class="row" id="master_class_quiz" style="display:none;">
                    <div class="col-lg-12">
                        <h5 class="m-top-45">Quiz</h5>
                        <div class="m-top-15">
                            <p style="border-bottom: 1px solid #ededed"></p>                                                                    </div>
                        <div class="m-top-40 m-left-20">
                            <div>
                                <h4 style="font-size: 22px; color:#212529c4">What are the Top Al Trends ?</h4>
                                <form class="form-now m-top-30" >
                                    <div class="form-group col-md-8 p-left-0" >
                                        <input type="email" class="form-control" id="inputEmail4" placeholder="Please write your answer here" style="padding:50px">
                                    </div>
                                </form>
                            </div>
                            <div class="m-top-45">
                                <h4 style="font-size: 22px; color:#212529c4">Select the most demanded skills for a Data & AI expert ?</h4>
                            </div>
                            <div class="row d-flex flex-column m-top-35" >
                                <div class="col-lg-4" >
                                    <div class="checkbox-theme-default custom-checkbox ">
                                        <input class="checkbox" type="checkbox" id="check-grid-1">
                                        <label for="check-grid-1">
                                            <span class="checkbox-text" style="padding-left: 10px; font-size: 16px;font-weight: 600; color: #a1a4c3d1">Coding</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-lg-4 p-top-20">
                                    <div class="checkbox-theme-default custom-checkbox ">
                                        <input class="checkbox" type="checkbox" id="check-grid-2">
                                        <label for="check-grid-2">
                                            <span class="checkbox-text"style="padding-left: 10px; font-size: 16px;font-weight: 600; color: #a1a4c3d1">Storytelling</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-lg-4 p-top-20">
                                    <div class="checkbox-theme-default custom-checkbox ">
                                        <input class="checkbox" type="checkbox" id="check-grid-3">
                                        <label for="check-grid-3">
                                            <span class="checkbox-text" style="padding-left: 10px; font-size: 16px;font-weight: 600; color: #a1a4c3d1">Global Teamwork</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-lg-4 p-top-20">
                                    <div class="checkbox-theme-default custom-checkbox ">
                                        <input class="checkbox" type="checkbox" id="check-grid-4">
                                        <label for="check-grid-4">
                                            <span class="checkbox-text" style="padding-left: 10px; font-size: 16px;font-weight: 600;color: #a1a4c3d1">PowerPoint</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-lg-4 p-top-20">
                                    <div class="checkbox-theme-default custom-checkbox ">
                                        <input class="checkbox" type="checkbox" id="check-grid-5">
                                        <label for="check-grid-5">
                                            <span class="checkbox-text" style="padding-left: 10px; font-size: 16px ;font-weight: 600; color: #a1a4c3d1">Industry Knowledge</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="m-top-15">
                            <p style="border-bottom: 1px solid #ededed"></p>
                        </div>
                    </div>
                    <div class="m-left-20" style="padding-top: 17px">
                        <button class="btn btn-info"  onclick="$('#pills-product-tab').click()"><span style="padding: 4px">Submit Quiz</span></button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

