<div class="tab-pane fade" id="pills-mentoring-sessions" role="tabpanel" aria-labelledby="pills-product-tab">
    <div class="container-fluid" id="mentoring_session">
        <div class="row">
            <div class="col-md-4 pr-5">
                <div class="atbd-calendar-left">
                    <div class="atbd-calendar-left">
                        <div class="d-flex flex-row align-items-center mb-3" style="gap: 15px">
                            <button class="fs-13 w-100 btn btn-md btn-info p-0">Schedule new session</button>
                            <button class="fs-13 w-100 btn btn-md btn-light p-0">Previous Sessions</button>
                        </div>
                        <div class="card card-md mb-4">
                            <div class="card-body px-10">
                                <div class="date-picker">
                                    <div class="date-picker__calendar"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-8">
                <div class="row mt-0 pr-5">
                    <div class="col-md-12 e_talks">
                        <div class="media py-20 pl-20 pr-20 radius-xl users-list" style="background: #f8f9fb;">
                            <div class="media-body d-xl-flex" style="align-items: center;gap: 20px;">
                                <div class="qcalender" style="background: white">
                                    <span class="date" style="color: #212529">15</span>
                                    <span class="mount" style="color: #212529">Jan</span>
                                </div>
                                <div class="flex-1 pr-xl-30 flex-column justify-content-center">
                                    <h6 class="color-info pb-3">10:30 - 11:30 AM CET</h6>
                                    <p class="small mb-0 pb-1">MENTORING TOPIC</p>
                                    <p><b>New Trends in Data &Al</b></p>
                                </div>
                                <div style="margin-top: -6.125rem !important;">
                                    <div class="dropdown dropdown-click">
                                        <button class="btn-link border-0 bg-transparent p-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <span data-feather="more-horizontal"></span>
                                        </button>
                                        <div class="dropdown-default dropdown-bottomLeft dropdown-menu-right dropdown-menu">
                                            <a class="dropdown-item" href="#">Download to Gmail, iOS, Outlook</a>
                                            <a class="dropdown-item" href="#">Decline</a>
                                            <a class="dropdown-item" href="#">Re-schedule</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p style="margin-top: 10px; border-bottom: 1px solid #f2f3f7"></p>
                    </div>
                    <div class="col-md-12 e_talks">
                        <div class="media py-20 pl-20 pr-20 radius-xl users-list" style="background: #f8f9fb;">
                            <div class="media-body d-xl-flex" style="align-items: center;gap: 20px;">
                                <div class="qcalender" style="background: white">
                                    <span class="date" style="color: #212529">23</span>
                                    <span class="mount" style="color: #212529">Jan</span>
                                </div>
                                <div class="flex-1 pr-xl-30 flex-column justify-content-center">
                                    <h6 class="color-info pb-3">10:30 - 11:30 AM CET</h6>
                                    <p class="small mb-0 pb-1">MENTORING TOPIC</p>
                                    <p><b>Must-have Softskills for the Future</b></p>
                                </div>
                                <div style="margin-top: -6.125rem !important;">
                                    <div class="dropdown dropdown-click">
                                        <button class="btn-link border-0 bg-transparent p-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <span data-feather="more-horizontal"></span>
                                        </button>
                                        <div class="dropdown-default dropdown-bottomLeft dropdown-menu-right dropdown-menu">
                                            <a class="dropdown-item" href="#">Download to Gmail, iOS, Outlook</a>
                                            <a class="dropdown-item" href="#">Decline</a>
                                            <a class="dropdown-item" href="#">Re-schedule</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p style="margin-top: 10px; border-bottom: 1px solid #f2f3f7"></p>
                    </div>
                    <div class="col-md-12 e_talks">
                        <div class="media py-20 pl-20 pr-20 radius-xl users-list" style="background: #f8f9fb;">
                            <div class="media-body d-xl-flex" style="align-items: center;gap: 20px;">
                                <div class="qcalender" style="background: white">
                                    <span class="date" style="color: #212529">05</span>
                                    <span class="mount" style="color: #212529">Feb</span>
                                </div>
                                <div class="flex-1 pr-xl-30 flex-column justify-content-center">
                                    <h6 class="color-info pb-3">10:30 - 11:30 AM CET</h6>
                                    <p class="small mb-0 pb-1">MENTORING TOPIC</p>
                                    <p><b>Corporate vs Start-Up Career</b></p>
                                </div>
                                <div style="margin-top: -6.125rem !important;">
                                    <div class="dropdown dropdown-click">
                                        <button class="btn-link border-0 bg-transparent p-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <span data-feather="more-horizontal"></span>
                                        </button>
                                        <div class="dropdown-default dropdown-bottomLeft dropdown-menu-right dropdown-menu">
                                            <a class="dropdown-item" href="#">Download to Gmail, iOS, Outlook</a>
                                            <a class="dropdown-item" href="#">Decline</a>
                                            <a class="dropdown-item" href="#">Re-schedule</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p style="margin-top: 10px; border-bottom: 1px solid #f2f3f7"></p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
