<div class="tab-pane fade" id="pills-mentoring-path" role="tabpanel" aria-labelledby="pills-news-tab">
    <div class="container-fluid">
        <div class="card-body overflow-x-auto py-20 pl-25 pr-sm-20 pr-30">
            <div class="timeline-box--3 timeline-vertical left-middle basic-timeline scroll-timeline">
                <ul class="timeline" style="margin-left: 110px;">
                    <li class="timeline-inverted">
                        <div class="info">
                            <span class="atbd-tag tag-secondary sd">MEETING</span>
                        </div>
                        <div class="timeline-single__buble">
                            <button class="timeline-single__buble--svg btn-green">
                                <img src="img/svg/check.svg" alt="" class="svg">
                            </button>
                        </div>
                        <div class="timeline-single">
                            <div class="timeline-single__days">
                                <h2>Introduction Meeting #1</h2>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted add-btn mt-30 pt-35">
                        <div class="timeline-single__buble">
                            <button data-toggle="modal" data-target="#AddNewActivity" class="timeline-single__buble--svg  btn-primary shadow">
                                <img src="img/svg/plus.svg" alt="" class="svg">
                            </button>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="info">
                            <span class="atbd-tag tag-primary sd">VIDEO</span>
                        </div>
                        <div class="timeline-single__buble">
                            <button class="timeline-single__buble--svg btn-green ">
                                <img src="img/svg/check.svg" alt="" class="svg">
                            </button>
                        </div>
                        <div class="timeline-single">
                            <div class="timeline-single__days">
                                <h2>UX & UI Design Principle</h2>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted add-btn mt-30 pt-35">
                        <div class="timeline-single__buble">
                            <button data-toggle="modal" data-target="#AddNewActivity" class="timeline-single__buble--svg  btn-primary shadow">
                                <img src="img/svg/plus.svg" alt="" class="svg">
                            </button>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="info">
                            <span class="atbd-tag tag-secondary tag-danger sd">BLOG</span>
                        </div>
                        <div class="timeline-single__buble">
                            <button class="timeline-single__buble--svg btn-green">
                                <img src="img/svg/check.svg" alt="" class="svg">
                            </button>
                        </div>
                        <div class="timeline-single">
                            <div class="timeline-single__days">
                                <h2>Blog "Design Trends 2022"</h2>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted add-btn mt-30 pt-35">
                        <div class="timeline-single__buble">
                            <button data-toggle="modal" data-target="#AddNewActivity" class="timeline-single__buble--svg  btn-primary shadow">
                                <img src="img/svg/plus.svg" alt="" class="svg">
                            </button>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="info">
                            <span class="atbd-tag tag-secondary sd">MEETING</span>
                        </div>
                        <div class="timeline-single__buble">
                            <button class="timeline-single__buble--svg btn-light-2">
                                <img src="img/svg/x.svg" alt="" class="svg">
                            </button>
                        </div>
                        <div class="timeline-single">
                            <div class="timeline-single__days">
                                <h2>Mentoring Meeting #2</h2>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted add-btn mt-30 pt-35">
                        <div class="timeline-single__buble">
                            <button data-toggle="modal" data-target="#AddNewActivity" class="timeline-single__buble--svg  btn-primary shadow">
                                <img src="img/svg/plus.svg" alt="" class="svg">
                            </button>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="info">
                            <span class="atbd-tag tag-warning sd">COURSE</span>
                        </div>
                        <div class="timeline-single__buble">
                            <button class="timeline-single__buble--svg btn-light-2">
                                <img src="img/svg/x.svg" alt="" class="svg">
                            </button>
                        </div>
                        <div class="timeline-single">
                            <div class="timeline-single__days">
                                <h2>Master Digital Product Design: UX Research & UI Design</h2>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted add-btn mt-30 pt-35">
                        <div class="timeline-single__buble">
                            <button data-toggle="modal" data-target="#AddNewActivity" class="timeline-single__buble--svg  btn-primary shadow">
                                <img src="img/svg/plus.svg" alt="" class="svg">
                            </button>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="info">
                            <span class="atbd-tag tag-success sd">QUIZ</span>
                        </div>
                        <div class="timeline-single__buble">
                            <button class="timeline-single__buble--svg btn-light-2">
                                <img src="img/svg/x.svg" alt="" class="svg">
                            </button>
                        </div>
                        <div class="timeline-single">
                            <div class="timeline-single__days">
                                <h2>User-Experience Quiz: 2021 UX Year</h2>
                            </div>
                        </div>
                    </li>
                </ul>
                <button data-toggle="modal" data-target="#AddNewActivity" class="btn btn-success">Add new activity</button>
            </div>
        </div>
    </div>
</div>
