<div class="container-fluid e_page" id="hr_job_postings" style="display:none;">
    <div class="row">
        <div class="col-md-10">
            <div class="row p-0 m-0">
                <div class="col-md-12 mb-25 m-top-50">
                    <div class="user-group upper px-30 p-top-30 p-bottom-50 radius-xl bg-white color-white shadow" style="border-radius: 10px 10px 0 0 !important;">
                        <div style="padding: 19px 0;" >
                            <div class="media user-group-media d-flex justify-content-between">
                                <div class="media-body d-flex align-items-center">
                                    <img class="mr-20 wh-70 rounded-circle bg-opacity-primary" src="img/lal.jpg" alt="author">
                                    <div>
                                        <div class="m-left-5 d-flex">
                                            <a href="#learning_path_detail">
                                                <h6 class="mt-0  fw-600 fs-20 color-white" style="color: white !important;">GDEXA Digital Labs GmbH</h6>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="gr pr-1" style="display: grid;grid-template-columns: 1fr 1fr;gap: 10px">
                                    <p class="mb-0">
                                        <span data-feather="map-pin" class="nav-icon sm ml-2"> </span>
                                        <span class="fs-12"> Karlsruhe, Baden-Württemberg, Deutschland</span>
                                    </p>
                                    <p class="mb-0">
                                        <span data-feather="clock" class="nav-icon sm ml-2"> </span>
                                        <span class="fs-12"> IT-Services und IT-Consulting</span>
                                    </p>
                                    <p class="mb-0">
                                        <span data-feather="globe" class="nav-icon sm ml-2"> </span>
                                        <span class="fs-12"> Hybrid or Remote</span>
                                    </p>
                                    <p class="mb-0">
                                        <span data-feather="user" class="nav-icon sm ml-2"> </span>
                                        <span class="fs-12"> 201-500 Beschäftigte</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card p-5"  style="border-radius: 0 0 10px 10px;display: flex;flex-direction: row;justify-content: space-between;">
                        <div class="items">
                            <h6>Job profiles</h6>
                            <div class="tt">
                                <div class="tags pt-2">
                                    <span class="atbd-tag tag-light fs-13 p-2">Start Up</span>
                                    <span class="atbd-tag tag-light fs-13 p-2">Sales</span>
                                    <span class="atbd-tag tag-light fs-13 p-2">Data & AI</span>
                                </div>
                                <div class="tags pt-2">
                                    <span class="atbd-tag tag-light fs-13 p-2">Power BI</span>
                                    <span class="atbd-tag tag-light fs-13 p-2">Data Analytics</span>
                                </div>
                            </div>
                        </div>
                        <div class="items">
                            <h6>Company values</h6>
                            <div class="tt">
                                <div class="tags pt-2">
                                    <span class="atbd-tag tag-light fs-13 p-2">Start Up</span>
                                    <span class="atbd-tag tag-light fs-13 p-2">Sales</span>
                                    <span class="atbd-tag tag-light fs-13 p-2">Data & AI</span>
                                </div>
                                <div class="tags pt-2">
                                    <span class="atbd-tag tag-light fs-13 p-2">Power BI</span>
                                    <span class="atbd-tag tag-light fs-13 p-2">Data Analytics</span>
                                </div>
                            </div>
                        </div>
                        <div class="items">
                            <h6>Culture values</h6>
                            <div class="tt">
                                <div class="tags pt-2">
                                    <span class="atbd-tag tag-light fs-13 p-2">Start Up</span>
                                    <span class="atbd-tag tag-light fs-13 p-2">Sales</span>
                                    <span class="atbd-tag tag-light fs-13 p-2">Data & AI</span>
                                </div>
                                <div class="tags pt-2">
                                    <span class="atbd-tag tag-light fs-13 p-2">Power BI</span>
                                    <span class="atbd-tag tag-light fs-13 p-2">Data Analytics</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="container-fluid pb-5">
            <div class="col-12 mb-30 mt-50">
                <h4 style="color: #444444!important">Your Job potings</h4>
            </div>
            <div class="col-10">
                <div class="user-group p-30 radius-xl bg-white shadow card-scale-hover">
                    <div class="d-flex align-items-center justify-content-between pr-3">
                        <div class="">
                            <img class="mr-20 wh-70 rounded-circle bg-opacity-primary" src="img/lal.jpg" alt="author" style="width: 80px !important;height: 80px;box-shadow: 0 0 0 4px #eaecf2;">
                        </div>
                        <div class="details w-100">
                            <div class="middle d-flex justify-content-between">
                                <div class="middle d-flex justify-content-between" style="">
                                    <div class="m-left-5" style=" min-width: 408px;">
                                        <a href="#job_board_details"><h6 class="mt-0  fw-600 fs-20" style="font-size: 18px; font-family: 'Montserrat', sans-serif; color: #444444!important">Cloud-Native Developer-Consultant (m/w/d)</h6></a>
                                        <p style="color: #b6bacf;padding-top: 10px; font-size: 14px">GDEXA Digital Labs GmbH</p>
                                        <div class="bottom">
                                            <div class="d-flex justify-content-between align-items-center pt-3">
                                                <div class="alt d-flex">
                                                    <p class="fs-13 color-light mb-0"><i class="fas fa-map-marker-alt"></i> Karlsruhe, Baden-Württemberg, Deutschland</p>
                                                    <p class="fs-13 color-light mb-0 ml-5"><i class="fa fa-globe"></i><span class="ml-2"> Hybrid</span></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <span class="pl-4 pr-2 " style="border-left: 1px solid #e8e8e8; margin-left: 120px"> </span>
                                    <div class="d-flex  align-items-center m-left-15"style="width: 300px;">
                                        <div style="border: 4px solid #adadad;border-radius: 50%;filter: blur(1px);background: #adadad; ">
                                            <img  style="filter: blur(4px);" class="rounded-circle bg-opacity-primary" src="img/ekremnamazci.png" alt="" width="80">
                                        </div>
                                        <div style=" border: 4px solid #adadad;border-radius: 50%; filter: blur(1px);     position: relative;left: -35px;background: #adadad;">
                                            <img  style="filter: blur(4px);" class="" src="img/hennerschliebs.png" alt="" width="80">
                                        </div>
                                        <div style=" border: 4px solid #adadad;border-radius: 50%; filter: blur(1px);     position: relative;left: -70px;background: #adadad;">
                                            <img  style="filter: blur(4px);" class="" src="img/mohghadban.png" alt="" width="80">
                                        </div>
                                        <div style=" border: 4px solid #adadad;border-radius: 50%; filter: blur(1px);     position: relative;left: -105px;background: #adadad;">
                                            <img  style="filter: blur(4px);" class="" src="img/marilyntan.png" alt="" width="80">
                                        </div>
                                        <div style=" border: 4px solid #adadad;border-radius: 50%; filter: blur(1px);     position: relative;left: -140px;background: #adadad;">
                                            <img  style="filter: blur(4px);" class="" src="img/sigridrouam.png" alt="" width="80">
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center align-content-center">
                                    <button class="btn hover-info" style="border:1px solid #077dfcdb !important;color: #077dfcdb !important;">matched talents</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-10 mt-3">
                <div class="user-group p-30 radius-xl bg-white shadow card-scale-hover">
                    <div class="d-flex align-items-center justify-content-between pr-3">
                        <div class="">
                            <img class="mr-20 wh-70 rounded-circle bg-opacity-primary" src="img/lal.jpg" alt="author" style="width: 80px !important;height: 80px;box-shadow: 0 0 0 4px #eaecf2;">
                        </div>
                        <div class="details w-100">
                            <div class="middle d-flex justify-content-between">
                                <div class="middle d-flex justify-content-between" style="">
                                    <div class="m-left-5" style=" min-width: 408px;">
                                        <a href="#job_board_details"><h6 class="mt-0  fw-600 fs-20" style="font-size: 18px; font-family: 'Montserrat', sans-serif; color: #444444!important">Cloud-Native Developer-Consultant (m/w/d)</h6></a>
                                        <p style="color: #b6bacf;padding-top: 10px; font-size: 14px">GDEXA Digital Labs GmbH</p>
                                        <div class="bottom">
                                            <div class="d-flex justify-content-between align-items-center pt-3">
                                                <div class="alt d-flex">
                                                    <p class="fs-13 color-light mb-0"><i class="fas fa-map-marker-alt"></i> Essen, Nordrhein-Westfalen, Deutschland</p>
                                                    <p class="fs-13 color-light mb-0 ml-5"><i class="fa fa-globe"></i><span class="ml-2"> Office</span></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <span class="pl-4 pr-2 " style="border-left: 1px solid #e8e8e8; margin-left: 120px"> </span>
                                    <div class="d-flex  align-items-center m-left-15"style="width: 300px;">
                                        <div style="border: 4px solid #adadad;border-radius: 50%;filter: blur(1px);background: #adadad; ">
                                            <img  style="filter: blur(4px);" class="rounded-circle bg-opacity-primary" src="img/ekremnamazci.png" alt="" width="80">
                                        </div>
                                        <div style=" border: 4px solid #adadad;border-radius: 50%; filter: blur(1px);     position: relative;left: -35px;background: #adadad;">
                                            <img  style="filter: blur(4px);" class="" src="img/hennerschliebs.png" alt="" width="80">
                                        </div>
                                        <div style=" border: 4px solid #adadad;border-radius: 50%; filter: blur(1px);     position: relative;left: -70px;background: #adadad;">
                                            <img  style="filter: blur(4px);" class="" src="img/mohghadban.png" alt="" width="80">
                                        </div>
                                        <div style=" border: 4px solid #adadad;border-radius: 50%; filter: blur(1px);     position: relative;left: -105px;background: #adadad;">
                                            <img  style="filter: blur(4px);" class="" src="img/marilyntan.png" alt="" width="80">
                                        </div>
                                        <div style=" border: 4px solid #adadad;border-radius: 50%; filter: blur(1px);     position: relative;left: -140px;background: #adadad;">
                                            <img  style="filter: blur(4px);" class="" src="img/sigridrouam.png" alt="" width="80">
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center align-content-center">
                                    <button class="btn hover-info" style="border:1px solid #077dfcdb !important;color: #077dfcdb !important;">matched talents</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
