<div class="container-fluid e_page mentor-matching" id="hr_your_unlocked_talents" style="    margin-bottom: 400px !important;">
    <div>
        <div class="row" >
            <div class="col-md-12 mb-25 pt-2 px-3 p-bottom-100">
                <div class="row">
                    <div class="col-12">
                        <h4 class="mt-40" style="    color: #1d1d1d !important;">Your Unlocked Talents</h4>
                        <p class="fs-15" style="color: #9299b8;">here you can see unlocked talents in the last 90 days</p>
                    </div>
                    <div class="col-md-3 mt-3">
                        <div class="card">
                            <div class="card-body text-center pt-30 px-15 pb-0">
                                <div class="account-profile-cards  ">
                                    <div class="ap-img" style="display: flex;flex-direction: row;justify-content: center;">
                                        <img class="ap-img__main bg-opacity-primary rounded-circle mb-3 " src="img/karansachdeva.png" alt="profile" style="margin-right: 25px; width: 90px; height: 90px">
                                        <div class="user-progress">
                                            <div class="cicrcle-progress pr-md" data-value="97">
                                                <div class="cicrcle-progress-body">
                                                    <div class="middle-circle w-h"></div>
                                                    <div class="progress-spinner w-h"></div>
                                                </div>
                                            </div>
                                        </div>                                    </div>
                                    <div class="ap-nameAddress" style="    display: grid;justify-items: center;gap: 3px;">
                                        <h6 class="ap-nameAddress__title pt-2">Karan Sachdeva</h6>
                                        <p class="ap-nameAddress__subTitle fs-14 pt-0 m-0 ">München</p>
                                        <button class="btn btn-light mb-4 mt-2" style="color: #9299b8; background: #f4f5f7 !important;">Backend Developer</button>
                                    </div>
                                </div>
                                <div class="card-footer p-25">
                                    <div class="ap-button  button-group d-flex justify-content-center flex-wrap">
                                        <button type="button" class="btn btn-light border text-capitalize  radius-md"><span data-feather=mail></span> Message</button>
                                        <a href="#hr_job_profile" type="button" class="btn btn-info border text-capitalize  radius-md"><span data-feather="file-text"></span> View details</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 mt-3">
                        <div class="card">
                            <div class="card-body text-center pt-30 px-15 pb-0">
                                <div class="account-profile-cards  ">
                                    <div class="ap-img" style="display: flex;flex-direction: row;justify-content: center;">
                                        <img class="ap-img__main bg-opacity-primary rounded-circle mb-3 " src="img/ashleysmith.png" alt="profile" style="margin-right: 25px; width: 90px; height: 90px">
                                        <div class="user-progress">
                                            <div class="cicrcle-progress pr-md" data-value="85">
                                                <div class="cicrcle-progress-body">
                                                    <div class="middle-circle w-h"></div>
                                                    <div class="progress-spinner w-h"></div>
                                                </div>
                                            </div>
                                        </div>                                    </div>
                                    <div class="ap-nameAddress" style="    display: grid;justify-items: center;gap: 3px;">
                                        <h6 class="ap-nameAddress__title pt-2">Ashley Smith</h6>
                                        <p class="ap-nameAddress__subTitle fs-14 pt-0 m-0 ">recklinghausen</p>
                                        <button class="btn btn-light mb-4 mt-2" style="color: #9299b8; background: #f4f5f7 !important;">Fullstack Developer</button>
                                    </div>
                                </div>
                                <div class="card-footer p-25">
                                    <div class="ap-button  button-group d-flex justify-content-center flex-wrap">
                                        <button type="button" class="btn btn-light border text-capitalize  radius-md"><span data-feather=mail></span> Message</button>
                                        <a href="#hr_job_profile" type="button" class="btn btn-info border text-capitalize  radius-md"><span data-feather="file-text"></span> View details</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 mt-3">
                        <div class="card">
                            <div class="card-body text-center pt-30 px-15 pb-0">
                                <div class="account-profile-cards  ">
                                    <div class="ap-img" style="display: flex;flex-direction: row;justify-content: center;">
                                        <img class="ap-img__main bg-opacity-primary rounded-circle mb-3 " src="img/ekremnamazci.png" alt="profile" style="margin-right: 25px; width: 90px; height: 90px">
                                        <div class="user-progress">
                                            <div class="cicrcle-progress pr-md" data-value="79">
                                                <div class="cicrcle-progress-body">
                                                    <div class="middle-circle w-h"></div>
                                                    <div class="progress-spinner w-h"></div>
                                                </div>
                                            </div>
                                        </div>                                    </div>
                                    <div class="ap-nameAddress" style="    display: grid;justify-items: center;gap: 3px;">
                                        <h6 class="ap-nameAddress__title pt-2">Ekrem Namazcı</h6>
                                        <p class="ap-nameAddress__subTitle fs-14 pt-0 m-0 ">recklinghausen</p>
                                        <button class="btn btn-light mb-4 mt-2" style="color: #9299b8; background: #f4f5f7 !important;">Data & AlI Lead</button>
                                    </div>
                                </div>
                                <div class="card-footer p-25">
                                    <div class="ap-button  button-group d-flex justify-content-center flex-wrap">
                                        <button type="button" class="btn btn-light border text-capitalize  radius-md"><span data-feather=mail></span> Message</button>
                                        <a href="#hr_job_profile" type="button" class="btn btn-info border text-capitalize  radius-md"><span data-feather="file-text"></span> View details</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>