<div class="container-fluid e_page hackathon-detail" id="hackathon_detail" style="display:none;">
    <div class="row">
        <div class="col-md-8 mt-5">
            <div class="card mb-5">
                <div class="position-relative card-div-top">
                    <div class="banner-date">
                        <b class="text-dark">23</b>
                        <p>Nov</p>
                    </div>
                    <div class="card-img-top-bg">
                        <img src="img/hackathons-detailbanner.jpg" class="card-img-top">
                    </div>
                    <h2 class="card-title">Build the next EdTech Unicorn</h2>
                </div>

                <div class="card-body">
                    <h5 class="card-title text-dark">Skills you will learn</h5>
                    <div class="row">
                        <div class="col-md-6 will-learn">
                            <button class="btn">Prototyping</button>
                            <button class="btn">Storytelling</button>
                            <button class="btn">Design Thinking</button>
                            <button class="btn">Project management</button>
                            <button class="btn">Business development</button>
                        </div>
                        <div class="col-md-6">
                            <div>
                                <small style="color: #838383a8;">Joined participants</small>
                                <br>
                                <div class="float-left">
                                    <img class="pb-3" src="img/hackathons-joineds.png">
                                </div>
                                <a href="#hackathon_detail" class="btn btn-secondary border-0 float-right">Join event</a>
                            </div>

                            <div class="w-100 mt-4">
                                <div class="progress rounded" style="height: 5px;width: 90%;">
                                    <div class="progress-bar progress_bar_stick" role="progressbar" style="width: 84%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <small class="text-muted float-right" style="margin-top: -12px;">84%</small>
                            </div>
                            <small class="mt-2" style="color: #838383a8;">40 / 50 seats booked</small>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <h5 class="card-title text-dark">Phase 1: Ideation (Day 1)</h5>
                    <p class="card-text">
                        <small class="text-muted">During the first phase of the hackathon, participants will create ideas on business cases guided by a GDEXA Coach. The objective is to identify high-impact scenarios and create teams to work on the cases throughout the project.
                            <br>
                            <br>
                            - Masterclass "E-Commerce industry best practices and innovative use cases" <br>
                            - Moderated ideation <br>
                            - Session to identify high impact business use cases in E-Commerce <br>
                            - High-level target architecture and solution design <br>
                            - Team creation
                        </small>
                    </p>

                    <h5 class="card-title text-dark">Phase 2: Planning (Day 2)</h5>
                    <p class="card-text">
                        <small class="text-muted">After the use case ideas has been created and teams set up, the teams are working on the functional design and business model of their idea. The goal is to have a clear path forward of how the solution shall function and what steps are required to implement (Project Plan).
                            <br>
                            <br>
                            - Definition of technical functionalities and translate them into business values <br>
                            - Developing user stories to map business demand with functional design <br>
                            - Planning of resources needed and timeline <br>
                            - Business model definition, market and competitive analysis <br>
                            - Masterclass "Design Thinking and Agile Method" performed by GDEXA Expert
                        </small>
                    </p>

                    <h5 class="card-title text-dark">Phase 3: Realization (Day 3-6)</h5>
                    <p class="card-text">
                        <small class="text-muted">This phase is the core component of the hackathon where the realization of the idea takes place. In an Agile approach, the team will work in pairs to design a solution or an MVP (Minimum viable product) as a first version.
                            <br>
                            <br>
                            - Definition (or prototyping) of functionalities and overall solution design <br>
                            - Fine-tuning and gap-analysis of technical and business requirements <br>
                            - Visualization and integration into existing systems and processes <br>
                            - Testing and Simulation
                        </small>
                    </p>

                    <h5 class="card-title text-dark">Phase 4: Presentation (Day 7)</h5>
                    <p class="card-text">
                        <small class="text-muted">In this final step, the teams are going to prepare the results and outcomes in an executive summary and pitch deck. The main objective is to articulate the business problem and the way the teams tackled it. Finally, the value and impact should be summarized in a simple but thoughtful way.
                            <br>
                            <br>
                            - Result presentation and executive summary of the use case <br>
                            - Value proposition and business impact demonstration <br>
                            - Go-to-market and investment plan <br>
                            - Masterclass "Storytelling and Pitch Perfect" by GDEXA Expert <br>
                        </small>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>