<div class="container-fluid p-5 mt-2 e_page" id="mentor_my_wallet" style="">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-xxl-4 col-lg-5 m-bottom-30" style="margin-left: -10px">
                    <div class="card card-overview-progress border-0"
                         style="min-height: 525px !important; min-width: 411px!important;">
                        <div class="card-header border-0">
                            <h2 style=" width: 100%;text-align: center;font-size: 30px;color: white !important;padding-top: 35px;">
                                Virtual Wallet </h2>
                            <div class="d-flex justify-content-between w-100 align-items-center">
                                <div class="dropdown">
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                                        <a class="dropdown-item" href="#">Action</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="card-progress"
                                 style="display: flex;flex-direction: column;align-items: center;">
                                <div class="card-progress__summery d-flex justify-content-between">
                                    <div>
                                        <strong class="color-dark"
                                                style="font-size: 55px;font-weight: 500;">G$185,00</strong>
                                    </div>
                                </div>
                                <div class="card-progress__bar">
                                    <div class="progress-excerpt" style="margin-top: -25px;padding-bottom: 16px;">
                                        <p style="font-size: 15px" class="progress-upword"><strong
                                                    style="font-size: 15px"><span><i class="fas fa-arrow-up"></i></span>
                                                25%</strong> Since last week <br> Your virtual coins earnings from
                                            <br> your Mentoring Sessions </p>
                                    </div>
                                </div>
                            </div>
                            <div style="text-align: -webkit-center; margin-top: 15%;">
                                <button class="btn " style=" background: #077dfcdb; color: white;">Redeem Your
                                    Earnings
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-7">
                    <div class="card border-0 p-4">
                        <div class="d-flex justify-content-between mt-15 pt-0">
                            <h2>Your Earnings</h2>
                            <nav class="atbd-page ">
                                <ul class="atbd-pagination d-flex">
                                    <li class="atbd-pagination__item">
                                        <a href="#" class="atbd-pagination__link pagination-control"><span
                                                    class="la la-angle-left"><</span></a>
                                        <a href="#" class="atbd-pagination__link"><span class="page-number">1</span></a>
                                        <a href="#" class="atbd-pagination__link active"><span
                                                    class="page-number">2</span></a>
                                        <a href="#" class="atbd-pagination__link"><span class="page-number">3</span></a>
                                        <a href="#" class="atbd-pagination__link pagination-control"><span
                                                    class="page-number">...</span></a>
                                        <a href="#" class="atbd-pagination__link"><span
                                                    class="page-number">12</span></a>
                                        <a href="#" class="atbd-pagination__link pagination-control"><span
                                                    class="la la-angle-right">></span></a>
                                        <a href="#" class="atbd-pagination__option">
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>

                        <div class="card-body pt-3 p-0">
                            <div class="tab-content">
                                <div class="tab-pane fade active show" id="st_matrics-today" role=""
                                     aria-labelledby="st_matrics-tab">
                                    <div class="table-responsive">
                                        <table class="table table-social">
                                            <thead>
                                            <tr>
                                                <th class="text-left" scope="col">Talent</th>
                                                <th class="text-left" scope="col">Service</th>
                                                <th class="text-left" scope="col">Earning</th>
                                                <th class="text-left" scope="col">Date</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>

                                            </tr>
                                            <tr>
                                                <td class="col-4">
                                                    <div class="item d-flex align-items-center">
                                                        <div class="item-info d-flex align-items-center">
                                                            <a href="#"
                                                               class="profile-image rounded-circle d-block m-0 wh-32"
                                                               style="background-image:url('img/tm6.png'); background-size: cover;"></a>
                                                            <div class="pl-2">
                                                                Hans Peter
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="text-left py-3">Mentoring Session</td>
                                                <td class="text-left py-3">25 $</td>
                                                <td class="text-left py-3">January 20, 2022</td>
                                            </tr>
                                            <tr>
                                                <td class="col-4">
                                                    <div class="item d-flex align-items-center">
                                                        <div class="item-info d-flex align-items-center">
                                                            <a href="#"
                                                               class="profile-image rounded-circle d-block m-0 wh-32"
                                                               style="background-image:url('img/tm6.png'); background-size: cover;"></a>
                                                            <div class="pl-2">
                                                                Ulla Schmidt
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="text-left py-3">Mentoring Session</td>
                                                <td class="text-left py-3">25 $</td>
                                                <td class="text-left py-3">February 08, 2022</td>
                                            </tr>
                                            <tr>
                                                <td class="col-4">
                                                    <div class="item d-flex align-items-center">
                                                        <div class="item-info d-flex align-items-center">
                                                            <a href="#"
                                                               class="profile-image rounded-circle d-block m-0 wh-32"
                                                               style="background-image:url('img/tm6.png'); background-size: cover;"></a>
                                                            <div class="pl-2">
                                                                Dirk Reuter
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="text-left py-3">Mentoring Session</td>
                                                <td class="text-left py-3">25 $</td>
                                                <td class="text-left py-3">March 28, 2022</td>
                                            </tr>
                                            <tr>
                                                <td class="col-4">
                                                    <div class="item d-flex align-items-center">
                                                        <div class="item-info d-flex align-items-center">
                                                            <a href="#"
                                                               class="profile-image rounded-circle d-block m-0 wh-32"
                                                               style="background-image:url('img/tm6.png'); background-size: cover;"></a>
                                                            <div class="pl-2">
                                                                Kevin Kurany
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="text-left py-3">Mentoring Session</td>
                                                <td class="text-left py-3">25 $</td>
                                                <td class="text-left py-3">June 02, 2022</td>
                                            </tr>
                                            <tr>
                                                <td class="col-4">
                                                    <div class="item d-flex align-items-center">
                                                        <div class="item-info d-flex align-items-center">
                                                            <a href="#"
                                                               class="profile-image rounded-circle d-block m-0 wh-32"
                                                               style="background-image:url('img/tm6.png'); background-size: cover;"></a>
                                                            <div class="pl-2">
                                                                Jessica Müller
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="text-left py-3">Mentoring Session</td>
                                                <td class="text-left py-3">25 $</td>
                                                <td class="text-left py-3">December 15, 2022</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="m-top-30">
                                <h1 class="breadcrumb-title text-dark">Organisation</h1>
                                <small class="mt-4 text-muted">Please find an organisation to which you would like to donate your earning</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 mt-5">
                    <div class="row" style="width: 85%;">
                        <% var hackathons_data = [
                            {"img": "rotes_kreuz.jpg", "title": "Deutsches Rotes Kreuz", "start_date": "07 Jan 2022", "progress": 725,"progress_2": 25 , "booked": 40},
                            {"img": "unicef.jpg", "title": "Unicef", "start_date": "17 Jan 2022", "progress": 310,"progress_2": 310 , "booked": 20},
                            {"img": "world_health.jpg", "title": "UN SOS Kinderdörfer", "start_date": "01 Feb 2022", "progress": 90,"progress_2": 25 , "booked": 40},
                            {"img": "caritas.jpg", "title": "Caritas International", "start_date": "07 Feb 2022", "progress": 925,"progress_2": 25 , "booked": 10}
                        ]; %>
                        <% hackathons_data.forEach(function(e){ %>
                        <div class="col-md-3 mb-3">
                            <div class="card h-100">
                                <div class="position-relative card-div-top">
                                    <div>
                                        <img src="img/<%-e.img%>" style="max-height: 180px; min-height: 180px ; overflow: hidden" class="card-img-top">
                                    </div>
                                    <h5 class="card-title text-capitalize p-2 text-center"><%-e.title%></h5>
                                    <h4 class="card-title text-capitalize p-2 text-center pb-0">$<%-e.progress%></h4>
                                </div>

                                <div class="card-body">
                                    <div class="w-100 mt-2 d-flex justify-content-between">
                                        <small class="text-muted" style="margin-top: -10px;">$ 0</small>
                                        <div class="progress rounded" style="height: 5px;width: 70%;">
                                            <div class="progress-bar progress_bar_stick bg-success" role="progressbar" style="width: <%-e.progress/10%>%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        <small class="text-muted" style="margin-top: -10px;">1000 $</small>
                                    </div>
                                    <a href="" class="m-top-20 btn btn-success border-0" style="margin: 10px auto">Redeem</a>
                                </div>
                            </div>
                        </div>
                        <% }) %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>