<div class="container-fluid e_page" id="dashboard">
    <div>
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-main">
                    <h1 class="text-capitalize breadcrumb-title">Welcome back Talent. Check your Dashboard to see any updates.</h1>
                </div>
            </div>


        <div class="col-11">
            <div class="row m-0 p-0">
                <div class="col-lg-6 mb-25 pt-2 px-3">
                    <div class="social-overview-wrap">
                        <div class="card border-0">
                            <div class="card-header" style="position: relative;padding-top: 16px;">
                                <h5 class="font-weight-bold">Your assigned Mentors</h5>
                                <p class="small pt-1">Here you can find your assigned mentors</p>
                                <a href="#men_overview"><button class="btn-sm btn btn-default btn-squared btn-outline-success float-end" style="right: 20px;top: 18px;position: absolute;">View all mentors</button></a>
                            </div>
                            <div class="row m-0 mt-2 pb-3">
                                <div class="col-md-6 mb-25 p-0">
                                    <div class="card border-0">
                                        <div class="card-body text-center pt-30 px-25 pb-0">
                                            <div class="account-profile-cards">
                                                <div class="ap-img d-flex justify-content-center">
                                                    <!-- Profile picture image-->
                                                    <img class="ap-img__main bg-opacity-primary  wh-120 rounded-circle mb-3 " src="img/ekremnamazci.png" alt="profile">
                                                </div>
                                                <div class="ap-nameAddress">
                                                    <h6 class="ap-nameAddress__title">Ekrem Namazci</h6>
                                                    <p class="ap-nameAddress__subTitle fs-14 pt-0 m-0 ">Data & AI Lead</p>
                                                    <p class="ap-nameAddress__subTitle fs-14 pt-0 m-0 ">Microsoft</p>
                                                </div>
                                                <div class="ap-button button-group d-flex justify-content-center flex-wrap pt-20">
                                                    <button type="button" class="btn btn-light border text-capitalize px-25 radius-md">View Profile</button>
                                                    <button type="button" class="btn btn-info  border text-capitalize px-25 follow radius-md">Check learning path</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-25 p-0">
                                    <div class="card border-0">
                                        <div class="card-body text-center pt-30 px-25 pb-0">
                                            <div class="account-profile-cards  ">
                                                <div class="ap-img d-flex justify-content-center">
                                                    <!-- Profile picture image-->
                                                    <img class="ap-img__main bg-opacity-primary  wh-120 rounded-circle mb-3 " src="img/sigridrouam.png" alt="profile">
                                                </div>
                                                <div class="ap-nameAddress">
                                                    <h6 class="ap-nameAddress__title">Dr. Sigrid Rouam</h6>
                                                    <p class="ap-nameAddress__subTitle fs-14 pt-0 m-0 ">Head of Data Science</p>
                                                    <p class="ap-nameAddress__subTitle fs-14 pt-0 m-0 ">Credit Suisse</p>
                                                </div>
                                                <div class="ap-button button-group d-flex justify-content-center flex-wrap pt-20">
                                                    <button type="button" class="btn btn-light border text-capitalize px-25 radius-md">View Profile</button>
                                                    <button type="button" class="btn btn-info  border text-capitalize px-25 follow radius-md">Check learning path</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-lg-6 mb-25 pt-2 px-3">
                    <div class="social-overview-wrap">
                        <div class="card border-0">
                            <div class="card-header" style="position: relative;padding-top: 16px;">
                                <h5 class="font-weight-bold">Learning paths</h5>
                                <p class="small pt-1">Monitor your learning paths.</p>
                                <a href="#learning_paths"><button class="btn-sm btn btn-default btn-squared btn-outline-success float-end" style="right: 20px;top: 18px;position: absolute;">View all paths</button></a>
                            </div>
                            <div class="row m-0 mt-2 pb-3">
                                <div class="col-md-12 mb-25 p-0 pt-2">
                                    <div class="media d-flex justify-content-start">
                                        <div class="media py-20 pl-20 pr-20 bg-white radius-xl w-100">
                                            <img class=" mr-20 rounded-circle wh-70 bg-opacity-primary  " src="img/green.svg" alt="Generic placeholder image">
                                            <div class="media-body d-xl-flex users-list-body">
                                                <div class="flex-1 pr-xl-30">
                                                    <h6 class="mt-0 fw-500">Data & Al</h6>
                                                    <span class="small pt-0">by Ekrem Namazci</span>
                                                    <div class="user-group-progress-bar">
                                                        <div class="progress-wrap d-flex align-items-center ">
                                                            <div class="progress">
                                                                <div class="progress-bar bg-info" role="progressbar" style="width: 84%;" aria-valuenow="84" aria-valuemin="0" aria-valuemax="100"></div>
                                                            </div>
                                                            <span class="progress-percentage">84%</span>
                                                        </div>
                                                        <p class="color-light fs-12 mb-0 small pt-0">12 / 15 tasks completed</p>
                                                    </div>
                                                </div>
                                                <a href="#learning_path_detail"><button type="button" class="btn btn-light border text-capitalize px-25 radius-md mt-4">Continue</button></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 mb-25 p-0 pt-2">
                                    <div class="media d-flex justify-content-start">
                                        <div class="media py-20 pl-20 pr-20 bg-white radius-xl w-100">
                                            <img class=" mr-20 rounded-circle wh-70 bg-opacity-primary  " src="img/red.svg" alt="Generic placeholder image">
                                            <div class="media-body d-xl-flex users-list-body">
                                                <div class="flex-1 pr-xl-30">
                                                    <h6 class="mt-0 fw-500">Data Science</h6>
                                                    <span class="small pt-0">by Dr. Sigrid Rouam</span>
                                                    <div class="user-group-progress-bar">
                                                        <div class="progress-wrap d-flex align-items-center ">
                                                            <div class="progress">
                                                                <div class="progress-bar bg-info" role="progressbar" style="width: 44%;" aria-valuenow="44" aria-valuemin="0" aria-valuemax="100"></div>
                                                            </div>
                                                            <span class="progress-percentage">44%</span>
                                                        </div>
                                                        <p class="color-light fs-12 mb-0 small pt-0">12 / 15 tasks completed</p>
                                                    </div>
                                                </div>
                                                <a href="#learning_path_detail"><button type="button" class="btn btn-light border text-capitalize px-25 radius-md mt-4">Continue</button></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-lg-6 mb-25 pt-2 px-3">
                    <div class="social-overview-wrap">
                        <div class="card border-0">
                            <div class="card-header" style="position: relative;padding-top: 16px;">
                                <h5 class="font-weight-bold">Upcoming Mentor Talks</h5>
                                <p class="small pt-1">Here are you next mentoring sessions with your mentors.</p>
                                <a href="#mentoring_session"><button class="btn-sm btn btn-default btn-squared btn-outline-success float-end" style="right: 20px;top: 18px;position: absolute;">View all sessions</button></a>
                            </div>


                            <div class="row m-0 mt-2 pb-3">
                                <div class="col-md-12 e_talks">
                                    <div class="media py-20 pl-20 pr-20 bg-white radius-xl users-list ">
                                        <div class="media-body d-xl-flex" style="align-items: center;gap: 20px;">
                                            <div class="qcalender">
                                                <span class="date">23</span>
                                                <span class="mount">Nov</span>
                                            </div>
                                            <div class="flex-1 pr-xl-30 ">
                                                <p class="small mb-0"><b>Fri. 23.11.2020 &ensp;&ensp; 09:30 CET &ensp;&ensp; </b> Ekrem Namazci</p>
                                            </div>
                                            <button type="button" data-func="declined" class="btn btn-light btn-default btn-squared text-capitalize px-20 mb-10">Declined</button>
                                            <button class="btn btn-info btn-default btn-squared text-capitalize px-20 mb-10">view profile</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 e_talks">
                                    <div class="media py-20 pl-20 pr-20 bg-white radius-xl users-list ">
                                        <div class="media-body d-xl-flex" style="align-items: center;gap: 20px;">
                                            <div class="qcalender">
                                                <span class="date">15</span>
                                                <span class="mount">Dec</span>
                                            </div>
                                            <div class="flex-1 pr-xl-30 ">
                                                <p class="small mb-0"><b>Wed. 15.12.2020 &ensp;&ensp;09:30 CET &ensp;&ensp;</b> Dr. Sigrid Rouam</p>
                                            </div>
                                            <button type="button" data-func="declined" class="btn btn-light btn-default btn-squared text-capitalize px-20 mb-10">Declined</button>
                                            <button class="btn btn-info btn-default btn-squared text-capitalize px-20 mb-10">view profile</button>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12 e_talks">
                                    <div class="media py-20 pl-20 pr-20 bg-white radius-xl users-list ">
                                        <div class="media-body d-xl-flex" style="align-items: center;gap: 20px;">
                                            <div class="qcalender">
                                                <span class="date">23</span>
                                                <span class="mount">Dec</span>
                                            </div>
                                            <div class="flex-1 pr-xl-30 ">
                                                <p class="small mb-0"><b>Tue. 23.12.2020 09:30 CET </b> Ekrem Namazci</p>
                                            </div>
                                            <button type="button" data-func="declined" class="btn btn-light btn-default btn-squared text-capitalize px-20 mb-10">Declined</button>
                                            <button class="btn btn-info btn-default btn-squared text-capitalize px-20 mb-10">view profile</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 e_talks">
                                    <div class="media py-20 pl-20 pr-20 bg-white radius-xl users-list ">
                                        <div class="media-body d-xl-flex" style="align-items: center;gap: 20px;">
                                            <div class="qcalender">
                                                <span class="date">15</span>
                                                <span class="mount">Jan</span>
                                            </div>
                                            <div class="flex-1 pr-xl-30 ">
                                                <p class="small mb-0"><b>Mon. 15.01.2021 09:30 CET </b> Dr. Sigrid Rouam</p>
                                            </div>
                                            <button type="button" data-func="declined" class="btn btn-light btn-default btn-squared text-capitalize px-20 mb-10">Declined</button>
                                            <button class="btn btn-info btn-default btn-squared text-capitalize px-20 mb-10">view profile</button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>