<div class="container-fluid e_page" id="learning_path_meeting" style="display:none;">
    <div>
        <div class="row">
            <div>
                <div class="container" style="margin-top: 30px">
                    <div class="row d-flex justify-content-center align-items-center">
                        <div class="d-flex " style="margin-top: 15px">
                            <h5 class="ml-5" >Mentor search <span class="m-left-20" style="border-right: 1px solid black; font-size: 21px;"></span></h5>
                            <p class="m-left-20">274 Mentors</p>
                        </div>
                         <div class="form m-left-20"> <i class="fa fa-search"></i> <input type="text" class="form-control form-input" placeholder="Search by Name or Mentoring Topic"></div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="m-top-70 m-left-10" >
                    <div >
                        <p style="font-size: 26px;color: rgb(0 0 0 / 80%);font-weight: 600;" >Global Mentors & Masterclasses</p>
                        <p  style="margin-top: -15px;font-size: 15px;" >Here you can watch the masterclasses for our Mentors. If you want to access their learning path, you need to be connected to the mentor.</p>
                    </div>

                </div>
            </div>
            <div class="col-md-9 mb-25  px-3" style="margin-top: -14px">
                <div class="row">
                    <div class="col-xs-4  mt-1" style="margin-left: 25px">
                        <div>
                            <div class="profile-card-3"><img draggable="false" src="img/pagePicture/ekrem.jpg" width="350" height="350" class="img img-responsive ">
                                <div class="profile-play-circle"><i style="width: 100px" class="far fa-play-circle"></i></div>
                                <div class="profile-card-main">
                                    <div class="profile-name-3 pb-1">Ekrem Namazci</div>
                                    <div class="profile-username-3">Data & AI Lead <i style="margin-left:4px;margin-right: 4px " class="fas fa-map-marker-alt"></i>   Microsoft</div>
                                    <div class="profile-button">
                                        <button class="profile-button-btn ">Start Up</button>
                                        <button class="profile-button-btn ml-2">Sales</button>
                                        <button class="profile-button-btn ml-2"> Data & Al</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4  mt-1" style="margin-left: 25px">
                        <div>
                            <div class="profile-card-3"><img draggable="false" src="img/bhawna.jpg" width="350" height="350" class="img img-responsive ">
                                <div class="profile-play-circle"><i style="width: 100px" class="far fa-play-circle"></i></div>
                                <div class="profile-card-main">
                                    <div class="profile-name-3">Bhawna Gandhi</div>
                                    <div class="profile-username-3 pb-1">Head of HR <i style="margin-left:4px;margin-right: 4px " class="fas fa-map-marker-alt"></i>   Sodexo</div>
                                    <div class="profile-button">
                                        <button class="profile-button-btn ">Start Up</button>
                                        <button class="profile-button-btn ml-2">Sales</button>
                                        <button class="profile-button-btn ml-2"> Data & Al</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4  mt-1" style="margin-left: 25px">
                        <div>
                            <div class="profile-card-3">
                                <img draggable="false" src="img/image-2/Mabel.jpg" width="350" height="350" class="img img-responsive ">
                                <div class="profile-play-circle "><i style="width: 100px" class="far fa-play-circle"></i></div>
                                <div class="profile-card-main">
                                    <div class="profile-name-3">Mabel Lu</div>
                                    <div class="profile-username-3 pb-1">Global VP Digital Transformation <i style="margin-left:4px;margin-right: 4px " class="fas fa-map-marker-alt"></i>   Danone</div>
                                    <div class="profile-button">
                                        <button class="profile-button-btn ">Start Up</button>
                                        <button class="profile-button-btn ml-2">Sales</button>
                                        <button class="profile-button-btn ml-2"> Data & Al</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4  mt-1" style="margin-left: 25px">
                        <div>
                            <div class="profile-card-3"><img draggable="false" src="img/tan.jpg" width="350" height="350" class="img img-responsive ">
                                <div class="profile-play-circle"><i style="width: 100px" class="far fa-play-circle"></i></div>
                                <div class="profile-card-main">
                                    <div class="profile-name-3">Marilyn Tan</div>
                                    <div class="profile-username-3 pb-1">Country Head <i style="margin-left:4px;margin-right: 4px " class="fas fa-map-marker-alt"></i>   Snowflake</div>
                                    <div class="profile-button">
                                        <button class="profile-button-btn ">Start Up</button>
                                        <button class="profile-button-btn ml-2">Sales</button>
                                        <button class="profile-button-btn ml-2"> Data & Al</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4  mt-1" style="margin-left: 25px">
                        <div>
                            <div class="profile-card-3"><img draggable="false" src="img/image-2/Alexander.jpg" width="350" height="350" class="img img-responsive ">
                                <div class="profile-play-circle"><i style="width: 100px" class="far fa-play-circle"></i></div>
                                <div class="profile-card-main">
                                    <div class="profile-name-3">Alexander Alten-Lorenz</div>
                                    <div class="profile-username-3 pb-1">CEO <i style="margin-left:4px;margin-right: 4px " class="fas fa-map-marker-alt"></i>   Databloom.ai</div>
                                    <div class="profile-button">
                                        <button class="profile-button-btn ">Start Up</button>
                                        <button class="profile-button-btn ml-2">Sales</button>
                                        <button class="profile-button-btn ml-2"> Data & Al</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4  mt-1" style="margin-left: 25px">
                        <div>
                            <div class="profile-card-3"><img draggable="false" src="img/cawa.jpg" width="350" height="350" class="img img-responsive ">
                                <div class="profile-play-circle"><i style="width: 100px" class="far fa-play-circle"></i></div>
                                <div class="profile-card-main">
                                    <div class="profile-name-3">Cawa Younosi</div>
                                    <div class="profile-username-3 pb-1">Head of HR <i style="margin-left:4px;margin-right: 4px " class="fas fa-map-marker-alt"></i>   SAP</div>
                                    <div class="profile-button">
                                        <button class="profile-button-btn ">Start Up</button>
                                        <button class="profile-button-btn ml-2">Sales</button>
                                        <button class="profile-button-btn ml-2"> Data & Al</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4  mt-1" style="margin-left: 25px">
                        <div>
                            <div class="profile-card-3"><img draggable="false" src="img/aylin.jpg" width="350" height="350" class="img img-responsive ">
                                <div class="profile-play-circle"><i style="width: 100px" class="far fa-play-circle"></i></div>
                                <div class="profile-card-main">
                                    <div class="profile-name-3">Aylin Aslaner</div>
                                    <div class="profile-username-3 pb-1">Director Sales <i style="margin-left:4px;margin-right: 4px " class="fas fa-map-marker-alt"></i>   Zoom</div>
                                    <div class="profile-button">
                                        <button class="profile-button-btn ">Start Up</button>
                                        <button class="profile-button-btn ml-2">Sales</button>
                                        <button class="profile-button-btn ml-2"> Data & Al</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4  mt-1" style="margin-left: 25px">
                        <div>
                            <div class="profile-card-3"><img draggable="false" src="img/guilia.jpg" width="350" height="350" class="img img-responsive ">
                                <div class="profile-play-circle"><i style="width: 100px" class="far fa-play-circle"></i></div>
                                <div class="profile-card-main">
                                    <div class="profile-name-3">Guilia Böhler</div>
                                    <div class="profile-username-3 pb-1">Partner Manager <i style="margin-left:4px;margin-right: 4px " class="fas fa-map-marker-alt"></i>   Google</div>
                                    <div class="profile-button">
                                        <button class="profile-button-btn ">Start Up</button>
                                        <button class="profile-button-btn ml-2">Sales</button>
                                        <button class="profile-button-btn ml-2"> Data & Al</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4  mt-1" style="margin-left: 25px">
                        <div>
                            <div class="profile-card-3"><img draggable="false" src="img/image-2/Magdalena.jpg" width="350" height="350" class="img img-responsive ">
                                <div class="profile-play-circle"><i style="width: 100px" class="far fa-play-circle"></i></div>
                                <div class="profile-card-main">
                                    <div class="profile-name-3">Magdalena Rogl</div>
                                    <div class="profile-username-3 pb-1">Head of D&I <i style="margin-left:4px;margin-right: 4px " class="fas fa-map-marker-alt"></i>   Microsoft</div>
                                    <div class="profile-button">
                                        <button class="profile-button-btn ">Start Up</button>
                                        <button class="profile-button-btn ml-2">Sales</button>
                                        <button class="profile-button-btn ml-2"> Data & Al</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4  mt-1" style="margin-left: 25px">
                        <div>
                            <div class="profile-card-3"><img draggable="false" src="img/carsten.jpg" width="350" height="350" class="img img-responsive ">
                                <div class="profile-play-circle"><i style="width: 100px" class="far fa-play-circle"></i></div>
                                <div class="profile-card-main">
                                    <div class="profile-name-3">Prof. Dr. Carsten Bartsch</div>
                                    <div class="profile-username-3 pb-1"><i style="margin-left:4px;margin-right: 4px " class="fas fa-map-marker-alt"></i>   HDBW University</div>
                                    <div class="profile-button">
                                        <button class="profile-button-btn ">Start Up</button>
                                        <button class="profile-button-btn ml-2">Sales</button>
                                        <button class="profile-button-btn ml-2"> Data & Al</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4  mt-1" style="margin-left: 25px">
                        <div>
                            <div class="profile-card-3"><img draggable="false" src="img/sigrid.jpg" width="350" height="350" class="img img-responsive ">
                                <div class="profile-play-circle"><i style="width: 100px" class="far fa-play-circle"></i></div>
                                <div class="profile-card-main">
                                    <div class="profile-name-3">Dr. Sigrid Rouam</div>
                                    <div class="profile-username-3 pb-1">Head of Data Science <i style="margin-left:4px;margin-right: 4px " class="fas fa-map-marker-alt"></i>   Credit Suisse</div>
                                    <div class="profile-button">
                                        <button class="profile-button-btn ">Start Up</button>
                                        <button class="profile-button-btn ml-2">Sales</button>
                                        <button class="profile-button-btn ml-2"> Data & Al</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4  mt-1" style="margin-left: 25px">
                        <div>
                            <div class="profile-card-3"><img draggable="false" src="img/roland.jpg" width="350" height="350" class="img img-responsive ">
                                <div class="profile-play-circle"><i style="width: 100px" class="far fa-play-circle"></i></div>
                                <div class="profile-card-main">
                                    <div class="profile-name-3">Roland Hölscher</div>
                                    <div class="profile-username-3 pb-1">Chief Revenue Officer <i style="margin-left:4px;margin-right: 4px " class="fas fa-map-marker-alt"></i>   Kendaxa</div>
                                    <div class="profile-button">
                                        <button class="profile-button-btn ">Start Up</button>
                                        <button class="profile-button-btn ml-2">Sales</button>
                                        <button class="profile-button-btn ml-2"> Data & Al</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>