<div class="container-fluid e_page" id="learning_path_detail" style="display:none;">
    <div>
        <div class="row m-top-150">

            <div class="col-md-3 mb-25">

                <div class="user-group px-30 pt-30 pb-25 radius-xl bg-white shadow">
                    <div class="user-group-progress-bar">
                        <span class="fs-13 text-info fw-600">Your Progress</span>
                        <div class="progress-wrap d-flex align-items-center mb-0">
                            <div class="progress">
                                <div class="progress-bar bg-info" role="progressbar" style="width: 83%;" aria-valuenow="83" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <span class="progress-percentage">83%</span>
                        </div>
                    </div>
                    <div class="border-bottom py-3">
                        <h5>Agenda</h5>
                    </div>
                    <div class="user-group-people">
                        <ul class="px-4 py-2" style="list-style: disc;">
                            <li class="fs-13 mt-3">General Information</li>
                            <li class="fs-13 mt-3">Section 1: lntroduction to Data & Al</li>
                            <li class="fs-13 mt-3">Section 2: Industry Use Cases</li>
                            <li class="fs-13 mt-3">Section 3: Software Tools And Platforms</li>
                            <li class="fs-13 mt-3">Section 4: Future Trends</li>
                            <li class="fs-13 mt-3">Section 5: Live Session & Assessment</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="row p-0 m-0">
                    <div class="col-md-12">
                        <div class="card card-default card-md mb-4">
                            <div class="card-header">
                                <a href="#learning_path_detail" style="height: 40px;position: absolute;display: flex;align-items: center;">
                                    <h6 class="mt-0  fw-500 user-group media-ui__title">General Information</h6>
                                </a>
                                <div class="user-group-project-2 w-100">

                                    <span><span data-feather="clock"   class="nav-icon fs-10"></span>   <span class="fs-12">8 - 10 h</span></span>
                                    <span><span data-feather="archive" class="nav-icon fs-10"></span> <span class="fs-12">15 Modules</span></span>
                                    <span><span data-feather="share-2" class="nav-icon fs-10"></span> <span class="fs-12">Share with a friend</span></span>
                                    <span><button type="button" class="btn btn-info btn-sm border text-capitalize px-25 radius-md fs-12">Start</button></span>
                                </div>
                            </div>
                            <div class="card-body py-md-25">
                                <h4 class="pb-4">Data & Al</h4>
                                <p>During this learning experience Ekrem will guide you through trends and developments in data analytics
                                    and Al. You will learn which skills are required to embark on a career in Data & Al and what business use
                                    cases are most impactful. This learning paths contains live Q8A sessions with Ekrem, literature
                                    recommendations and research exercises.
                                </p>
                                <h6 class="fs-14">What you will learn: </h6>
                                <div class="tags pt-2">
                                    <span class="atbd-tag tag-light fs-13 p-2">ui/ux</span>
                                    <span class="atbd-tag tag-light fs-13 p-2">Branding</span>
                                    <span class="atbd-tag tag-light fs-13 p-2">Product design</span>
                                    <span class="atbd-tag tag-light fs-13 p-2">Web design</span>
                                </div>
                            </div>
                            <div class="user-list-item__wrapper pb-5">
                                <div class="avatar avatar-circle ml-0">
                                    <img src="img/ekremnamazci.png" class="rounded-circle wh-46 d-flex bg-opacity-primary" alt="image">
                                </div>
                                <div class="users-list-body">
                                    <div class="users-list-body-title">
                                        <h6 class="fs-14">Ekrem Namazci</h6>
                                        <div class="text-limit" data-maxlength="10">
                                            <p class="mb-0">
                                                <span class="fs-12">Data & AI Lead </span>
                                                <span data-feather="map-pin" class="nav-icon sm ml-2"> </span>
                                                <span class="fs-12"> Microsoft</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card card-default card-md mb-4">
                            <div class="card-header">
                                <a href="#learning_path_detail">
                                    <h6 class="mt-0  fw-500 user-group media-ui__title">Section 1: Introduction to Data & Al</h6>
                                </a>
                            </div>
                            <div class="card-body py-md-25">
                                <h4 class="pb-4">Data & Al</h4>
                                <p>Nam malesuada dolor tellus pretium amet was hendrerit facilisi id vitae enim sed ornare there
                                    Suspendisse sed orci neque ac sed aliquet risus faucibus in pretium molestee.
                                </p>
                                <img src="img/vide_bg.png" alt="video">

                                <div class="row p-0 pt-5">
                                    <div class="col-8">
                                        <div class=" alert alert-info" role="alert">
                                            <div class="alert-content">
                                                <p>Section finished? Click Yes to unlock the next section</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <button type="button" class="btn  btn-outline-success border text-capitalize px-25 radius-md fs-14">
                                            <span data-feather="smile" class="nav-icon ml-1 sw-2"> </span>
                                            Yes
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>