<div class="container-fluid e_page" id="learning_paths" style="display:none;">
    <div>
        <div class="row">
            <div class="col-md-11">
                <div class="row m-0 p-0">
                    <div class="col-lg-12">
                        <div class="breadcrumb-main">
                            <h1 class="text-capitalize breadcrumb-title w-100">
                                Start your digital upskilling and begin a learning path
                                <button type="button" class="btn btn-info border text-capitalize px-25 radius-md fs-12 d-inline-block float-right">Start learning Path</button>
                            </h1>
                        </div>
                    </div>

                    <div class="col-md-6 mb-25">
                        <div class="user-group px-30 pt-30 pb-25 radius-xl bg-white shadow">
                            <div class="border-bottom">
                                <div class="media user-group-media d-flex justify-content-between">
                                    <div class="media-body d-flex align-items-center">
                                        <img class="mr-20 wh-70 rounded-circle bg-opacity-primary" src="img/green-white-br.svg" alt="author">
                                        <div>
                                            <a href="#learning_paths">
                                                <h6 class="mt-0  fw-500">Data & Al</h6>
                                            </a>
                                            <p class="fs-13 color-light mb-0">by Ekrem Namazci</p>
                                        </div>
                                    </div>
                                    <div class="mt-n15">
                                        <span class="bg-info text-white p-1 radius-md fs-12">New</span>
                                    </div>
                                </div>
                                <div class="user-group-people">
                                    <p class="mt-15">During this learning experience Ekrem will guide you through trends and
                                        developments in data analytics and Al. You will learn which skills are required to
                                        embark on a career in Data & Al and what business use cases are most impactful.
                                        This learning paths contains live Q&A sessions with Ekrem, literature
                                        recommendations and research exercises.
                                    </p>
                                </div>
                            </div>
                            <div class="user-group-project">
                                <span><span data-feather="clock"   class="nav-icon fs-10"></span>   <span class="fs-12">6 - 8 h</span></span>
                                <span><span data-feather="archive" class="nav-icon fs-10"></span> <span class="fs-12">13 Modules</span></span>
                                <span><span data-feather="share-2" class="nav-icon fs-10"></span> <span class="fs-12">Share with a friend</span></span>
                                <span>
                                    <a href="#learning_path_detail"><button type="button" class="btn btn-info btn-sm border text-capitalize px-25 radius-md fs-12">Start learning Path</button></a>
                                </span>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-25">
                        <div class="user-group px-30 pt-30 pb-25 radius-xl bg-white shadow">
                            <div class="border-bottom">
                                <div class="media user-group-media d-flex justify-content-between">
                                    <div class="media-body d-flex align-items-center">
                                        <img class="mr-20 wh-70 rounded-circle bg-opacity-primary" src="img/purple-white-br.svg" alt="author">
                                        <div>
                                            <a href="#learning_paths">
                                                <h6 class="mt-0  fw-500">Data Science</h6>
                                            </a>
                                            <p class="fs-13 color-light mb-0">by Dr. Sigrid Rouam</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="user-group-people">
                                    <p class="mt-15">Sigrid is a seasoned global leader of Data Science in the financial industry. In this
                                        learning path she will advise on trends and future developments around Data
                                        Science and Analytics and how to progress in your career as data scientist or ML
                                        engineer. This learning paths contains take-home exercises and verbal Q&A sessions
                                    </p>
                                </div>
                            </div>
                            <div class="user-group-project">
                                <span><span data-feather="clock"   class="nav-icon fs-10"></span>   <span class="fs-12">4 - 5 h</span></span>
                                <span><span data-feather="archive" class="nav-icon fs-10"></span> <span class="fs-12">8 Modules</span></span>
                                <span><span data-feather="share-2" class="nav-icon fs-10"></span> <span class="fs-12">Share with a friend</span></span>
                                <span>
                                    <a href="#learning_path_detail"><button type="button" class="btn btn-info btn-sm border text-capitalize px-25 radius-md fs-12">Start learning Path</button></a>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="breadcrumb-main">
                            <h1 class="text-capitalize breadcrumb-title w-100">
                                All learning paths
                                <div class=" alert alert-warning fs-12 d-inline-block float-right" role="alert">
                                    <div class="alert-content">
                                        <p>Note: You can only access learning paths from assigned Mentors.</p>
                                    </div>
                                </div>
                            </h1>
                            <p class="fs-14">Check all learning paths from our GDEXA mentors</p>
                        </div>
                    </div>

                    <div class="col-md-6 mb-25">
                        <div class="user-group px-30 pt-30 pb-25 radius-xl bg-white shadow">
                            <div class="user-group-disable">
                                <div class="user-group-disable-lock">
                                    <span class="nav-icon" data-feather="lock"></span>
                                </div>
                            </div>
                            <div class="border-bottom">
                                <div class="media user-group-media d-flex justify-content-between">
                                    <div class="media-body d-flex align-items-center">
                                        <img class="mr-20 wh-70 rounded-circle bg-opacity-primary" src="img/red.svg" alt="author">
                                        <div>
                                            <a href="#learning_paths">
                                                <h6 class="mt-0  fw-500">Blockchain Fundamentels</h6>
                                            </a>
                                            <p class="fs-13 color-light mb-0">by Ekrem Namazci</p>
                                        </div>
                                    </div>
                                    <div class="mt-n15">
                                        <span class="bg-info text-white p-1 radius-md fs-12">New</span>
                                    </div>
                                </div>
                                <div class="user-group-people">
                                    <p class="mt-15">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias asperiores assumenda at distinctio libero nam porro quaerat qui, rerum tempore. Accusantium ducimus fugiat quod? Asperiores corporis eligendi odit placeat veritatis!</p>
                                </div>
                            </div>
                            <div class="user-group-project">
                                <span><span data-feather="clock"   class="nav-icon fs-10"></span>   <span class="fs-12">8 - 10 h</span></span>
                                <span><span data-feather="archive" class="nav-icon fs-10"></span> <span class="fs-12">15 Modules</span></span>
                                <span><span data-feather="share-2" class="nav-icon fs-10"></span> <span class="fs-12">Share with a friend</span></span>
                                <span style="visibility: hidden"><button type="button" class="btn btn-info btn-sm border text-capitalize px-25 radius-md fs-12">Start learning Path</button></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-25">
                        <div class="user-group px-30 pt-30 pb-25 radius-xl bg-white shadow">
                            <div class="user-group-disable">
                                <div class="user-group-disable-lock">
                                    <span class="nav-icon" data-feather="lock"></span>
                                </div>
                            </div>
                            <div class="border-bottom">
                                <div class="media user-group-media d-flex justify-content-between">
                                    <div class="media-body d-flex align-items-center">
                                        <img class="mr-20 wh-70 rounded-circle bg-opacity-primary" src="img/red.svg" alt="author">
                                        <div>
                                            <a href="#learning_paths">
                                                <h6 class="mt-0  fw-500">UX Design</h6>
                                            </a>
                                            <p class="fs-13 color-light mb-0">by Ekrem Namazci</p>
                                        </div>
                                    </div>
                                    <div class="mt-n15">
                                        <span class="bg-info text-white p-1 radius-md fs-12">New</span>
                                    </div>
                                </div>
                                <div class="user-group-people">
                                    <p class="mt-15">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias asperiores assumenda at distinctio libero nam porro quaerat qui, rerum tempore. Accusantium ducimus fugiat quod? Asperiores corporis eligendi odit placeat veritatis!</p>
                                </div>
                            </div>
                            <div class="user-group-project">
                                <span><span data-feather="clock"   class="nav-icon fs-10"></span>   <span class="fs-12">8 - 10 h</span></span>
                                <span><span data-feather="archive" class="nav-icon fs-10"></span> <span class="fs-12">15 Modules</span></span>
                                <span><span data-feather="share-2" class="nav-icon fs-10"></span> <span class="fs-12">Share with a friend</span></span>
                                <span style="visibility: hidden"><button type="button" class="btn btn-info btn-sm border text-capitalize px-25 radius-md fs-12">Start learning Path</button></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-25">
                        <div class="user-group px-30 pt-30 pb-25 radius-xl bg-white shadow">
                            <div class="user-group-disable">
                                <div class="user-group-disable-lock">
                                    <span class="nav-icon" data-feather="lock"></span>
                                </div>
                            </div>
                            <div class="border-bottom">
                                <div class="media user-group-media d-flex justify-content-between">
                                    <div class="media-body d-flex align-items-center">
                                        <img class="mr-20 wh-70 rounded-circle bg-opacity-primary" src="img/red.svg" alt="author">
                                        <div>
                                            <a href="#learning_paths">
                                                <h6 class="mt-0  fw-500">Design Thinking</h6>
                                            </a>
                                            <p class="fs-13 color-light mb-0">by Ekrem Namazci</p>
                                        </div>
                                    </div>
                                    <div class="mt-n15">
                                        <span class="bg-info text-white p-1 radius-md fs-12">New</span>
                                    </div>
                                </div>
                                <div class="user-group-people">
                                    <p class="mt-15">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias asperiores assumenda at distinctio libero nam porro quaerat qui, rerum tempore. Accusantium ducimus fugiat quod? Asperiores corporis eligendi odit placeat veritatis!</p>
                                </div>
                            </div>
                            <div class="user-group-project">
                                <span><span data-feather="clock"   class="nav-icon fs-10"></span>   <span class="fs-12">8 - 10 h</span></span>
                                <span><span data-feather="archive" class="nav-icon fs-10"></span> <span class="fs-12">15 Modules</span></span>
                                <span><span data-feather="share-2" class="nav-icon fs-10"></span> <span class="fs-12">Share with a friend</span></span>
                                <span style="visibility: hidden"><button type="button" class="btn btn-info btn-sm border text-capitalize px-25 radius-md fs-12">Start learning Path</button></span>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-25">
                        <div class="user-group px-30 pt-30 pb-25 radius-xl bg-white shadow">
                            <div class="user-group-disable">
                                <div class="user-group-disable-lock">
                                    <span class="nav-icon" data-feather="lock"></span>
                                </div>
                            </div>
                            <div class="border-bottom">
                                <div class="media user-group-media d-flex justify-content-between">
                                    <div class="media-body d-flex align-items-center">
                                        <img class="mr-20 wh-70 rounded-circle bg-opacity-primary" src="img/red.svg" alt="author">
                                        <div>
                                            <a href="#learning_paths">
                                                <h6 class="mt-0  fw-500">C++ Development</h6>
                                            </a>
                                            <p class="fs-13 color-light mb-0">by Ekrem Namazci</p>
                                        </div>
                                    </div>
                                    <div class="mt-n15">
                                        <span class="bg-info text-white p-1 radius-md fs-12">New</span>
                                    </div>
                                </div>
                                <div class="user-group-people">
                                    <p class="mt-15">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias asperiores assumenda at distinctio libero nam porro quaerat qui, rerum tempore. Accusantium ducimus fugiat quod? Asperiores corporis eligendi odit placeat veritatis!</p>
                                </div>
                            </div>
                            <div class="user-group-project">
                                <span><span data-feather="clock"   class="nav-icon fs-10"></span>   <span class="fs-12">8 - 10 h</span></span>
                                <span><span data-feather="archive" class="nav-icon fs-10"></span> <span class="fs-12">15 Modules</span></span>
                                <span><span data-feather="share-2" class="nav-icon fs-10"></span> <span class="fs-12">Share with a friend</span></span>
                                <span style="visibility: hidden"><button type="button" class="btn btn-info btn-sm border text-capitalize px-25 radius-md fs-12">Start learning Path</button></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>