<style>
    span.timeline-single__buble.active {
        background: #39ff39;
        border-color: #19e019 !important;
    }
</style>
<div class="container-fluid e_page" id="men_space" style="display:none;">
    <div>
        <div class="row d-flex flex-column " >
            <div class="col-lg-6 mb-15 " style="margin-top: -40px">
                <div class="social-overview-wrap">
                    <div>
                        <div class="m-top-80">
                            <div class=>
                                <p style="font-size: 26px;color: rgb(0 0 0 / 80%);font-weight: 600;" class="ml-1">Welcome to you Mentoring Space</p>
                                <p  style="margin-top: -15px;font-size: 17px;color: #6e6f7085;font-weight: 600;" class="ml-1">Here you can schedule and manage your Mentoring sessions</p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-25 " style="margin-top: 15px">
                <div class="social-overview-wrap">
                    <div class="card border-0">
                        <div class="card-body">
                            <ul class="socaial-tick">
                                <li class="">
                                    <div class="m-auto">
                                        <img src="img/ekremnamazci.png" width="102" alt="">
                                    </div>

                                    <div class="m-top-10">
                                        <h6 style="font-weight: 600; font-size: 14px;">Ekrem Namazci</h6>
                                        <p style="font-size: 12px">Data & AI Lead <br> <span class="text-center">Microsoft</span></p>
                                    </div>
                                </li>

                                <li class="">
                                    <div class="m-auto">
                                        <img src="img/pagePicture/tic.png" alt="">
                                    </div>
                                    <div class="m-top-10">
                                        <h6 style="  visibility:hidden;font-weight: 600;font-size: 14px;">Ashley Smith</h6>
                                        <p style=" visibility:hidden; font-size: 12px">TU Dortmund<br> <span class="text-center">Recklinghausen</span></p>
                                        <div>
                                            <button class="btn color-white" style="margin-top: -13px; background: #32bea6">
                                                <a style="color: white" href="#master_class">Open Mentoring Space</a></button>
                                        </div>
                                    </div>
                                </li>
                                <li class="">
                                    <div class="m-auto">
                                        <img src="img/ashleysmith.png" width="102"  alt="">
                                    </div>
                                    <div class="m-top-10">
                                        <button style="background: #efefef;color: blue;border: none;border-radius: 16px;height: 22px;font-size: 11px;"><span>1000 XP</span></button>
                                    </div>
                                    <div class="m-top-10">
                                        <h6 style="font-weight: 600; font-size: 14px;">Ashley Smith</h6>
                                        <p style="font-size: 12px">TU Dortmund<br> <span class="text-center">Recklinghausen</span></p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-25 " style="margin-top: 20px">
                <div class="social-overview-wrap">
                    <div class="card border-0">
                        <div class="card-body">
                            <ul class="socaial-ticks">
                                <li class="">
                                    <div class="m-auto">
                                        <img src="img/sigridrouam.png" width="102" alt="">
                                    </div>

                                    <div class="m-top-10">
                                        <h6 style="font-weight: 600; font-size: 14px;">Dr. Sigrid Rouram</h6>
                                        <p style="font-size: 12px">Head of Data Science<br> <span class="text-center">Credit Suisse</span></p>
                                    </div>
                                </li>
                                <li class="">
                                    <div style=" top: -11px;position: relative;">
                                        <img src="img/pagePicture/setting.png" alt="">
                                    </div>
                                    <div class="m-top-10">
                                        <h6 style="  visibility:hidden;font-weight: 600;font-size: 14px;">Ekrem Namazci</h6>
                                        <p style=" visibility:hidden; font-size: 12px">Data & AI Lead <br> <span class="text-center">Microsoft</span></p>
                                        <div>
                                            <button class="btn color-white" style="margin-top: -13px; background: #32bea6">
                                                <a href="#master_class_2" style="color: white" >Open Mentoring Space</a></button>
                                        </div>
                                    </div>
                                </li>
                                <li class="">
                                    <div class="m-auto">
                                        <img src="img/ashleysmith.png" width="102"  alt="">
                                    </div>
                                    <div class="m-top-10">
                                        <button style="background: #efefef;color: blue;border: none;border-radius: 16px;height: 22px;font-size: 11px;"><span>1000 XP</span></button>
                                    </div>
                                    <div class="m-top-10">
                                        <h6 style="font-weight: 600; font-size: 14px;">Ashley Smith</h6>
                                        <p style="font-size: 12px">TU Dortmund<br> <span class="text-center">Recklinghausen</span></p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>