<div class="container-fluid e_page" id="profile" style="display:none;">
    <div class="row">
        <div class="col-lg-12">
            <div class="breadcrumb-main">
                <h1 class="text-capitalize breadcrumb-title">My profile</h1>
            </div>
        </div>

        <div class="col-md-3 mb-25">
            <div class="card card-default card-md mb-4">
                <div class="card-body card-body pt-5 pb-2">
                    <div class="border-bottom">
                        <div class="d-flex flex-column align-items-center pb-3">
                            <div class="ap-img d-flex justify-content-center">
                                <!-- Profile picture image-->
                                <img class="ap-img__main bg-opacity-primary  wh-120 rounded-circle mb-3 " src="img/ashleysmith.png" alt="profile">
                            </div>
                            <h4 class="pb-2">Ashley Smith</h4>
                            <p class="fs-13 mb-1">Business Development</p>
                            <p class="fs-13"><span data-feather="map-pin" class="nav-icon sm"></span> TU München, München</p>
                        </div>
                    </div>
                </div>
                <div class="ps-tab p-20 pb-25">
                    <div class="nav flex-column text-left" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">
                            <span data-feather="user"></span>Edit profile</a>
                        <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">
                            <span data-feather="settings"></span>Account setting</a>
                        <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">
                            <span data-feather="key"></span>change password</a>
                        <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">
                            <span data-feather="users"></span>social profiles</a>
                        <a class="nav-link" id="v-pills-notification-tab" data-toggle="pill" href="#v-pills-notification" role="tab" aria-controls="v-pills-notification" aria-selected="false">
                            <span data-feather="bell"></span>notification</a>
                    </div>
                </div>
            </div>

            <div class="card card-default card-md">
                <div class="card pt-25">
                    <div class="user-bio border-bottom">
                        <div class="card-body pt-md-1 pt-0">
                            <div class="pb-2">
                                <p class="fs-12 mb-1">UNIVERSITY</p>
                                <p class="fs-14 fw-600">TU München</p>
                            </div>
                            <div class="pb-2">
                                <p class="fs-12 mb-1">FIELD OF STUDY</p>
                                <p class="fs-14 fw-600">Business Development</p>
                            </div>
                            <div class="pb-2">
                                <p class="fs-12 mb-1">DESIRED PROFESSION</p>
                                <p class="fs-14 fw-600">Product Manager</p>
                            </div>
                        </div>
                    </div>
                    <div class="user-info border-bottom">
                        <div class="card-header border-0 pt-sm-25 pb-sm-0  px-md-25 px-3">
                            <div class="profile-header-title">
                                Contact info
                            </div>
                        </div>
                        <div class="card-body pt-md-1 pt-0">
                            <div class="user-content-info">
                                <p class="user-content-info__item">
                                    <span data-feather="mail"></span>ashleysmith@googlemail.com
                                </p>
                                <p class="user-content-info__item">
                                    <span data-feather="phone"></span>+44 (0161) 347
                                    8854
                                </p>
                                <p class="user-content-info__item mb-0">
                                    <span data-feather="globe"></span>www.example.com
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="user-skils border-bottom">
                        <div class="card-header border-0 pt-sm-25 pb-sm-0  px-md-25 px-3">
                            <div class="profile-header-title">
                                Skills
                            </div>
                        </div>
                        <div class="card-body pt-md-1 pt-0">
                            <ul class="user-skils-parent">
                                <li class="user-skils-parent__item">
                                    <a href="#">UI/UX</a>
                                </li>
                                <li class="user-skils-parent__item">
                                    <a href="#">Branding</a>
                                </li>
                                <li class="user-skils-parent__item">
                                    <a href="#">product design</a>
                                </li>
                                <li class="user-skils-parent__item">
                                    <a href="#">Application</a>
                                </li>
                                <li class="user-skils-parent__item mb-0">
                                    <a href="#">web design</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="db-social border-bottom">
                        <div class="card-header border-0 pt-sm-25 pb-sm-0  px-md-25 px-3">
                            <div class="profile-header-title">
                                Social Profiles
                            </div>
                        </div>
                        <div class="card-body pt-md-1 pt-0">
                            <ul class="db-social-parent mb-0">
                                <li class="db-social-parent__item">
                                    <a class="color-facebook hover-facebook wh-44 fs-22" href="#">
                                        <i class="lab la-facebook-f"></i>
                                    </a>
                                </li>
                                <li class="db-social-parent__item">
                                    <a class="color-twitter hover-twitter wh-44 fs-22" href="#">
                                        <i class="lab la-twitter"></i>
                                    </a>
                                </li>
                                <li class="db-social-parent__item">
                                    <a class="color-ruby hover-ruby  wh-44 fs-22" href="#">
                                        <i class="las la-basketball-ball"></i>
                                    </a>
                                </li>
                                <li class="db-social-parent__item">
                                    <a class="color-instagram hover-instagram wh-44 fs-22" href="#">
                                        <i class="lab la-instagram"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-md-8">
            <div class="row p-0 m-0">
                <div class="col-md-12">
                    <div class="card card-default card-md mb-4">
                        <div class="card-header">
                            <h5 class="font-weight-bold">Edit Profile</h5>
                            <p class="small pt-1 mb-0">Set up your personal information</p>
                        </div>
                        <div class="card-body py-md-25">
                            <div class="row m-0 pt-0">
                                <div class="col-8">
                                    <form action="#">
                                        <div class="form-group">
                                            <label for="formGroupExampleInput" class="color-dark fs-14 fw-500 align-center">Name</label>
                                            <input type="text" class="form-control ih-medium ip-gray radius-xs b-light px-15" id="formGroupExampleInput" value="Ashley Smith">
                                        </div>
                                        <div class="form-group">
                                            <label for="formGroupExampleInput2" class="color-dark fs-14 fw-500 align-center">Phone Number</label>
                                            <input type="tel" class="form-control ih-medium ip-gray radius-xs b-light px-15" id="formGroupExampleInput2" value="+440 2546 5236">
                                        </div>

                                        <div class="form-group">
                                            <label for="countryOption" class="il-gray fs-14 fw-500 align-center">Country</label>
                                            <select class="form-control px-15" id="countryOption">
                                                <option>Please select</option>
                                                <option>ABD</option>
                                                <option>Germany</option>
                                                <option>Turkey</option>
                                                <option>England</option>
                                                <option>Japanese</option>
                                            </select>
                                        </div>

                                        <div class="form-group">
                                            <label for="countryOption" class="il-gray fs-14 fw-500 align-center">City</label>
                                            <select class="form-control px-15" id="countryOption">
                                                <option>Please Select</option>
                                                <option>...</option>
                                            </select>
                                        </div>

                                        <div class="form-group">
                                            <label for="formGroupExampleInput2" class="color-dark fs-14 fw-500 align-center">University</label>
                                            <input type="text" class="form-control ih-medium ip-gray radius-xs b-light px-15" id="formGroupExampleInput2" value="Example">
                                        </div>

                                        <div class="form-group">
                                            <label for="formGroupExampleInput2" class="color-dark fs-14 fw-500 align-center">Field of study</label>
                                            <input type="text" class="form-control ih-medium ip-gray radius-xs b-light px-15" id="formGroupExampleInput2" value="Example">
                                        </div>

                                        <div class="form-group">
                                            <label for="formGroupExampleInput2" class="color-dark fs-14 fw-500 align-center">Desired Profession</label>
                                            <input type="text" class="form-control ih-medium ip-gray radius-xs b-light px-15" id="formGroupExampleInput2" value="example">
                                        </div>
                                        <div class="form-group">
                                            <label for="tag2" class="il-gray fs-14 fw-500 align-center">Desired Skills</label>
                                            <div class="atbd-select ">
                                                <select name="select-tag2" id="select-tag2" class="form-control " multiple="multiple">
                                                    <option selected value="01">UI/UX</option>
                                                    <option selected value="02">Branding</option>
                                                    <option selected value="03">Product design</option>
                                                    <option selected value="04">Product design</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="row mt-0 p-0">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="countryOption" class="il-gray fs-14 fw-500 align-center">Time Zone</label>
                                                    <select class="form-control px-15" id="countryOption">
                                                        <option>Please Select</option>
                                                        <option>...</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="t99" class="il-gray fs-14 fw-500 align-center">Time Zone</label>
                                                        <select class="form-control px-15" id="countryOption">
                                                        <option>Please Select</option>
                                                        <option>...</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="formGroupExampleInput" class="color-dark fs-14 fw-500 align-center">LinkedIn Profile</label>
                                            <input type="text" class="form-control ih-medium ip-gray radius-xs b-light px-15" id="formGroupExampleInput" placeholder="www.example.com">
                                        </div>

                                        <div class="layout-button mt-25">
                                            <button type="button" class="btn btn-info btn-default btn-squared px-30">Update Profile</button>
                                            <button type="button" class="btn btn-light btn-squared border-normal bg-normal px-20 ">Cancel</button>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>