<div class="container-fluid profile-completion-3 e_page m-top-25" id="talent_last_profile" style="display:none;">
    <div class="row">
        <div class="col-md-3 mb-25">
            <%- include('profile_completion/navigation'); %>
            <%- include('profile_completion/contact_info'); %>
        </div>
        <div class="col-md-8">
            <div class="row p-0 m-0">
                <div class="col-md-12">
                    <div class="card card-default card-md mb-4" style="width: 88.45%">
                        <div class="" style="border: none !important;padding: 30px 37px 12px 21px;">
                            <h5 style="font-size: 20px;color: #000000f5 !important;" class="font-weight-bold">Personal Information</h5>
                            <p style="font-size: 13px;font-weight: 600;color: #a5a5a5;" class="small pt-1 mb-0">Here is an overview of your education</p>
                        </div>
                        <div class="card-body" style="padding: 0.56rem !important; margin-top: -21px;">
                            <div class="row ">
                                <div class="col-8" style="margin-top: 10px">
                                    <table class="table table-borderless education-table" style="width: 60%">
                                        <tbody>
                                            <tr>
                                                <th>Country</th>
                                                <td>Germany</td>
                                            </tr>
                                            <tr>
                                                <th>City</th>
                                                <td>München</td>
                                            </tr>
                                            <tr>
                                                <th>Timezone</th>
                                                <td>CET</td>
                                            </tr>
                                            <tr>
                                                <th>Time prefence</th>
                                                <td>08.00-12.00</td>
                                            </tr>
                                            <tr>
                                                <th>Linkledin Profile</th>
                                                <td> <a href="javascript:void(0)" style="padding: 4px;background: #4887bd;border-radius: 8px;color: white;font-size: 16px;font-weight: 900;">in</a> </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <hr style="margin-top: 0.67rem;margin-bottom: 1.67rem;">
                        </div>
                        <div class="m-left-20">
                            <h5 style="font-size: 20px;color: #000000f5 !important;" class="font-weight-bold" style="font-size:17px">Education</h5>
                            <p style="font-size: 13px;font-weight: 600;color: #a5a5a5;" class="small pt-1 mb-0">Here is an overview of your education</p>
                        </div>
                        <div class="card-body" style="padding: 0.56rem !important; margin-top: 0px;">
                            <div class="row m-0 pt-0">
                                <div class="col-8" style="margin-left: -12px">
                                    <table class="table table-borderless education-table" style="width: 60%">
                                        <tbody>
                                            <tr>
                                                <th>University</th>
                                                <td>TU München</td>
                                            </tr>
                                            <tr>
                                                <th>Field of study</th>
                                                <td>Business Development</td>
                                            </tr>
                                            <tr>
                                                <th>Degree</th>
                                                <td>Bachelor</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <hr style="margin-top: 0.67rem;margin-bottom: 1.67rem;">
                        </div>
                        <div class="m-left-20">
                            <h5 style="font-size: 20px;color: #000000f5 !important;" class="font-weight-bold" style="font-size:17px">Skills & Aspirations</h5>
                            <p style="font-size: 13px;font-weight: 600;color: #a5a5a5;" class="small pt-1 mb-0">Here is an overview of your education</p>
                        </div>
                        <div class="card-body" style="padding: 0.56rem !important; margin-top: 0px;">
                            <div class="row m-0 pt-0">
                                <div class="col-12" style="margin-left: -12px">
                                    <table class="table table-borderless education-table">
                                        <tbody>
                                            <tr>
                                                <th>Languages skills</th>
                                                <td>German, English</td>
                                            </tr>
                                            <tr>
                                                <th>Software skills</th>
                                                <td>Database Administration, IT-Management, IT-Project Management, Java, HTML, Unix, Javascript, Python</td>
                                            </tr>
                                            <tr>
                                                <th>Career aspiration</th>
                                                <td>Project Manager</td>
                                            </tr>
                                            <tr>
                                                <th>Areas of interest</th>
                                                <td class="skill-items">
                                                    <span>UI/UX</span>
                                                    <span>BRANDING</span>
                                                    <span>PRODUCT DESIGN</span>
                                                    <span>APPLICATION</span>
                                                    <span>BLOCKCHAIN</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>Areas of interest</th>
                                                <td class="skill-items">
                                                    <span>UI/UX</span>
                                                    <span>BRANDING</span>
                                                    <span>PRODUCT DESIGN</span>
                                                    <span>APPLICATION</span>
                                                    <span>BLOCKCHAIN</span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
