<div class="mobile-search"></div>
<div class="mobile-author-actions"></div>
<header class="header-top">
    <nav class="navbar navbar-light">
        <div class="navbar-left">
            <a href="#dashboard" class="sidebar-toggle"><img class="svg" src="img/svg/bars.svg" alt="img"></a>
            <a class="navbar-brand" href="#login"><img src="img/Logo_white.png" alt="img" style="height: 50px;max-width: none !important;"></a>
        </div>
        <!-- ends: navbar-left -->

        <div class="navbar-right">
            <ul class="navbar-right__menu">
                <li class="nav-search d-none">
                    <a href="javascript:void(0);" class="search-toggle">
                        <i class="la la-search"></i>
                        <i class="la la-times"></i>
                    </a>
                    <form action="/" class="search-form-topMenu">
                        <span class="search-icon" data-feather="search"></span>
                        <input class="form-control mr-sm-2 box-shadow-none" type="search" placeholder="Search..." aria-label="Search">
                    </form>
                </li>
                <li class="nav-message">
                    <div class="dropdown-custom">
                        <a href="javascript:void(0);" class="nav-item-toggle">
                            <span data-feather="mail"></span></a>
                        <div class="dropdown-wrapper">
                            <h2 class="dropdown-wrapper__title">Messages <span class="badge-circle badge-success ml-1">0</span></h2>
                            <ul>
                                <li>
                                    Empty
                                </li>
                            </ul>
                            <a href="javascript:void(0);" class="dropdown-wrapper__more">See All Message</a>
                        </div>
                    </div>
                </li>
                <!-- ends: nav-message -->
                <li class="nav-notification">
                    <div class="dropdown-custom">
                        <a href="javascript:void(0);" class="nav-item-toggle">
                            <span data-feather="bell"></span></a>
                        <div class="dropdown-wrapper">
                            <h2 class="dropdown-wrapper__title">Notifications <span class="badge-circle badge-warning ml-1">0</span></h2>
                            <ul>
                                <li class="nav-notification__single nav-notification__single d-flex flex-wrap">
                                    Empty
                                </li>
                            </ul>
                            <a href="javascript:void(0);" class="dropdown-wrapper__more">See all incoming activity</a>
                        </div>
                    </div>
                </li>
                <!-- ends: .nav-notification -->
                <li class="nav-settings">
                    <div class="dropdown-custom">
                        <a href="javascript:void(0);" class="nav-item-toggle">
                            <span data-feather="settings"></span></a>
                    </div>
                </li>
                <!-- ends: .nav-settings -->
                <li class="nav-support">
                    <div class="dropdown-custom">
                        <a href="javascript:void(0);" class="nav-item-toggle">
                            <span data-feather="help-circle"></span></a>
                        <div class="dropdown-wrapper">
                            <div class="list-group">
                                <span>Documentation</span>
                                <ul>
                                    <li>
                                        <a href="javascript:void(0);">How to customize admin</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">How to use</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">The relation of vertical spacing</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="list-group">
                                <span>Payments</span>
                                <ul>
                                    <li>
                                        <a href="javascript:void(0);">How to customize admin</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">How to use</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="list-group">
                                <span>Content Planner</span>
                                <ul>
                                    <li>
                                        <a href="javascript:void(0);">How to customize admin</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">How to use</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                <!-- ends: .nav-support -->
                <li class="nav-flag-select">
                    <div class="dropdown-custom">
                        <a href="javascript:void(0);" class="nav-item-toggle"><img src="img/flag_en.png" alt="" class="rounded-circle"></a>
                        <div class="dropdown-wrapper dropdown-wrapper--small">
                            <a href="javascript:void(0);"><img src="img/flag_en.png" alt=""> English</a>
                            <a href="javascript:void(0);"><img src="img/ger.png" alt=""> German</a>
                            <a href="javascript:void(0);"><img src="img/spa.png" alt=""> Spanish</a>
                            <a href="javascript:void(0);"><img src="img/tur.png" alt=""> Turkish</a>
                        </div>
                    </div>
                </li>
                <!-- ends: .nav-flag-select -->
                <li class="nav-author">
                    <div class="dropdown-custom">
                        <a href="javascript:void(0);" class="nav-item-toggle"><img src="img/ashleysmith.png" alt="" class="rounded-circle"></a>
                        <div class="dropdown-wrapper">
                            <div class="nav-author__info">
                                <div class="author-img">
                                    <img src="img/ashleysmith.png" alt="" class="rounded-circle">
                                </div>
                                <div>
                                    <h6>Ashley Smith</h6>
                                    <span>Business Development</span>
                                </div>
                            </div>
                            <div class="nav-author__options">
                                <ul>
                                    <li>
                                        <a href="#profile">
                                            <span data-feather="user"></span> Profile</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">
                                            <span data-feather="settings"></span> Settings</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">
                                            <span data-feather="key"></span> Billing</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">
                                            <span data-feather="users"></span> Activity</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">
                                            <span data-feather="bell"></span> Help</a>
                                    </li>
                                </ul>
                                <a href="" class="nav-author__signout">
                                    <span data-feather="log-out"></span> Sign Out</a>
                            </div>
                        </div>
                        <!-- ends: .dropdown-wrapper -->
                    </div>
                </li>
                <!-- ends: .nav-author -->
            </ul>
            <!-- ends: .navbar-right__menu -->
            <div class="navbar-right__mobileAction d-md-none">
                <a href="javascript:void(0);" class="btn-search">
                    <span data-feather="search"></span>
                    <span data-feather="x"></span></a>
                <a href="javascript:void(0);" class="btn-author-action">
                    <span data-feather="more-vertical"></span></a>
            </div>
        </div>
        <!-- ends: .navbar-right -->
    </nav>
</header>