<aside class="sidebar" id="hr_sidebar" style="display: none;">
    <div class="sidebar__menu-group">
        <ul class="sidebar_nav">
            <li>
                <a href="#hr_dashboard">
                    <span data-feather="home" class="nav-icon"></span>
                    <span class="menu-text">My Dashboard</span>
                </a>
            </li>
            <li>
                <a href="#hr_talent_pool">
                    <span data-feather="user-plus" class="nav-icon"></span>
                    <span class="menu-text">Talent pool</span>
                </a>
            </li>
            <li>
                <a href="#hr_your_unlocked_talents">
                    <span data-feather="calendar" class="nav-icon"></span>
                    <span class="menu-text">Your unlocked talents</span>
                </a>
            </li>
            <li>
                <a href="#hr_job_postings">
                    <span data-feather="user-plus" class="nav-icon"></span>
                    <span class="menu-text">Job postings</span>
                </a>
            </li>
            <li>
                <a href="#" disabled="disabled" style="opacity: 0.5">
                    <span data-feather="calendar" class="nav-icon"></span>
                    <span class="menu-text">Account settings</span>
                </a>
            </li>
        </ul>
    </div>
</aside>