<aside class="sidebar" id="sidebar_mentor" style="display: none;">
    <div class="sidebar__menu-group">
        <ul class="sidebar_nav">
            <li>
                <a href="#dashboard_mentor">
                    <span data-feather="home" class="nav-icon"></span>
                    <span class="menu-text">My Dashboard</span>
                </a>
            </li>
            <li>
                <a href="#mentor_last_profile">
                    <span data-feather="user-plus" class="nav-icon"></span>
                    <span class="menu-text">My Profile</span>
                </a>
            </li>
            <li>
                <a href="#mentor_my_wallet">
                    <span data-feather="calendar" class="nav-icon"></span>
                    <span class="menu-text">My Wallet</span>
                </a>
            </li>
            <li>
                <hr style="margin:35px">
            </li>

            <li class="menu-title">
                <div class="d-flex">
                    <span>Mentoring</span>
                </div>
            </li>
            <li>
                <a href="#masterclass_install_mentor">
                    <span data-feather="user-plus" class="nav-icon"></span>
                    <span class="menu-text">Masterclass</span>
                </a>
            </li>
            <li>
                <a href="#learning_paths_mentors">
                    <span data-feather="calendar" class="nav-icon"></span>
                    <span class="menu-text">Learning Paths</span>
                </a>
            </li>
            <li>
                <a href="#talents_mentor">
                    <span data-feather="calendar" class="nav-icon"></span>
                    <span class="menu-text">Mentoring Space</span>
                </a>
            </li>
            <li>
                <hr style="margin:35px">
            </li>
        </ul>
    </div>
</aside>