<aside class="sidebar" id="sidebar_admin" style="display: none;">
    <div class="sidebar__menu-group">
        <ul class="sidebar_nav">
            <li>
                <a href="#dashboard_admin" class="">
                    <span data-feather="home" class="nav-icon"></span>
                    <span class="menu-text">My Dashboard</span>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)">
                    <span data-feather="user-plus" class="nav-icon"></span>
                    <span class="menu-text">Talents</span>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)">
                    <span data-feather="calendar" class="nav-icon"></span>
                    <span class="menu-text">Mentors</span>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)">
                    <span data-feather="layers" class="nav-icon"></span>
                    <span class="menu-text">Mentoring Sessions</span>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)">
                    <span data-feather="layers" class="nav-icon"></span>
                    <span class="menu-text">Geographics</span>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)">
                    <span data-feather="layers" class="nav-icon"></span>
                    <span class="menu-text">Jobs</span>
                </a>
            </li>
            <li>
                <hr style="margin:35px">
            </li>

            <li class="menu-title">
                <div class="d-flex">
                    <span>Analytics</span>
                </div>
            </li>
            <li>
                <a href="javascript:void(0)">
                    <span data-feather="home" class="nav-icon"></span>
                    <span class="menu-text">Top Skills</span>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)">
                    <span data-feather="user-plus" class="nav-icon"></span>
                    <span class="menu-text">Trending Topics</span>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)">
                    <span data-feather="calendar" class="nav-icon"></span>
                    <span class="menu-text">Most demanded Skills</span>
                </a>
            </li>
            <li>
                <hr style="margin:35px">
            </li>
        </ul>
    </div>
</aside>