<aside class="sidebar" id="sidebar_talent">
    <div class="sidebar__menu-group">
        <ul class="sidebar_nav">
            <li>
                <a href="#dashboard">
                    <span data-feather="home" class="nav-icon"></span>
                    <span class="menu-text">My Dashboard</span>
                </a>
            </li>
            <li>
                <a href="#talent_last_profile">
                    <span data-feather="home" class="nav-icon"></span>
                    <span class="menu-text">My Profile</span>
                </a>
            </li>
            <li>
                <hr style="margin:25px">
            </li>
            <li class="menu-title">
                <span>Mentoring</span>
                <div class="user-group-disable-lock"
                     style="background: #f5dbdb;height: 20px !important; width: 20px!important;">
                        <span style="stroke-width: 2;height: 10px !important; width: 10px!important; color:#f34949;"
                              class="nav-icon" data-feather="lock"></span>
                </div>
            </li>
            <li>
                <a href="#men_matching_overview" class=" ">
                    <span data-feather="user-plus" class="nav-icon"></span>
                    <span class="menu-text">Mentors</span>
                </a>
            </li>
            <li>
                <a href="#learning_path_meeting" class=" ">
                    <span data-feather="user-plus" class="nav-icon"></span>
                    <span class="menu-text">Masterclasses</span>
                </a>
            </li>
            <li>
                <a href="#all_learning_paths" class=" ">
                    <span data-feather="calendar" class="nav-icon"></span>
                    <span class="menu-text">Learning Paths</span>
                </a>
            </li>
            <li>
                <a href="#men_space" class=" ">
                    <span data-feather="layers" class="nav-icon"></span>
                    <span class="menu-text">My Mentoring Space</span>
                </a>
            </li>
            <li>
                <hr style="margin:25px">
            </li>

            <li class="menu-title">
                <div class="d-flex">
                    <span>Skilling</span>
                    <div class="user-group-disable-lock"
                         style="background: #f5dbdb;height: 20px !important; width: 20px!important;">
                        <span style="stroke-width: 2;height: 10px !important; width: 10px!important; color:#f34949;"
                              class="nav-icon" data-feather="lock"></span>
                    </div>
                </div>
            </li>
            <li>
                <a href="#marketplace" class="e_requested_link sidebar-lock-link">
                    <span data-feather="home" class="nav-icon"></span>
                    <span class="menu-text">Marketplace</span>
                </a>
            </li>
            <li>
                <a href="#hackathons" class="e_requested_link sidebar-lock-link">
                    <span data-feather="user-plus" class="nav-icon"></span>
                    <span class="menu-text">Hackathons & Thinkatons</span>
                </a>
            </li>
            <li>
                <a href="#skilling_path" class="e_requested_link sidebar-lock-link">
                    <span data-feather="calendar" class="nav-icon"></span>
                    <span class="menu-text">Skilling Path</span>
                </a>
            </li>
            <li>
                <hr style="margin:25px">
            </li>

            <li class="menu-title">
                <div class="d-flex">
                    <span>Hiring</span>
                    <div class="user-group-disable-lock"
                         style="background: #f5dbdb;height: 20px !important; width: 20px!important;">
                        <span style="stroke-width: 2;height: 10px !important; width: 10px!important; color:#f34949;"
                              class="nav-icon" data-feather="lock"></span>
                    </div>
                </div>
            </li>
            <li>
                <a href="#job_profile" class="sidebar-lock-link e_requested_link">
                    <span data-feather="home" class="nav-icon"></span>
                    <span class="menu-text">Job Profile</span>
                </a>
            </li>
            <li>
                <a href="#job_board" class="sidebar-lock-link e_requested_link">
                    <span data-feather="user-plus" class="nav-icon"></span>
                    <span class="menu-text">Job Board</span>
                </a>
            </li>
            <li>
                <a href="#workshops" class="sidebar-lock-link e_requested_link">
                    <span data-feather="calendar" class="nav-icon"></span>
                    <span class="menu-text">Workshop</span>
                </a>
            </li>
            <li>
                <a href="#interviews_and_offers" class="sidebar-lock-link e_requested_link">
                    <span data-feather="calendar" class="nav-icon"></span>
                    <span class="menu-text">Interviews & Offers</span>
                </a>
            </li>
            <li>
                <hr style="margin:25px">
            </li>
        </ul>
    </div>
</aside>